@font-face {
  font-family: "MontserratRegular";
  src: url("../fonts/MontserratRegular/MontserratRegular.ttf");
}
@font-face {
  font-family: "MontserratBlack";
  src: url("../fonts/MontserratBlack/MontserratBlack.ttf");
}
@font-face {
  font-family: "MontserratBold";
  src: url("../fonts/MontserratBold/MontserratBold.ttf");
}
@font-face {
  font-family: "MontserratLight";
  src: url("../fonts/MontserratLight/MontserratLight.ttf");
}
@font-face {
  font-family: "MontserratMedium";
  src: url("../fonts/MontserratMedium/MontserratMedium.ttf");
}
@font-face {
  font-family: "MontserratRegular";
  src: url("../fonts/MontserratRegular/MontserratRegular.ttf");
}
@font-face {
  font-family: "MontserratSemiBold";
  src: url("../fonts/MontserratSemiBold/MontserratSemiBold.ttf");
}
.fw-reset, body {
  margin: 0;
  font-weight: normal;
  padding: 0;
  list-style: none;
  background-color: transparent;
  border: none;
  font-family: inherit;
  color: inherit;
  text-decoration: inherit;
}

.fw-inline-block {
  display: inline-block;
  vertical-align: middle;
}

.fw-block {
  display: block;
  vertical-align: middle;
}

.fw-absolute {
  position: absolute;
}

.fw-relative {
  position: relative;
}

.fw-bg-color-light-pale-yellow {
  background-color: #fdf7f2;
}

.fw-color-light-pale-yellow {
  color: #fdf7f2;
}

.fw-bg-color-dark-text {
  background-color: #070707;
}

.fw-color-dark-text {
  color: #070707;
}

.fw-bg-color-pale-yellow {
  background-color: #caa98b;
}

.fw-color-pale-yellow {
  color: #caa98b;
}

.fw-bg-color-gray-text {
  background-color: #a6a6a6;
}

.fw-color-gray-text {
  color: #a6a6a6;
}

.fw-bg-color-white {
  background-color: #fff;
}

.fw-color-white {
  color: #fff;
}

.fw-bg-color-text {
  background-color: #2d2d2d;
}

.fw-color-text {
  color: #2d2d2d;
}

.fw-bg-color-dark-red {
  background-color: #a61c35;
}

.fw-color-dark-red {
  color: #a61c35;
}

.fw-bg-cover {
  -moz-background-size: cover;
  background-size: cover;
}

.fw-bg-no-repeat {
  background-repeat: no-repeat;
}

.fw-bg-center {
  background-position: center center;
}

.fw-bg-fixed {
  background-attachment: fixed;
}

.fw-max-width-percent-100 {
  max-width: 100%;
}

.fw-width-auto {
  width: auto;
}

.fw-width-fit-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.fw-width-0 {
  width: 0px;
}

.fw-max-width-0 {
  max-width: 0px;
}

.fw-width-170 {
  width: 170px;
}

.fw-max-width-170 {
  max-width: 170px;
}

.fw-width-210 {
  width: 210px;
}

.fw-max-width-210 {
  max-width: 210px;
}

.fw-width-255 {
  width: 255px;
}

.fw-max-width-255 {
  max-width: 255px;
}

.fw-width-520 {
  width: 520px;
}

.fw-max-width-520 {
  max-width: 520px;
}

.fw-width-615 {
  width: 615px;
}

.fw-max-width-615 {
  max-width: 615px;
}

.fw-width-1-1 {
  width: 100%;
}

.fw-width-1-2 {
  width: 50%;
}

.fw-width-1-3 {
  width: 33.33333%;
}

.fw-width-2-3 {
  width: 66.66667%;
}

.fw-width-1-4 {
  width: 25%;
}

.fw-width-2-4 {
  width: 50%;
}

.fw-width-3-4 {
  width: 75%;
}

.fw-width-1-5 {
  width: 20%;
}

.fw-width-2-5 {
  width: 40%;
}

.fw-width-3-5 {
  width: 60%;
}

.fw-width-4-5 {
  width: 80%;
}

.fw-width-1-6 {
  width: 16.66667%;
}

.fw-width-5-6 {
  width: 83.33333%;
}

@media screen and (max-width: 950px) {
  .fw-width-0\@xl {
    width: 0px;
  }

  .fw-max-width-0\@xl {
    max-width: 0px;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-170\@xl {
    width: 170px;
  }

  .fw-max-width-170\@xl {
    max-width: 170px;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-210\@xl {
    width: 210px;
  }

  .fw-max-width-210\@xl {
    max-width: 210px;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-255\@xl {
    width: 255px;
  }

  .fw-max-width-255\@xl {
    max-width: 255px;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-520\@xl {
    width: 520px;
  }

  .fw-max-width-520\@xl {
    max-width: 520px;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-615\@xl {
    width: 615px;
  }

  .fw-max-width-615\@xl {
    max-width: 615px;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-1-1\@xl {
    width: 100%;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-1-2\@xl {
    width: 50%;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-1-3\@xl {
    width: 33.33333%;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-2-3\@xl {
    width: 66.66667%;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-1-4\@xl {
    width: 25%;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-2-4\@xl {
    width: 50%;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-3-4\@xl {
    width: 75%;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-1-5\@xl {
    width: 20%;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-2-5\@xl {
    width: 40%;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-3-5\@xl {
    width: 60%;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-4-5\@xl {
    width: 80%;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-1-6\@xl {
    width: 16.66667%;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-5-6\@xl {
    width: 83.33333%;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-auto\@xl {
    width: auto;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-0\@xs {
    width: 0px;
  }

  .fw-max-width-0\@xs {
    max-width: 0px;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-170\@xs {
    width: 170px;
  }

  .fw-max-width-170\@xs {
    max-width: 170px;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-210\@xs {
    width: 210px;
  }

  .fw-max-width-210\@xs {
    max-width: 210px;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-255\@xs {
    width: 255px;
  }

  .fw-max-width-255\@xs {
    max-width: 255px;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-520\@xs {
    width: 520px;
  }

  .fw-max-width-520\@xs {
    max-width: 520px;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-615\@xs {
    width: 615px;
  }

  .fw-max-width-615\@xs {
    max-width: 615px;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-1-1\@xs {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-1-2\@xs {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-1-3\@xs {
    width: 33.33333%;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-2-3\@xs {
    width: 66.66667%;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-1-4\@xs {
    width: 25%;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-2-4\@xs {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-3-4\@xs {
    width: 75%;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-1-5\@xs {
    width: 20%;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-2-5\@xs {
    width: 40%;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-3-5\@xs {
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-4-5\@xs {
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-1-6\@xs {
    width: 16.66667%;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-5-6\@xs {
    width: 83.33333%;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-auto\@xs {
    width: auto;
  }
}
.fw-max-height-percent-100 {
  max-height: 100%;
}

.fw-height-1-1 {
  height: 100%;
}

.fw-height-1-1 {
  height: 100%;
}

.fw-height-0 {
  height: 0px;
}

.fw-max-height-0 {
  max-height: 0px;
}

.fw-min-height-0 {
  min-height: 0px;
}

.fw-height-138 {
  height: 138px;
}

.fw-max-height-138 {
  max-height: 138px;
}

.fw-min-height-138 {
  min-height: 138px;
}

.fw-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.fw-grid-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fw-grid-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.fw-grid-bottom {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fw-grid-match {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.fw-grid-0 {
  margin-left: -0px;
  margin-bottom: -0px;
}
.fw-grid-0 > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0px;
  margin-bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.fw-grid-90 {
  margin-left: -90px;
  margin-bottom: -90px;
}
.fw-grid-90 > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 90px;
  margin-bottom: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.fw-grid-195 {
  margin-left: -195px;
  margin-bottom: -195px;
}
.fw-grid-195 > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 195px;
  margin-bottom: 195px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.fw-margin-auto {
  margin: auto;
}

.fw-mt-auto {
  margin-top: auto;
}

.fw-mb-auto {
  margin-bottom: auto;
}

.fw-mr-auto {
  margin-right: auto;
}

.fw-ml-auto {
  margin-left: auto;
}

.fw-margin-0 {
  margin: 0px;
}

.fw-mt-0 {
  margin-top: 0px;
}

.fw-mb-0 {
  margin-bottom: 0px;
}

.fw-ml-0 {
  margin-left: 0px;
}

.fw-mr-0 {
  margin-right: 0px;
}

.fw-margin-10 {
  margin: 10px;
}

.fw-mt-10 {
  margin-top: 10px;
}

.fw-mb-10 {
  margin-bottom: 10px;
}

.fw-ml-10 {
  margin-left: 10px;
}

.fw-mr-10 {
  margin-right: 10px;
}

.fw-margin-15 {
  margin: 15px;
}

.fw-mt-15 {
  margin-top: 15px;
}

.fw-mb-15 {
  margin-bottom: 15px;
}

.fw-ml-15 {
  margin-left: 15px;
}

.fw-mr-15 {
  margin-right: 15px;
}

.fw-margin-20 {
  margin: 20px;
}

.fw-mt-20 {
  margin-top: 20px;
}

.fw-mb-20 {
  margin-bottom: 20px;
}

.fw-ml-20 {
  margin-left: 20px;
}

.fw-mr-20 {
  margin-right: 20px;
}

.fw-margin-25 {
  margin: 25px;
}

.fw-mt-25 {
  margin-top: 25px;
}

.fw-mb-25 {
  margin-bottom: 25px;
}

.fw-ml-25 {
  margin-left: 25px;
}

.fw-mr-25 {
  margin-right: 25px;
}

.fw-margin-30 {
  margin: 30px;
}

.fw-mt-30 {
  margin-top: 30px;
}

.fw-mb-30 {
  margin-bottom: 30px;
}

.fw-ml-30 {
  margin-left: 30px;
}

.fw-mr-30 {
  margin-right: 30px;
}

.fw-margin-35 {
  margin: 35px;
}

.fw-mt-35 {
  margin-top: 35px;
}

.fw-mb-35 {
  margin-bottom: 35px;
}

.fw-ml-35 {
  margin-left: 35px;
}

.fw-mr-35 {
  margin-right: 35px;
}

.fw-margin-40 {
  margin: 40px;
}

.fw-mt-40 {
  margin-top: 40px;
}

.fw-mb-40 {
  margin-bottom: 40px;
}

.fw-ml-40 {
  margin-left: 40px;
}

.fw-mr-40 {
  margin-right: 40px;
}

.fw-margin-50 {
  margin: 50px;
}

.fw-mt-50 {
  margin-top: 50px;
}

.fw-mb-50 {
  margin-bottom: 50px;
}

.fw-ml-50 {
  margin-left: 50px;
}

.fw-mr-50 {
  margin-right: 50px;
}

.fw-margin-60 {
  margin: 60px;
}

.fw-mt-60 {
  margin-top: 60px;
}

.fw-mb-60 {
  margin-bottom: 60px;
}

.fw-ml-60 {
  margin-left: 60px;
}

.fw-mr-60 {
  margin-right: 60px;
}

.fw-margin-73 {
  margin: 73px;
}

.fw-mt-73 {
  margin-top: 73px;
}

.fw-mb-73 {
  margin-bottom: 73px;
}

.fw-ml-73 {
  margin-left: 73px;
}

.fw-mr-73 {
  margin-right: 73px;
}

.fw-margin-110 {
  margin: 110px;
}

.fw-mt-110 {
  margin-top: 110px;
}

.fw-mb-110 {
  margin-bottom: 110px;
}

.fw-ml-110 {
  margin-left: 110px;
}

.fw-mr-110 {
  margin-right: 110px;
}

.fw-margin-130 {
  margin: 130px;
}

.fw-mt-130 {
  margin-top: 130px;
}

.fw-mb-130 {
  margin-bottom: 130px;
}

.fw-ml-130 {
  margin-left: 130px;
}

.fw-mr-130 {
  margin-right: 130px;
}

.fw-margin-140 {
  margin: 140px;
}

.fw-mt-140 {
  margin-top: 140px;
}

.fw-mb-140 {
  margin-bottom: 140px;
}

.fw-ml-140 {
  margin-left: 140px;
}

.fw-mr-140 {
  margin-right: 140px;
}

@media screen and (max-width: 950px) {
  .fw-margin-0\@xl {
    margin: 0px;
  }

  .fw-mt-0\@xl {
    margin-top: 0px;
  }

  .fw-mb-0\@xl {
    margin-bottom: 0px;
  }

  .fw-ml-0\@xl {
    margin-left: 0px;
  }

  .fw-mr-0\@xl {
    margin-right: 0px;
  }
}
@media screen and (max-width: 950px) {
  .fw-margin-10\@xl {
    margin: 10px;
  }

  .fw-mt-10\@xl {
    margin-top: 10px;
  }

  .fw-mb-10\@xl {
    margin-bottom: 10px;
  }

  .fw-ml-10\@xl {
    margin-left: 10px;
  }

  .fw-mr-10\@xl {
    margin-right: 10px;
  }
}
@media screen and (max-width: 950px) {
  .fw-margin-15\@xl {
    margin: 15px;
  }

  .fw-mt-15\@xl {
    margin-top: 15px;
  }

  .fw-mb-15\@xl {
    margin-bottom: 15px;
  }

  .fw-ml-15\@xl {
    margin-left: 15px;
  }

  .fw-mr-15\@xl {
    margin-right: 15px;
  }
}
@media screen and (max-width: 950px) {
  .fw-margin-20\@xl {
    margin: 20px;
  }

  .fw-mt-20\@xl {
    margin-top: 20px;
  }

  .fw-mb-20\@xl {
    margin-bottom: 20px;
  }

  .fw-ml-20\@xl {
    margin-left: 20px;
  }

  .fw-mr-20\@xl {
    margin-right: 20px;
  }
}
@media screen and (max-width: 950px) {
  .fw-margin-25\@xl {
    margin: 25px;
  }

  .fw-mt-25\@xl {
    margin-top: 25px;
  }

  .fw-mb-25\@xl {
    margin-bottom: 25px;
  }

  .fw-ml-25\@xl {
    margin-left: 25px;
  }

  .fw-mr-25\@xl {
    margin-right: 25px;
  }
}
@media screen and (max-width: 950px) {
  .fw-margin-30\@xl {
    margin: 30px;
  }

  .fw-mt-30\@xl {
    margin-top: 30px;
  }

  .fw-mb-30\@xl {
    margin-bottom: 30px;
  }

  .fw-ml-30\@xl {
    margin-left: 30px;
  }

  .fw-mr-30\@xl {
    margin-right: 30px;
  }
}
@media screen and (max-width: 950px) {
  .fw-margin-35\@xl {
    margin: 35px;
  }

  .fw-mt-35\@xl {
    margin-top: 35px;
  }

  .fw-mb-35\@xl {
    margin-bottom: 35px;
  }

  .fw-ml-35\@xl {
    margin-left: 35px;
  }

  .fw-mr-35\@xl {
    margin-right: 35px;
  }
}
@media screen and (max-width: 950px) {
  .fw-margin-40\@xl {
    margin: 40px;
  }

  .fw-mt-40\@xl {
    margin-top: 40px;
  }

  .fw-mb-40\@xl {
    margin-bottom: 40px;
  }

  .fw-ml-40\@xl {
    margin-left: 40px;
  }

  .fw-mr-40\@xl {
    margin-right: 40px;
  }
}
@media screen and (max-width: 950px) {
  .fw-margin-50\@xl {
    margin: 50px;
  }

  .fw-mt-50\@xl {
    margin-top: 50px;
  }

  .fw-mb-50\@xl {
    margin-bottom: 50px;
  }

  .fw-ml-50\@xl {
    margin-left: 50px;
  }

  .fw-mr-50\@xl {
    margin-right: 50px;
  }
}
@media screen and (max-width: 950px) {
  .fw-margin-60\@xl {
    margin: 60px;
  }

  .fw-mt-60\@xl {
    margin-top: 60px;
  }

  .fw-mb-60\@xl {
    margin-bottom: 60px;
  }

  .fw-ml-60\@xl {
    margin-left: 60px;
  }

  .fw-mr-60\@xl {
    margin-right: 60px;
  }
}
@media screen and (max-width: 950px) {
  .fw-margin-73\@xl {
    margin: 73px;
  }

  .fw-mt-73\@xl {
    margin-top: 73px;
  }

  .fw-mb-73\@xl {
    margin-bottom: 73px;
  }

  .fw-ml-73\@xl {
    margin-left: 73px;
  }

  .fw-mr-73\@xl {
    margin-right: 73px;
  }
}
@media screen and (max-width: 950px) {
  .fw-margin-110\@xl {
    margin: 110px;
  }

  .fw-mt-110\@xl {
    margin-top: 110px;
  }

  .fw-mb-110\@xl {
    margin-bottom: 110px;
  }

  .fw-ml-110\@xl {
    margin-left: 110px;
  }

  .fw-mr-110\@xl {
    margin-right: 110px;
  }
}
@media screen and (max-width: 950px) {
  .fw-margin-130\@xl {
    margin: 130px;
  }

  .fw-mt-130\@xl {
    margin-top: 130px;
  }

  .fw-mb-130\@xl {
    margin-bottom: 130px;
  }

  .fw-ml-130\@xl {
    margin-left: 130px;
  }

  .fw-mr-130\@xl {
    margin-right: 130px;
  }
}
@media screen and (max-width: 950px) {
  .fw-margin-140\@xl {
    margin: 140px;
  }

  .fw-mt-140\@xl {
    margin-top: 140px;
  }

  .fw-mb-140\@xl {
    margin-bottom: 140px;
  }

  .fw-ml-140\@xl {
    margin-left: 140px;
  }

  .fw-mr-140\@xl {
    margin-right: 140px;
  }
}
@media screen and (max-width: 767px) {
  .fw-margin-0\@xs {
    margin: 0px;
  }

  .fw-mt-0\@xs {
    margin-top: 0px;
  }

  .fw-mb-0\@xs {
    margin-bottom: 0px;
  }

  .fw-ml-0\@xs {
    margin-left: 0px;
  }

  .fw-mr-0\@xs {
    margin-right: 0px;
  }
}
@media screen and (max-width: 767px) {
  .fw-margin-10\@xs {
    margin: 10px;
  }

  .fw-mt-10\@xs {
    margin-top: 10px;
  }

  .fw-mb-10\@xs {
    margin-bottom: 10px;
  }

  .fw-ml-10\@xs {
    margin-left: 10px;
  }

  .fw-mr-10\@xs {
    margin-right: 10px;
  }
}
@media screen and (max-width: 767px) {
  .fw-margin-15\@xs {
    margin: 15px;
  }

  .fw-mt-15\@xs {
    margin-top: 15px;
  }

  .fw-mb-15\@xs {
    margin-bottom: 15px;
  }

  .fw-ml-15\@xs {
    margin-left: 15px;
  }

  .fw-mr-15\@xs {
    margin-right: 15px;
  }
}
@media screen and (max-width: 767px) {
  .fw-margin-20\@xs {
    margin: 20px;
  }

  .fw-mt-20\@xs {
    margin-top: 20px;
  }

  .fw-mb-20\@xs {
    margin-bottom: 20px;
  }

  .fw-ml-20\@xs {
    margin-left: 20px;
  }

  .fw-mr-20\@xs {
    margin-right: 20px;
  }
}
@media screen and (max-width: 767px) {
  .fw-margin-25\@xs {
    margin: 25px;
  }

  .fw-mt-25\@xs {
    margin-top: 25px;
  }

  .fw-mb-25\@xs {
    margin-bottom: 25px;
  }

  .fw-ml-25\@xs {
    margin-left: 25px;
  }

  .fw-mr-25\@xs {
    margin-right: 25px;
  }
}
@media screen and (max-width: 767px) {
  .fw-margin-30\@xs {
    margin: 30px;
  }

  .fw-mt-30\@xs {
    margin-top: 30px;
  }

  .fw-mb-30\@xs {
    margin-bottom: 30px;
  }

  .fw-ml-30\@xs {
    margin-left: 30px;
  }

  .fw-mr-30\@xs {
    margin-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .fw-margin-35\@xs {
    margin: 35px;
  }

  .fw-mt-35\@xs {
    margin-top: 35px;
  }

  .fw-mb-35\@xs {
    margin-bottom: 35px;
  }

  .fw-ml-35\@xs {
    margin-left: 35px;
  }

  .fw-mr-35\@xs {
    margin-right: 35px;
  }
}
@media screen and (max-width: 767px) {
  .fw-margin-40\@xs {
    margin: 40px;
  }

  .fw-mt-40\@xs {
    margin-top: 40px;
  }

  .fw-mb-40\@xs {
    margin-bottom: 40px;
  }

  .fw-ml-40\@xs {
    margin-left: 40px;
  }

  .fw-mr-40\@xs {
    margin-right: 40px;
  }
}
@media screen and (max-width: 767px) {
  .fw-margin-50\@xs {
    margin: 50px;
  }

  .fw-mt-50\@xs {
    margin-top: 50px;
  }

  .fw-mb-50\@xs {
    margin-bottom: 50px;
  }

  .fw-ml-50\@xs {
    margin-left: 50px;
  }

  .fw-mr-50\@xs {
    margin-right: 50px;
  }
}
@media screen and (max-width: 767px) {
  .fw-margin-60\@xs {
    margin: 60px;
  }

  .fw-mt-60\@xs {
    margin-top: 60px;
  }

  .fw-mb-60\@xs {
    margin-bottom: 60px;
  }

  .fw-ml-60\@xs {
    margin-left: 60px;
  }

  .fw-mr-60\@xs {
    margin-right: 60px;
  }
}
@media screen and (max-width: 767px) {
  .fw-margin-73\@xs {
    margin: 73px;
  }

  .fw-mt-73\@xs {
    margin-top: 73px;
  }

  .fw-mb-73\@xs {
    margin-bottom: 73px;
  }

  .fw-ml-73\@xs {
    margin-left: 73px;
  }

  .fw-mr-73\@xs {
    margin-right: 73px;
  }
}
@media screen and (max-width: 767px) {
  .fw-margin-110\@xs {
    margin: 110px;
  }

  .fw-mt-110\@xs {
    margin-top: 110px;
  }

  .fw-mb-110\@xs {
    margin-bottom: 110px;
  }

  .fw-ml-110\@xs {
    margin-left: 110px;
  }

  .fw-mr-110\@xs {
    margin-right: 110px;
  }
}
@media screen and (max-width: 767px) {
  .fw-margin-130\@xs {
    margin: 130px;
  }

  .fw-mt-130\@xs {
    margin-top: 130px;
  }

  .fw-mb-130\@xs {
    margin-bottom: 130px;
  }

  .fw-ml-130\@xs {
    margin-left: 130px;
  }

  .fw-mr-130\@xs {
    margin-right: 130px;
  }
}
@media screen and (max-width: 767px) {
  .fw-margin-140\@xs {
    margin: 140px;
  }

  .fw-mt-140\@xs {
    margin-top: 140px;
  }

  .fw-mb-140\@xs {
    margin-bottom: 140px;
  }

  .fw-ml-140\@xs {
    margin-left: 140px;
  }

  .fw-mr-140\@xs {
    margin-right: 140px;
  }
}
.fw-mt-inverse-0 {
  margin-top: -0px;
}

.fw-mb-inverse-0 {
  margin-bottom: -0px;
}

.fw-ml-inverse-0 {
  margin-left: -0px;
}

.fw-mr-inverse-0 {
  margin-right: -0px;
}

@media screen and (max-width: 767px) {
  .fw-mt-inverse-0\@xs {
    margin-top: -0px;
  }

  .fw-mb-inverse-0\@xs {
    margin-bottom: -0px;
  }

  .fw-ml-inverse-0\@xs {
    margin-left: -0px;
  }

  .fw-mr-inverse-0\@xs {
    margin-right: -0px;
  }
}
.fw-padding-0 {
  padding: 0px;
}

.fw-padding-20 {
  padding: 20px;
}

.fw-padding-30 {
  padding: 30px;
}

.fw-padding-45 {
  padding: 45px;
}

.fw-padding-35 {
  padding: 35px;
}

.fw-padding-50 {
  padding: 50px;
}

.fw-padding-55 {
  padding: 55px;
}

.fw-padding-70 {
  padding: 70px;
}

.fw-padding-80 {
  padding: 80px;
}

.fw-padding-85 {
  padding: 85px;
}

.fw-padding-90 {
  padding: 90px;
}

.fw-padding-95 {
  padding: 95px;
}

.fw-padding-100 {
  padding: 100px;
}

.fw-padding-110 {
  padding: 110px;
}

.fw-padding-150 {
  padding: 150px;
}

.fw-padding-160 {
  padding: 160px;
}

.fw-padding-170 {
  padding: 170px;
}

.fw-padding-200 {
  padding: 200px;
}

.fw-padding-220 {
  padding: 220px;
}

.fw-padding-290 {
  padding: 290px;
}

.fw-pt-0 {
  padding-top: 0px;
}

.fw-pb-0 {
  padding-bottom: 0px;
}

.fw-pl-0 {
  padding-left: 0px;
}

.fw-pr-0 {
  padding-right: 0px;
}

.fw-pt-20 {
  padding-top: 20px;
}

.fw-pb-20 {
  padding-bottom: 20px;
}

.fw-pl-20 {
  padding-left: 20px;
}

.fw-pr-20 {
  padding-right: 20px;
}

.fw-pt-30 {
  padding-top: 30px;
}

.fw-pb-30 {
  padding-bottom: 30px;
}

.fw-pl-30 {
  padding-left: 30px;
}

.fw-pr-30 {
  padding-right: 30px;
}

.fw-pt-45 {
  padding-top: 45px;
}

.fw-pb-45 {
  padding-bottom: 45px;
}

.fw-pl-45 {
  padding-left: 45px;
}

.fw-pr-45 {
  padding-right: 45px;
}

.fw-pt-35 {
  padding-top: 35px;
}

.fw-pb-35 {
  padding-bottom: 35px;
}

.fw-pl-35 {
  padding-left: 35px;
}

.fw-pr-35 {
  padding-right: 35px;
}

.fw-pt-50 {
  padding-top: 50px;
}

.fw-pb-50 {
  padding-bottom: 50px;
}

.fw-pl-50 {
  padding-left: 50px;
}

.fw-pr-50 {
  padding-right: 50px;
}

.fw-pt-55 {
  padding-top: 55px;
}

.fw-pb-55 {
  padding-bottom: 55px;
}

.fw-pl-55 {
  padding-left: 55px;
}

.fw-pr-55 {
  padding-right: 55px;
}

.fw-pt-70 {
  padding-top: 70px;
}

.fw-pb-70 {
  padding-bottom: 70px;
}

.fw-pl-70 {
  padding-left: 70px;
}

.fw-pr-70 {
  padding-right: 70px;
}

.fw-pt-80 {
  padding-top: 80px;
}

.fw-pb-80 {
  padding-bottom: 80px;
}

.fw-pl-80 {
  padding-left: 80px;
}

.fw-pr-80 {
  padding-right: 80px;
}

.fw-pt-85 {
  padding-top: 85px;
}

.fw-pb-85 {
  padding-bottom: 85px;
}

.fw-pl-85 {
  padding-left: 85px;
}

.fw-pr-85 {
  padding-right: 85px;
}

.fw-pt-90 {
  padding-top: 90px;
}

.fw-pb-90 {
  padding-bottom: 90px;
}

.fw-pl-90 {
  padding-left: 90px;
}

.fw-pr-90 {
  padding-right: 90px;
}

.fw-pt-95 {
  padding-top: 95px;
}

.fw-pb-95 {
  padding-bottom: 95px;
}

.fw-pl-95 {
  padding-left: 95px;
}

.fw-pr-95 {
  padding-right: 95px;
}

.fw-pt-100 {
  padding-top: 100px;
}

.fw-pb-100 {
  padding-bottom: 100px;
}

.fw-pl-100 {
  padding-left: 100px;
}

.fw-pr-100 {
  padding-right: 100px;
}

.fw-pt-110 {
  padding-top: 110px;
}

.fw-pb-110 {
  padding-bottom: 110px;
}

.fw-pl-110 {
  padding-left: 110px;
}

.fw-pr-110 {
  padding-right: 110px;
}

.fw-pt-150 {
  padding-top: 150px;
}

.fw-pb-150 {
  padding-bottom: 150px;
}

.fw-pl-150 {
  padding-left: 150px;
}

.fw-pr-150 {
  padding-right: 150px;
}

.fw-pt-160 {
  padding-top: 160px;
}

.fw-pb-160 {
  padding-bottom: 160px;
}

.fw-pl-160 {
  padding-left: 160px;
}

.fw-pr-160 {
  padding-right: 160px;
}

.fw-pt-170 {
  padding-top: 170px;
}

.fw-pb-170 {
  padding-bottom: 170px;
}

.fw-pl-170 {
  padding-left: 170px;
}

.fw-pr-170 {
  padding-right: 170px;
}

.fw-pt-200 {
  padding-top: 200px;
}

.fw-pb-200 {
  padding-bottom: 200px;
}

.fw-pl-200 {
  padding-left: 200px;
}

.fw-pr-200 {
  padding-right: 200px;
}

.fw-pt-220 {
  padding-top: 220px;
}

.fw-pb-220 {
  padding-bottom: 220px;
}

.fw-pl-220 {
  padding-left: 220px;
}

.fw-pr-220 {
  padding-right: 220px;
}

.fw-pt-290 {
  padding-top: 290px;
}

.fw-pb-290 {
  padding-bottom: 290px;
}

.fw-pl-290 {
  padding-left: 290px;
}

.fw-pr-290 {
  padding-right: 290px;
}

@media screen and (max-width: 950px) {
  .fw-padding-0\@xl {
    padding: 0px;
  }

  .fw-pt-0\@xl {
    padding-top: 0px;
  }

  .fw-pb-0\@xl {
    padding-bottom: 0px;
  }

  .fw-pl-0\@xl {
    padding-left: 0px;
  }

  .fw-pr-0\@xl {
    padding-right: 0px;
  }
}
@media screen and (max-width: 950px) {
  .fw-padding-20\@xl {
    padding: 20px;
  }

  .fw-pt-20\@xl {
    padding-top: 20px;
  }

  .fw-pb-20\@xl {
    padding-bottom: 20px;
  }

  .fw-pl-20\@xl {
    padding-left: 20px;
  }

  .fw-pr-20\@xl {
    padding-right: 20px;
  }
}
@media screen and (max-width: 950px) {
  .fw-padding-30\@xl {
    padding: 30px;
  }

  .fw-pt-30\@xl {
    padding-top: 30px;
  }

  .fw-pb-30\@xl {
    padding-bottom: 30px;
  }

  .fw-pl-30\@xl {
    padding-left: 30px;
  }

  .fw-pr-30\@xl {
    padding-right: 30px;
  }
}
@media screen and (max-width: 950px) {
  .fw-padding-45\@xl {
    padding: 45px;
  }

  .fw-pt-45\@xl {
    padding-top: 45px;
  }

  .fw-pb-45\@xl {
    padding-bottom: 45px;
  }

  .fw-pl-45\@xl {
    padding-left: 45px;
  }

  .fw-pr-45\@xl {
    padding-right: 45px;
  }
}
@media screen and (max-width: 950px) {
  .fw-padding-35\@xl {
    padding: 35px;
  }

  .fw-pt-35\@xl {
    padding-top: 35px;
  }

  .fw-pb-35\@xl {
    padding-bottom: 35px;
  }

  .fw-pl-35\@xl {
    padding-left: 35px;
  }

  .fw-pr-35\@xl {
    padding-right: 35px;
  }
}
@media screen and (max-width: 950px) {
  .fw-padding-50\@xl {
    padding: 50px;
  }

  .fw-pt-50\@xl {
    padding-top: 50px;
  }

  .fw-pb-50\@xl {
    padding-bottom: 50px;
  }

  .fw-pl-50\@xl {
    padding-left: 50px;
  }

  .fw-pr-50\@xl {
    padding-right: 50px;
  }
}
@media screen and (max-width: 950px) {
  .fw-padding-55\@xl {
    padding: 55px;
  }

  .fw-pt-55\@xl {
    padding-top: 55px;
  }

  .fw-pb-55\@xl {
    padding-bottom: 55px;
  }

  .fw-pl-55\@xl {
    padding-left: 55px;
  }

  .fw-pr-55\@xl {
    padding-right: 55px;
  }
}
@media screen and (max-width: 950px) {
  .fw-padding-70\@xl {
    padding: 70px;
  }

  .fw-pt-70\@xl {
    padding-top: 70px;
  }

  .fw-pb-70\@xl {
    padding-bottom: 70px;
  }

  .fw-pl-70\@xl {
    padding-left: 70px;
  }

  .fw-pr-70\@xl {
    padding-right: 70px;
  }
}
@media screen and (max-width: 950px) {
  .fw-padding-80\@xl {
    padding: 80px;
  }

  .fw-pt-80\@xl {
    padding-top: 80px;
  }

  .fw-pb-80\@xl {
    padding-bottom: 80px;
  }

  .fw-pl-80\@xl {
    padding-left: 80px;
  }

  .fw-pr-80\@xl {
    padding-right: 80px;
  }
}
@media screen and (max-width: 950px) {
  .fw-padding-85\@xl {
    padding: 85px;
  }

  .fw-pt-85\@xl {
    padding-top: 85px;
  }

  .fw-pb-85\@xl {
    padding-bottom: 85px;
  }

  .fw-pl-85\@xl {
    padding-left: 85px;
  }

  .fw-pr-85\@xl {
    padding-right: 85px;
  }
}
@media screen and (max-width: 950px) {
  .fw-padding-90\@xl {
    padding: 90px;
  }

  .fw-pt-90\@xl {
    padding-top: 90px;
  }

  .fw-pb-90\@xl {
    padding-bottom: 90px;
  }

  .fw-pl-90\@xl {
    padding-left: 90px;
  }

  .fw-pr-90\@xl {
    padding-right: 90px;
  }
}
@media screen and (max-width: 950px) {
  .fw-padding-95\@xl {
    padding: 95px;
  }

  .fw-pt-95\@xl {
    padding-top: 95px;
  }

  .fw-pb-95\@xl {
    padding-bottom: 95px;
  }

  .fw-pl-95\@xl {
    padding-left: 95px;
  }

  .fw-pr-95\@xl {
    padding-right: 95px;
  }
}
@media screen and (max-width: 950px) {
  .fw-padding-100\@xl {
    padding: 100px;
  }

  .fw-pt-100\@xl {
    padding-top: 100px;
  }

  .fw-pb-100\@xl {
    padding-bottom: 100px;
  }

  .fw-pl-100\@xl {
    padding-left: 100px;
  }

  .fw-pr-100\@xl {
    padding-right: 100px;
  }
}
@media screen and (max-width: 950px) {
  .fw-padding-110\@xl {
    padding: 110px;
  }

  .fw-pt-110\@xl {
    padding-top: 110px;
  }

  .fw-pb-110\@xl {
    padding-bottom: 110px;
  }

  .fw-pl-110\@xl {
    padding-left: 110px;
  }

  .fw-pr-110\@xl {
    padding-right: 110px;
  }
}
@media screen and (max-width: 950px) {
  .fw-padding-150\@xl {
    padding: 150px;
  }

  .fw-pt-150\@xl {
    padding-top: 150px;
  }

  .fw-pb-150\@xl {
    padding-bottom: 150px;
  }

  .fw-pl-150\@xl {
    padding-left: 150px;
  }

  .fw-pr-150\@xl {
    padding-right: 150px;
  }
}
@media screen and (max-width: 950px) {
  .fw-padding-160\@xl {
    padding: 160px;
  }

  .fw-pt-160\@xl {
    padding-top: 160px;
  }

  .fw-pb-160\@xl {
    padding-bottom: 160px;
  }

  .fw-pl-160\@xl {
    padding-left: 160px;
  }

  .fw-pr-160\@xl {
    padding-right: 160px;
  }
}
@media screen and (max-width: 950px) {
  .fw-padding-170\@xl {
    padding: 170px;
  }

  .fw-pt-170\@xl {
    padding-top: 170px;
  }

  .fw-pb-170\@xl {
    padding-bottom: 170px;
  }

  .fw-pl-170\@xl {
    padding-left: 170px;
  }

  .fw-pr-170\@xl {
    padding-right: 170px;
  }
}
@media screen and (max-width: 950px) {
  .fw-padding-200\@xl {
    padding: 200px;
  }

  .fw-pt-200\@xl {
    padding-top: 200px;
  }

  .fw-pb-200\@xl {
    padding-bottom: 200px;
  }

  .fw-pl-200\@xl {
    padding-left: 200px;
  }

  .fw-pr-200\@xl {
    padding-right: 200px;
  }
}
@media screen and (max-width: 950px) {
  .fw-padding-220\@xl {
    padding: 220px;
  }

  .fw-pt-220\@xl {
    padding-top: 220px;
  }

  .fw-pb-220\@xl {
    padding-bottom: 220px;
  }

  .fw-pl-220\@xl {
    padding-left: 220px;
  }

  .fw-pr-220\@xl {
    padding-right: 220px;
  }
}
@media screen and (max-width: 950px) {
  .fw-padding-290\@xl {
    padding: 290px;
  }

  .fw-pt-290\@xl {
    padding-top: 290px;
  }

  .fw-pb-290\@xl {
    padding-bottom: 290px;
  }

  .fw-pl-290\@xl {
    padding-left: 290px;
  }

  .fw-pr-290\@xl {
    padding-right: 290px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-0\@xs {
    padding: 0px;
  }

  .fw-pt-0\@xs {
    padding-top: 0px;
  }

  .fw-pb-0\@xs {
    padding-bottom: 0px;
  }

  .fw-pl-0\@xs {
    padding-left: 0px;
  }

  .fw-pr-0\@xs {
    padding-right: 0px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-20\@xs {
    padding: 20px;
  }

  .fw-pt-20\@xs {
    padding-top: 20px;
  }

  .fw-pb-20\@xs {
    padding-bottom: 20px;
  }

  .fw-pl-20\@xs {
    padding-left: 20px;
  }

  .fw-pr-20\@xs {
    padding-right: 20px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-30\@xs {
    padding: 30px;
  }

  .fw-pt-30\@xs {
    padding-top: 30px;
  }

  .fw-pb-30\@xs {
    padding-bottom: 30px;
  }

  .fw-pl-30\@xs {
    padding-left: 30px;
  }

  .fw-pr-30\@xs {
    padding-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-45\@xs {
    padding: 45px;
  }

  .fw-pt-45\@xs {
    padding-top: 45px;
  }

  .fw-pb-45\@xs {
    padding-bottom: 45px;
  }

  .fw-pl-45\@xs {
    padding-left: 45px;
  }

  .fw-pr-45\@xs {
    padding-right: 45px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-35\@xs {
    padding: 35px;
  }

  .fw-pt-35\@xs {
    padding-top: 35px;
  }

  .fw-pb-35\@xs {
    padding-bottom: 35px;
  }

  .fw-pl-35\@xs {
    padding-left: 35px;
  }

  .fw-pr-35\@xs {
    padding-right: 35px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-50\@xs {
    padding: 50px;
  }

  .fw-pt-50\@xs {
    padding-top: 50px;
  }

  .fw-pb-50\@xs {
    padding-bottom: 50px;
  }

  .fw-pl-50\@xs {
    padding-left: 50px;
  }

  .fw-pr-50\@xs {
    padding-right: 50px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-55\@xs {
    padding: 55px;
  }

  .fw-pt-55\@xs {
    padding-top: 55px;
  }

  .fw-pb-55\@xs {
    padding-bottom: 55px;
  }

  .fw-pl-55\@xs {
    padding-left: 55px;
  }

  .fw-pr-55\@xs {
    padding-right: 55px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-70\@xs {
    padding: 70px;
  }

  .fw-pt-70\@xs {
    padding-top: 70px;
  }

  .fw-pb-70\@xs {
    padding-bottom: 70px;
  }

  .fw-pl-70\@xs {
    padding-left: 70px;
  }

  .fw-pr-70\@xs {
    padding-right: 70px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-80\@xs {
    padding: 80px;
  }

  .fw-pt-80\@xs {
    padding-top: 80px;
  }

  .fw-pb-80\@xs {
    padding-bottom: 80px;
  }

  .fw-pl-80\@xs {
    padding-left: 80px;
  }

  .fw-pr-80\@xs {
    padding-right: 80px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-85\@xs {
    padding: 85px;
  }

  .fw-pt-85\@xs {
    padding-top: 85px;
  }

  .fw-pb-85\@xs {
    padding-bottom: 85px;
  }

  .fw-pl-85\@xs {
    padding-left: 85px;
  }

  .fw-pr-85\@xs {
    padding-right: 85px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-90\@xs {
    padding: 90px;
  }

  .fw-pt-90\@xs {
    padding-top: 90px;
  }

  .fw-pb-90\@xs {
    padding-bottom: 90px;
  }

  .fw-pl-90\@xs {
    padding-left: 90px;
  }

  .fw-pr-90\@xs {
    padding-right: 90px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-95\@xs {
    padding: 95px;
  }

  .fw-pt-95\@xs {
    padding-top: 95px;
  }

  .fw-pb-95\@xs {
    padding-bottom: 95px;
  }

  .fw-pl-95\@xs {
    padding-left: 95px;
  }

  .fw-pr-95\@xs {
    padding-right: 95px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-100\@xs {
    padding: 100px;
  }

  .fw-pt-100\@xs {
    padding-top: 100px;
  }

  .fw-pb-100\@xs {
    padding-bottom: 100px;
  }

  .fw-pl-100\@xs {
    padding-left: 100px;
  }

  .fw-pr-100\@xs {
    padding-right: 100px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-110\@xs {
    padding: 110px;
  }

  .fw-pt-110\@xs {
    padding-top: 110px;
  }

  .fw-pb-110\@xs {
    padding-bottom: 110px;
  }

  .fw-pl-110\@xs {
    padding-left: 110px;
  }

  .fw-pr-110\@xs {
    padding-right: 110px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-150\@xs {
    padding: 150px;
  }

  .fw-pt-150\@xs {
    padding-top: 150px;
  }

  .fw-pb-150\@xs {
    padding-bottom: 150px;
  }

  .fw-pl-150\@xs {
    padding-left: 150px;
  }

  .fw-pr-150\@xs {
    padding-right: 150px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-160\@xs {
    padding: 160px;
  }

  .fw-pt-160\@xs {
    padding-top: 160px;
  }

  .fw-pb-160\@xs {
    padding-bottom: 160px;
  }

  .fw-pl-160\@xs {
    padding-left: 160px;
  }

  .fw-pr-160\@xs {
    padding-right: 160px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-170\@xs {
    padding: 170px;
  }

  .fw-pt-170\@xs {
    padding-top: 170px;
  }

  .fw-pb-170\@xs {
    padding-bottom: 170px;
  }

  .fw-pl-170\@xs {
    padding-left: 170px;
  }

  .fw-pr-170\@xs {
    padding-right: 170px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-200\@xs {
    padding: 200px;
  }

  .fw-pt-200\@xs {
    padding-top: 200px;
  }

  .fw-pb-200\@xs {
    padding-bottom: 200px;
  }

  .fw-pl-200\@xs {
    padding-left: 200px;
  }

  .fw-pr-200\@xs {
    padding-right: 200px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-220\@xs {
    padding: 220px;
  }

  .fw-pt-220\@xs {
    padding-top: 220px;
  }

  .fw-pb-220\@xs {
    padding-bottom: 220px;
  }

  .fw-pl-220\@xs {
    padding-left: 220px;
  }

  .fw-pr-220\@xs {
    padding-right: 220px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-290\@xs {
    padding: 290px;
  }

  .fw-pt-290\@xs {
    padding-top: 290px;
  }

  .fw-pb-290\@xs {
    padding-bottom: 290px;
  }

  .fw-pl-290\@xs {
    padding-left: 290px;
  }

  .fw-pr-290\@xs {
    padding-right: 290px;
  }
}
.fw-flex-inline {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.fw-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.fw-flex > * {
  min-width: 0;
}

.fw-flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.fw-flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.fw-flex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.fw-flex-wrap-no {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.fw-flex-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fw-flex-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.fw-flex-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.fw-flex-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.fw-flex-left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.fw-flex-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.fw-flex-space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.fw-flex-space-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.fw-flex-shrink-1 {
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.fw-flex-grow-1 {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.fw-flex-shrink-2 {
  -webkit-flex-shrink: 2;
  -ms-flex-negative: 2;
  flex-shrink: 2;
}

.fw-flex-grow-2 {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -moz-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

.fw-flex-shrink-3 {
  -webkit-flex-shrink: 3;
  -ms-flex-negative: 3;
  flex-shrink: 3;
}

.fw-flex-grow-3 {
  -webkit-box-flex: 3;
  -webkit-flex-grow: 3;
  -moz-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
}

.fw-flex-shrink-4 {
  -webkit-flex-shrink: 4;
  -ms-flex-negative: 4;
  flex-shrink: 4;
}

.fw-flex-grow-4 {
  -webkit-box-flex: 4;
  -webkit-flex-grow: 4;
  -moz-box-flex: 4;
  -ms-flex-positive: 4;
  flex-grow: 4;
}

.fw-flex-shrink-5 {
  -webkit-flex-shrink: 5;
  -ms-flex-negative: 5;
  flex-shrink: 5;
}

.fw-flex-grow-5 {
  -webkit-box-flex: 5;
  -webkit-flex-grow: 5;
  -moz-box-flex: 5;
  -ms-flex-positive: 5;
  flex-grow: 5;
}

.fw-flex-shrink-no {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.fw-flex-grow-no {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -moz-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.fw-flex-self-end {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.fw-flex-self-start {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.fw-flex-basis-0 {
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}

.fw-fz-0 {
  font-size: 0px;
}

.fw-fz-12 {
  font-size: 12px;
}

.fw-fz-14 {
  font-size: 14px;
}

.fw-fz-16 {
  font-size: 16px;
}

.fw-fz-18 {
  font-size: 18px;
}

.fw-fz-30 {
  font-size: 30px;
}

.fw-fz-40 {
  font-size: 40px;
}

.fw-fz-60 {
  font-size: 60px;
}

.fw-fz-100 {
  font-size: 100px;
}

@media screen and (max-width: 950px) {
  .fw-fz-0\@xl {
    font-size: 0px;
  }
}
@media screen and (max-width: 950px) {
  .fw-fz-12\@xl {
    font-size: 12px;
  }
}
@media screen and (max-width: 950px) {
  .fw-fz-14\@xl {
    font-size: 14px;
  }
}
@media screen and (max-width: 950px) {
  .fw-fz-16\@xl {
    font-size: 16px;
  }
}
@media screen and (max-width: 950px) {
  .fw-fz-18\@xl {
    font-size: 18px;
  }
}
@media screen and (max-width: 950px) {
  .fw-fz-30\@xl {
    font-size: 30px;
  }
}
@media screen and (max-width: 950px) {
  .fw-fz-40\@xl {
    font-size: 40px;
  }
}
@media screen and (max-width: 950px) {
  .fw-fz-60\@xl {
    font-size: 60px;
  }
}
@media screen and (max-width: 950px) {
  .fw-fz-100\@xl {
    font-size: 100px;
  }
}
@media screen and (max-width: 767px) {
  .fw-fz-0\@xs {
    font-size: 0px;
  }
}
.fw-line-height-0 {
  line-height: 0px;
}

.fw-line-height-18 {
  line-height: 18px;
}

.fw-line-height-22 {
  line-height: 22px;
}

.fw-line-height-25 {
  line-height: 25px;
}

.fw-line-height-30 {
  line-height: 30px;
}

.fw-line-height-40 {
  line-height: 40px;
}

@media screen and (max-width: 767px) {
  .fw-fz-12\@xs {
    font-size: 12px;
  }
}
.fw-line-height-0 {
  line-height: 0px;
}

.fw-line-height-18 {
  line-height: 18px;
}

.fw-line-height-22 {
  line-height: 22px;
}

.fw-line-height-25 {
  line-height: 25px;
}

.fw-line-height-30 {
  line-height: 30px;
}

.fw-line-height-40 {
  line-height: 40px;
}

@media screen and (max-width: 767px) {
  .fw-fz-14\@xs {
    font-size: 14px;
  }
}
.fw-line-height-0 {
  line-height: 0px;
}

.fw-line-height-18 {
  line-height: 18px;
}

.fw-line-height-22 {
  line-height: 22px;
}

.fw-line-height-25 {
  line-height: 25px;
}

.fw-line-height-30 {
  line-height: 30px;
}

.fw-line-height-40 {
  line-height: 40px;
}

@media screen and (max-width: 767px) {
  .fw-fz-16\@xs {
    font-size: 16px;
  }
}
.fw-line-height-0 {
  line-height: 0px;
}

.fw-line-height-18 {
  line-height: 18px;
}

.fw-line-height-22 {
  line-height: 22px;
}

.fw-line-height-25 {
  line-height: 25px;
}

.fw-line-height-30 {
  line-height: 30px;
}

.fw-line-height-40 {
  line-height: 40px;
}

@media screen and (max-width: 767px) {
  .fw-fz-18\@xs {
    font-size: 18px;
  }
}
.fw-line-height-0 {
  line-height: 0px;
}

.fw-line-height-18 {
  line-height: 18px;
}

.fw-line-height-22 {
  line-height: 22px;
}

.fw-line-height-25 {
  line-height: 25px;
}

.fw-line-height-30 {
  line-height: 30px;
}

.fw-line-height-40 {
  line-height: 40px;
}

@media screen and (max-width: 767px) {
  .fw-fz-30\@xs {
    font-size: 30px;
  }
}
.fw-line-height-0 {
  line-height: 0px;
}

.fw-line-height-18 {
  line-height: 18px;
}

.fw-line-height-22 {
  line-height: 22px;
}

.fw-line-height-25 {
  line-height: 25px;
}

.fw-line-height-30 {
  line-height: 30px;
}

.fw-line-height-40 {
  line-height: 40px;
}

@media screen and (max-width: 767px) {
  .fw-fz-40\@xs {
    font-size: 40px;
  }
}
.fw-line-height-0 {
  line-height: 0px;
}

.fw-line-height-18 {
  line-height: 18px;
}

.fw-line-height-22 {
  line-height: 22px;
}

.fw-line-height-25 {
  line-height: 25px;
}

.fw-line-height-30 {
  line-height: 30px;
}

.fw-line-height-40 {
  line-height: 40px;
}

@media screen and (max-width: 767px) {
  .fw-fz-60\@xs {
    font-size: 60px;
  }
}
.fw-line-height-0 {
  line-height: 0px;
}

.fw-line-height-18 {
  line-height: 18px;
}

.fw-line-height-22 {
  line-height: 22px;
}

.fw-line-height-25 {
  line-height: 25px;
}

.fw-line-height-30 {
  line-height: 30px;
}

.fw-line-height-40 {
  line-height: 40px;
}

@media screen and (max-width: 767px) {
  .fw-fz-100\@xs {
    font-size: 100px;
  }
}
.fw-line-height-0 {
  line-height: 0px;
}

.fw-line-height-18 {
  line-height: 18px;
}

.fw-line-height-22 {
  line-height: 22px;
}

.fw-line-height-25 {
  line-height: 25px;
}

.fw-line-height-30 {
  line-height: 30px;
}

.fw-line-height-40 {
  line-height: 40px;
}

.fw-line-height-1-2 {
  line-height: 1.2;
}

.fw-line-height-1-4 {
  line-height: 1.4;
}

.fw-line-height-1-5 {
  line-height: 1.5;
}

.fw-line-height-1-7 {
  line-height: 1.7;
}

.fw-line-height-2 {
  line-height: 2;
}

.fw-line-height-1-0 {
  line-height: 1.0;
}

.fw-font-globus {
  font-family: globusmarket, "Open Sans", sans-serif, Arial;
}

.fw-text-300 {
  font-weight: 300;
}

.fw-text-400 {
  font-weight: 400;
}

.fw-text-500 {
  font-weight: 500;
}

.fw-text-600 {
  font-weight: 600;
}

.fw-font-normal {
  font-weight: normal;
}

.fw-font-italic {
  font-style: italic;
}

.fw-font-bold {
  font-family: akrobatbold, "Open Sans", sans-serif, Arial;
}

.fw-font-semi-bold {
  font-weight: 600;
}

.fw-font-extra-bold {
  font-weight: 800;
}

.fw-text-no-wrap {
  white-space: nowrap;
}

.fw-font-mr {
  font-family: "MontserratRegular";
}

.fw-font-mb {
  font-family: "MontserratBold";
}

.fw-font-mm {
  font-family: "MontserratMedium";
}

.fw-font-msb {
  font-family: "MontserratSemiBold";
}

.fw-font-ml {
  font-family: "MontserratLight";
}

.fw-border-none {
  border: none;
}

.fw-border-width-1 {
  border-width: 1px;
}

.fw-border-width-2 {
  border-width: 2px;
}

.fw-border-width-3 {
  border-width: 3px;
}

.fw-border-width-4 {
  border-width: 4px;
}

.fw-border-width-5 {
  border-width: 5px;
}

.fw-border-radius-3 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.fw-border-radius-percent-3 {
  -webkit-border-radius: 3%;
  -moz-border-radius: 3%;
  border-radius: 3%;
}

.fw-border-radius-5 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.fw-border-radius-percent-5 {
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  border-radius: 5%;
}

.fw-border-radius-7 {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.fw-border-radius-percent-7 {
  -webkit-border-radius: 7%;
  -moz-border-radius: 7%;
  border-radius: 7%;
}

.fw-border-radius-50 {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.fw-border-radius-percent-50 {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.fw-border-color-light-pale-yellow {
  border-color: #fdf7f2;
}

.fw-border-color-dark-text {
  border-color: #070707;
}

.fw-border-color-pale-yellow {
  border-color: #caa98b;
}

.fw-border-color-gray-text {
  border-color: #a6a6a6;
}

.fw-border-color-white {
  border-color: #fff;
}

.fw-border-color-text {
  border-color: #2d2d2d;
}

.fw-border-color-dark-red {
  border-color: #a61c35;
}

.fw-border-style-solid {
  border-style: solid;
}

.fw-border-style-solid-top {
  border-style: solid none none none;
}

.fw-border-style-solid-right {
  border-style: none solid none none;
}

.fw-border-style-solid-bottom {
  border-style: none none solid none;
}

.fw-border-style-solid-left {
  border-style: none none none solid;
}

.fw-border-style-dashed {
  border-style: dashed;
}

.fw-border-style-dashed-top {
  border-style: dashed none none none;
}

.fw-border-style-dashed-right {
  border-style: none dashed none none;
}

.fw-border-style-dashed-bottom {
  border-style: none none dashed none;
}

.fw-border-style-dashed-left {
  border-style: none none none dashed;
}

.fw-border-style-dotted {
  border-style: dotted;
}

.fw-border-style-dotted-top {
  border-style: dotted none none none;
}

.fw-border-style-dotted-right {
  border-style: none dotted none none;
}

.fw-border-style-dotted-bottom {
  border-style: none none dotted none;
}

.fw-border-style-dotted-left {
  border-style: none none none dotted;
}

.fw-border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fw-hidden {
  display: none;
}

.fw-list-style-type {
  list-style-type: none;
}

.fw-visible {
  display: block;
}

.fw-visibility-hidden {
  visibility: hidden;
}

.fw-pointer {
  cursor: pointer;
}

.fw-opacity-0 {
  opacity: 0;
}

.fw-z-index-1 {
  z-index: 1;
}

.fw-z-index-2 {
  z-index: 2;
}

.fw-z-index-3 {
  z-index: 3;
}

.fw-z-index-4 {
  z-index: 4;
}

.fw-clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.fw-float-left {
  float: left;
}

.fw-float-right {
  float: right;
}

.fw-text-capitalize {
  text-transform: capitalize;
}

.fw-text-lowercase {
  text-transform: lowercase;
}

.fw-text-uppercase {
  text-transform: uppercase;
}

.fw-text-decoration-none {
  text-decoration: none;
}

.fw-text-underline {
  text-decoration: underline;
}

.fw-text-underline-hover {
  text-decoration: none;
}
.fw-text-underline-hover:hover {
  text-decoration: underline;
}

.fw-text-line-through {
  text-decoration: line-through;
}

.fw-text-line-through-hover {
  text-decoration: none;
}
.fw-text-line-through-hover:hover {
  text-decoration: line-through;
}

.fw-text-dashed {
  -webkit-text-decoration: dashed;
  -moz-text-decoration: dashed;
  text-decoration: dashed;
}

.fw-text-dashed-hover {
  text-decoration: none;
}
.fw-text-dashed-hover:hover {
  -webkit-text-decoration: dashed;
  -moz-text-decoration: dashed;
  text-decoration: dashed;
}

.fw-text-center {
  text-align: center;
}

.fw-text-left {
  text-align: left;
}

.fw-text-right {
  text-align: right;
}

.fw-dashed-link {
  border-bottom: 1px dashed #fff;
  text-decoration: none;
}
.fw-dashed-link:hover {
  border-color: transparent;
}

.fw-top-0 {
  top: 0;
}

.fw-bottom-0 {
  bottom: 0;
}

.fw-left-0 {
  left: 0;
}

.fw-left-100-percent {
  left: 100%;
}

.fw-right-0 {
  right: 0px;
}

.fw-right-80 {
  right: 80px;
}

.fw-link:hover {
  text-decoration: none;
}
.fw-link.fw-text-decoration-none {
  text-decoration: none;
}
.fw-link.fw-text-decoration-none:hover {
  text-decoration: underline;
}

body {
  font-family: "MontserratRegular", sans-serif, arial;
  font-size: 16px;
  font-weight: 400;
  color: #3d3d3d;
  line-height: normal;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fw-button {
  position: relative;
  height: 50px;
  padding-left: 34px;
  padding-right: 34px;
}
.fw-button:hover .icon-arrow {
  margin-left: 10px;
}
.fw-button:hover:before {
  width: 100%;
}
.fw-button:before {
  content: "";
  position: absolute;
  left: 0;
  z-index: 0;
  top: 0;
  width: 57px;
  height: 100%;
  background-color: #fdf7f2;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.fw-button-opacity:before {
  opacity: 0.5;
}

.container {
  max-width: 1760px;
  width: 100%;
  margin: auto;
}

.container-small {
  max-width: 1350px;
  width: 100%;
  margin: auto;
}

.header-content {
  background-image: url("/images/main/header/header-bg.jpg");
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.header-slider-navigation--link {
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-bottom: 1px solid #edebed;
}
.header-slider-navigation--link:before {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #fff;
}
.header-slider-navigation--link:hover {
  color: #2d2d2d;
  border-color: #2d2d2d;
}
.header-slider-navigation--link:hover:before {
  height: 10px;
  top: -10px;
}

.slider-navigation-active {
  color: #2d2d2d;
  border-color: #2d2d2d;
}
.slider-navigation-active:before {
  height: 10px;
  top: -10px;
}

.history-in-numbers-item:last-child .history-in-numbers-item--number:after {
  display: none;
}

.history-in-numbers-item--number {
  position: relative;
}
.history-in-numbers-item--number:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #000;
}

.icon-arrow {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.modern-production-item-left-before:before {
  content: "";
  position: absolute;
  top: 0;
  left: -160px;
  width: 160px;
  height: 138px;
  background-color: #a61c35;
}

.partnership {
  max-width: 1760px;
  width: 100%;
  margin: auto;
  padding-right: 160px;
}
.partnership:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 160px;
  height: 70%;
  background-color: #fdf7f2;
}
.partnership .container {
  padding-left: 160px;
  padding-right: 160px;
}

.locations-info {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
