@font-face {
  font-family: "fs";
  src: url("../fonts/FiraSasnsOT-Regular.eot");
  src: url("../fonts/FiraSasnsOT-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSasnsOT-Regular.woff") format("woff"), url("../fonts/FiraSasnsOT-Regular.ttf") format("truetype"), url("../fonts/FiraSasnsOT-Regular.svg#fs") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "fs";
  src: url("../fonts/FiraSasnsOT-RegularItalic.eot");
  src: url("../fonts/FiraSasnsOT-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSasnsOT-RegularItalic.woff") format("woff"), url("../fonts/FiraSasnsOT-RegularItalic.ttf") format("truetype"), url("../fonts/FiraSasnsOT-RegularItalic.svg#fs") format("svg");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "fs";
  src: url("../fonts/FiraSasnsOT-Bold.eot");
  src: url("../fonts/FiraSasnsOT-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSasnsOT-Bold.woff") format("woff"), url("../fonts/FiraSasnsOT-Bold.ttf") format("truetype"), url("../fonts/FiraSasnsOT-Bold.svg#fs") format("svg");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "fs";
  src: url("../fonts/FiraSasnsOT-Light.eot");
  src: url("../fonts/FiraSasnsOT-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSasnsOT-Light.woff") format("woff"), url("../fonts/FiraSasnsOT-Light.ttf") format("truetype"), url("../fonts/FiraSasnsOT-Light.svg#fs") format("svg");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "fs";
  src: url("../fonts/FiraSasnsOT-LightItalic.eot");
  src: url("../fonts/FiraSasnsOT-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSasnsOT-LightItalic.woff") format("woff"), url("../fonts/FiraSasnsOT-LightItalic.ttf") format("truetype"), url("../fonts/FiraSasnsOT-LightItalic.svg#fs") format("svg");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "fs";
  src: url("../fonts/FiraSasnsOT-Medium.eot");
  src: url("../fonts/FiraSasnsOT-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSasnsOT-Medium.woff") format("woff"), url("../fonts/FiraSasnsOT-Medium.ttf") format("truetype"), url("../fonts/FiraSasnsOT-Medium.svg#fs") format("svg");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "fs";
  src: url("../fonts/FiraSasnsOT-BoldItalic.eot");
  src: url("../fonts/FiraSasnsOT-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSasnsOT-BoldItalic.woff") format("woff"), url("../fonts/FiraSasnsOT-BoldItalic.ttf") format("truetype"), url("../fonts/FiraSasnsOT-BoldItalic.svg#fs") format("svg");
  font-style: italic;
  font-weight: 700;
}
.fw-reset, body {
  margin: 0;
  font-weight: normal;
  padding: 0;
  list-style: none;
  background-color: transparent;
  border: none;
  font-family: inherit;
  color: inherit;
  text-decoration: inherit;
}

.fw-inline-block {
  display: inline-block;
  vertical-align: middle;
}

.fw-block {
  display: block;
  vertical-align: middle;
}

.fw-bg-color-pink {
  background-color: #e60278;
}

.fw-color-pink {
  color: #e60278;
}

.fw-bg-color-white {
  background-color: #fff;
}

.fw-color-white {
  color: #fff;
}

.fw-bg-color-blue {
  background-color: #00225a;
}

.fw-color-blue {
  color: #00225a;
}

.fw-bg-color-blue-light {
  background-color: #51b0e1;
}

.fw-color-blue-light {
  color: #51b0e1;
}

.fw-bg-color-gray {
  background-color: #bebebe;
}

.fw-color-gray {
  color: #bebebe;
}

.fw-bg-color-gray-light {
  background-color: #eee;
}

.fw-color-gray-light {
  color: #eee;
}

.fw-bg-color-dark {
  background-color: #333333;
}

.fw-color-dark {
  color: #333333;
}

.fw-bg-cover {
  -moz-background-size: cover;
  background-size: cover;
}

.fw-bg-no-repeat {
  background-repeat: no-repeat;
}

.fw-bg-center {
  background-position: center center;
}

.fw-bg-fixed {
  background-attachment: fixed;
}

.fw-max-width-percent-100 {
  max-width: 100%;
}

.fw-width-auto {
  width: auto;
}

.fw-width-0 {
  width: 0px;
}

.fw-max-width-0 {
  max-width: 0px;
}

.fw-width-100 {
  width: 100px;
}

.fw-max-width-100 {
  max-width: 100px;
}

.fw-width-1-1 {
  width: 100%;
}

.fw-width-1-2 {
  width: 50%;
}

.fw-width-1-3 {
  width: 33.33333%;
}

.fw-width-2-3 {
  width: 66.66667%;
}

.fw-width-1-4 {
  width: 25%;
}

.fw-width-3-4 {
  width: 75%;
}

.fw-width-1-5 {
  width: 20%;
}

.fw-width-2-5 {
  width: 40%;
}

.fw-width-3-5 {
  width: 60%;
}

.fw-width-4-5 {
  width: 80%;
}

.fw-width-1-6 {
  width: 16.66667%;
}

.fw-width-5-6 {
  width: 83.33333%;
}

@media screen and (max-width: 950px) {
  .fw-width-0\@xl {
    width: 0px;
  }

  .fw-max-width-0\@xl {
    max-width: 0px;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-100\@xl {
    width: 100px;
  }

  .fw-max-width-100\@xl {
    max-width: 100px;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-1-1\@xl {
    width: 100%;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-1-2\@xl {
    width: 50%;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-1-3\@xl {
    width: 33.33333%;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-2-3\@xl {
    width: 66.66667%;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-1-4\@xl {
    width: 25%;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-3-4\@xl {
    width: 75%;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-1-5\@xl {
    width: 20%;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-2-5\@xl {
    width: 40%;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-3-5\@xl {
    width: 60%;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-4-5\@xl {
    width: 80%;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-1-6\@xl {
    width: 16.66667%;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-5-6\@xl {
    width: 83.33333%;
  }
}
@media screen and (max-width: 950px) {
  .fw-width-auto\@xl {
    width: auto;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-0\@xs {
    width: 0px;
  }

  .fw-max-width-0\@xs {
    max-width: 0px;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-100\@xs {
    width: 100px;
  }

  .fw-max-width-100\@xs {
    max-width: 100px;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-1-1\@xs {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-1-2\@xs {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-1-3\@xs {
    width: 33.33333%;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-2-3\@xs {
    width: 66.66667%;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-1-4\@xs {
    width: 25%;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-3-4\@xs {
    width: 75%;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-1-5\@xs {
    width: 20%;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-2-5\@xs {
    width: 40%;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-3-5\@xs {
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-4-5\@xs {
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-1-6\@xs {
    width: 16.66667%;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-5-6\@xs {
    width: 83.33333%;
  }
}
@media screen and (max-width: 767px) {
  .fw-width-auto\@xs {
    width: auto;
  }
}
.fw-max-height-percent-100 {
  max-height: 100%;
}

.fw-height-1-1 {
  height: 100%;
}

.fw-height-1-1 {
  height: 100%;
}

.fw-height-0 {
  height: 0px;
}

.fw-max-height-0 {
  max-height: 0px;
}

.fw-min-height-0 {
  min-height: 0px;
}

.fw-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.fw-grid-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fw-grid-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.fw-grid-bottom {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fw-grid-match {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.fw-grid-20 {
  margin-left: -20px;
  margin-bottom: -20px;
}
.fw-grid-20 > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.fw-margin-auto {
  margin: auto;
}

.fw-mt-auto {
  margin-top: auto;
}

.fw-mb-auto {
  margin-bottom: auto;
}

.fw-mr-auto {
  margin-right: auto;
}

.fw-ml-auto {
  margin-left: auto;
}

.fw-margin-0 {
  margin: 0px;
}

.fw-mt-0 {
  margin-top: 0px;
}

.fw-mb-0 {
  margin-bottom: 0px;
}

.fw-ml-0 {
  margin-left: 0px;
}

.fw-mr-0 {
  margin-right: 0px;
}

.fw-margin-5 {
  margin: 5px;
}

.fw-mt-5 {
  margin-top: 5px;
}

.fw-mb-5 {
  margin-bottom: 5px;
}

.fw-ml-5 {
  margin-left: 5px;
}

.fw-mr-5 {
  margin-right: 5px;
}

.fw-margin-10 {
  margin: 10px;
}

.fw-mt-10 {
  margin-top: 10px;
}

.fw-mb-10 {
  margin-bottom: 10px;
}

.fw-ml-10 {
  margin-left: 10px;
}

.fw-mr-10 {
  margin-right: 10px;
}

.fw-margin-15 {
  margin: 15px;
}

.fw-mt-15 {
  margin-top: 15px;
}

.fw-mb-15 {
  margin-bottom: 15px;
}

.fw-ml-15 {
  margin-left: 15px;
}

.fw-mr-15 {
  margin-right: 15px;
}

.fw-margin-20 {
  margin: 20px;
}

.fw-mt-20 {
  margin-top: 20px;
}

.fw-mb-20 {
  margin-bottom: 20px;
}

.fw-ml-20 {
  margin-left: 20px;
}

.fw-mr-20 {
  margin-right: 20px;
}

.fw-margin-25 {
  margin: 25px;
}

.fw-mt-25 {
  margin-top: 25px;
}

.fw-mb-25 {
  margin-bottom: 25px;
}

.fw-ml-25 {
  margin-left: 25px;
}

.fw-mr-25 {
  margin-right: 25px;
}

.fw-margin-30 {
  margin: 30px;
}

.fw-mt-30 {
  margin-top: 30px;
}

.fw-mb-30 {
  margin-bottom: 30px;
}

.fw-ml-30 {
  margin-left: 30px;
}

.fw-mr-30 {
  margin-right: 30px;
}

.fw-margin-35 {
  margin: 35px;
}

.fw-mt-35 {
  margin-top: 35px;
}

.fw-mb-35 {
  margin-bottom: 35px;
}

.fw-ml-35 {
  margin-left: 35px;
}

.fw-mr-35 {
  margin-right: 35px;
}

@media screen and (max-width: 950px) {
  .fw-margin-0\@xl {
    margin: 0px;
  }

  .fw-mt-0\@xl {
    margin-top: 0px;
  }

  .fw-mb-0\@xl {
    margin-bottom: 0px;
  }

  .fw-ml-0\@xl {
    margin-left: 0px;
  }

  .fw-mr-0\@xl {
    margin-right: 0px;
  }
}
@media screen and (max-width: 950px) {
  .fw-margin-5\@xl {
    margin: 5px;
  }

  .fw-mt-5\@xl {
    margin-top: 5px;
  }

  .fw-mb-5\@xl {
    margin-bottom: 5px;
  }

  .fw-ml-5\@xl {
    margin-left: 5px;
  }

  .fw-mr-5\@xl {
    margin-right: 5px;
  }
}
@media screen and (max-width: 950px) {
  .fw-margin-10\@xl {
    margin: 10px;
  }

  .fw-mt-10\@xl {
    margin-top: 10px;
  }

  .fw-mb-10\@xl {
    margin-bottom: 10px;
  }

  .fw-ml-10\@xl {
    margin-left: 10px;
  }

  .fw-mr-10\@xl {
    margin-right: 10px;
  }
}
@media screen and (max-width: 950px) {
  .fw-margin-15\@xl {
    margin: 15px;
  }

  .fw-mt-15\@xl {
    margin-top: 15px;
  }

  .fw-mb-15\@xl {
    margin-bottom: 15px;
  }

  .fw-ml-15\@xl {
    margin-left: 15px;
  }

  .fw-mr-15\@xl {
    margin-right: 15px;
  }
}
@media screen and (max-width: 950px) {
  .fw-margin-20\@xl {
    margin: 20px;
  }

  .fw-mt-20\@xl {
    margin-top: 20px;
  }

  .fw-mb-20\@xl {
    margin-bottom: 20px;
  }

  .fw-ml-20\@xl {
    margin-left: 20px;
  }

  .fw-mr-20\@xl {
    margin-right: 20px;
  }
}
@media screen and (max-width: 950px) {
  .fw-margin-25\@xl {
    margin: 25px;
  }

  .fw-mt-25\@xl {
    margin-top: 25px;
  }

  .fw-mb-25\@xl {
    margin-bottom: 25px;
  }

  .fw-ml-25\@xl {
    margin-left: 25px;
  }

  .fw-mr-25\@xl {
    margin-right: 25px;
  }
}
@media screen and (max-width: 950px) {
  .fw-margin-30\@xl {
    margin: 30px;
  }

  .fw-mt-30\@xl {
    margin-top: 30px;
  }

  .fw-mb-30\@xl {
    margin-bottom: 30px;
  }

  .fw-ml-30\@xl {
    margin-left: 30px;
  }

  .fw-mr-30\@xl {
    margin-right: 30px;
  }
}
@media screen and (max-width: 950px) {
  .fw-margin-35\@xl {
    margin: 35px;
  }

  .fw-mt-35\@xl {
    margin-top: 35px;
  }

  .fw-mb-35\@xl {
    margin-bottom: 35px;
  }

  .fw-ml-35\@xl {
    margin-left: 35px;
  }

  .fw-mr-35\@xl {
    margin-right: 35px;
  }
}
@media screen and (max-width: 767px) {
  .fw-margin-0\@xs {
    margin: 0px;
  }

  .fw-mt-0\@xs {
    margin-top: 0px;
  }

  .fw-mb-0\@xs {
    margin-bottom: 0px;
  }

  .fw-ml-0\@xs {
    margin-left: 0px;
  }

  .fw-mr-0\@xs {
    margin-right: 0px;
  }
}
@media screen and (max-width: 767px) {
  .fw-margin-5\@xs {
    margin: 5px;
  }

  .fw-mt-5\@xs {
    margin-top: 5px;
  }

  .fw-mb-5\@xs {
    margin-bottom: 5px;
  }

  .fw-ml-5\@xs {
    margin-left: 5px;
  }

  .fw-mr-5\@xs {
    margin-right: 5px;
  }
}
@media screen and (max-width: 767px) {
  .fw-margin-10\@xs {
    margin: 10px;
  }

  .fw-mt-10\@xs {
    margin-top: 10px;
  }

  .fw-mb-10\@xs {
    margin-bottom: 10px;
  }

  .fw-ml-10\@xs {
    margin-left: 10px;
  }

  .fw-mr-10\@xs {
    margin-right: 10px;
  }
}
@media screen and (max-width: 767px) {
  .fw-margin-15\@xs {
    margin: 15px;
  }

  .fw-mt-15\@xs {
    margin-top: 15px;
  }

  .fw-mb-15\@xs {
    margin-bottom: 15px;
  }

  .fw-ml-15\@xs {
    margin-left: 15px;
  }

  .fw-mr-15\@xs {
    margin-right: 15px;
  }
}
@media screen and (max-width: 767px) {
  .fw-margin-20\@xs {
    margin: 20px;
  }

  .fw-mt-20\@xs {
    margin-top: 20px;
  }

  .fw-mb-20\@xs {
    margin-bottom: 20px;
  }

  .fw-ml-20\@xs {
    margin-left: 20px;
  }

  .fw-mr-20\@xs {
    margin-right: 20px;
  }
}
@media screen and (max-width: 767px) {
  .fw-margin-25\@xs {
    margin: 25px;
  }

  .fw-mt-25\@xs {
    margin-top: 25px;
  }

  .fw-mb-25\@xs {
    margin-bottom: 25px;
  }

  .fw-ml-25\@xs {
    margin-left: 25px;
  }

  .fw-mr-25\@xs {
    margin-right: 25px;
  }
}
@media screen and (max-width: 767px) {
  .fw-margin-30\@xs {
    margin: 30px;
  }

  .fw-mt-30\@xs {
    margin-top: 30px;
  }

  .fw-mb-30\@xs {
    margin-bottom: 30px;
  }

  .fw-ml-30\@xs {
    margin-left: 30px;
  }

  .fw-mr-30\@xs {
    margin-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .fw-margin-35\@xs {
    margin: 35px;
  }

  .fw-mt-35\@xs {
    margin-top: 35px;
  }

  .fw-mb-35\@xs {
    margin-bottom: 35px;
  }

  .fw-ml-35\@xs {
    margin-left: 35px;
  }

  .fw-mr-35\@xs {
    margin-right: 35px;
  }
}
.fw-mt-inverse-5 {
  margin-top: -5px;
}

.fw-mb-inverse-5 {
  margin-bottom: -5px;
}

.fw-ml-inverse-5 {
  margin-left: -5px;
}

.fw-mr-inverse-5 {
  margin-right: -5px;
}

.fw-mt-inverse-30 {
  margin-top: -30px;
}

.fw-mb-inverse-30 {
  margin-bottom: -30px;
}

.fw-ml-inverse-30 {
  margin-left: -30px;
}

.fw-mr-inverse-30 {
  margin-right: -30px;
}

.fw-mt-inverse-35 {
  margin-top: -35px;
}

.fw-mb-inverse-35 {
  margin-bottom: -35px;
}

.fw-ml-inverse-35 {
  margin-left: -35px;
}

.fw-mr-inverse-35 {
  margin-right: -35px;
}

@media screen and (max-width: 767px) {
  .fw-mt-inverse-5\@xs {
    margin-top: -5px;
  }

  .fw-mb-inverse-5\@xs {
    margin-bottom: -5px;
  }

  .fw-ml-inverse-5\@xs {
    margin-left: -5px;
  }

  .fw-mr-inverse-5\@xs {
    margin-right: -5px;
  }
}
@media screen and (max-width: 767px) {
  .fw-mt-inverse-30\@xs {
    margin-top: -30px;
  }

  .fw-mb-inverse-30\@xs {
    margin-bottom: -30px;
  }

  .fw-ml-inverse-30\@xs {
    margin-left: -30px;
  }

  .fw-mr-inverse-30\@xs {
    margin-right: -30px;
  }
}
@media screen and (max-width: 767px) {
  .fw-mt-inverse-35\@xs {
    margin-top: -35px;
  }

  .fw-mb-inverse-35\@xs {
    margin-bottom: -35px;
  }

  .fw-ml-inverse-35\@xs {
    margin-left: -35px;
  }

  .fw-mr-inverse-35\@xs {
    margin-right: -35px;
  }
}
.fw-padding-0 {
  padding: 0px;
}

.fw-padding-5 {
  padding: 5px;
}

.fw-padding-6 {
  padding: 6px;
}

.fw-padding-8 {
  padding: 8px;
}

.fw-padding-10 {
  padding: 10px;
}

.fw-padding-15 {
  padding: 15px;
}

.fw-padding-20 {
  padding: 20px;
}

.fw-padding-25 {
  padding: 25px;
}

.fw-padding-30 {
  padding: 30px;
}

.fw-padding-35 {
  padding: 35px;
}

.fw-padding-40 {
  padding: 40px;
}

.fw-pt-0 {
  padding-top: 0px;
}

.fw-pb-0 {
  padding-bottom: 0px;
}

.fw-pl-0 {
  padding-left: 0px;
}

.fw-pr-0 {
  padding-right: 0px;
}

.fw-pt-5 {
  padding-top: 5px;
}

.fw-pb-5 {
  padding-bottom: 5px;
}

.fw-pl-5 {
  padding-left: 5px;
}

.fw-pr-5 {
  padding-right: 5px;
}

.fw-pt-6 {
  padding-top: 6px;
}

.fw-pb-6 {
  padding-bottom: 6px;
}

.fw-pl-6 {
  padding-left: 6px;
}

.fw-pr-6 {
  padding-right: 6px;
}

.fw-pt-8 {
  padding-top: 8px;
}

.fw-pb-8 {
  padding-bottom: 8px;
}

.fw-pl-8 {
  padding-left: 8px;
}

.fw-pr-8 {
  padding-right: 8px;
}

.fw-pt-10 {
  padding-top: 10px;
}

.fw-pb-10 {
  padding-bottom: 10px;
}

.fw-pl-10 {
  padding-left: 10px;
}

.fw-pr-10 {
  padding-right: 10px;
}

.fw-pt-15 {
  padding-top: 15px;
}

.fw-pb-15 {
  padding-bottom: 15px;
}

.fw-pl-15 {
  padding-left: 15px;
}

.fw-pr-15 {
  padding-right: 15px;
}

.fw-pt-20 {
  padding-top: 20px;
}

.fw-pb-20 {
  padding-bottom: 20px;
}

.fw-pl-20 {
  padding-left: 20px;
}

.fw-pr-20 {
  padding-right: 20px;
}

.fw-pt-25 {
  padding-top: 25px;
}

.fw-pb-25 {
  padding-bottom: 25px;
}

.fw-pl-25 {
  padding-left: 25px;
}

.fw-pr-25 {
  padding-right: 25px;
}

.fw-pt-30 {
  padding-top: 30px;
}

.fw-pb-30 {
  padding-bottom: 30px;
}

.fw-pl-30 {
  padding-left: 30px;
}

.fw-pr-30 {
  padding-right: 30px;
}

.fw-pt-35 {
  padding-top: 35px;
}

.fw-pb-35 {
  padding-bottom: 35px;
}

.fw-pl-35 {
  padding-left: 35px;
}

.fw-pr-35 {
  padding-right: 35px;
}

.fw-pt-40 {
  padding-top: 40px;
}

.fw-pb-40 {
  padding-bottom: 40px;
}

.fw-pl-40 {
  padding-left: 40px;
}

.fw-pr-40 {
  padding-right: 40px;
}

@media screen and (max-width: 950px) {
  .fw-padding-0\@xl {
    padding: 0px;
  }

  .fw-pt-0\@xl {
    padding-top: 0px;
  }

  .fw-pb-0\@xl {
    padding-bottom: 0px;
  }

  .fw-pl-0\@xl {
    padding-left: 0px;
  }

  .fw-pr-0\@xl {
    padding-right: 0px;
  }
}
@media screen and (max-width: 950px) {
  .fw-padding-5\@xl {
    padding: 5px;
  }

  .fw-pt-5\@xl {
    padding-top: 5px;
  }

  .fw-pb-5\@xl {
    padding-bottom: 5px;
  }

  .fw-pl-5\@xl {
    padding-left: 5px;
  }

  .fw-pr-5\@xl {
    padding-right: 5px;
  }
}
@media screen and (max-width: 950px) {
  .fw-padding-6\@xl {
    padding: 6px;
  }

  .fw-pt-6\@xl {
    padding-top: 6px;
  }

  .fw-pb-6\@xl {
    padding-bottom: 6px;
  }

  .fw-pl-6\@xl {
    padding-left: 6px;
  }

  .fw-pr-6\@xl {
    padding-right: 6px;
  }
}
@media screen and (max-width: 950px) {
  .fw-padding-8\@xl {
    padding: 8px;
  }

  .fw-pt-8\@xl {
    padding-top: 8px;
  }

  .fw-pb-8\@xl {
    padding-bottom: 8px;
  }

  .fw-pl-8\@xl {
    padding-left: 8px;
  }

  .fw-pr-8\@xl {
    padding-right: 8px;
  }
}
@media screen and (max-width: 950px) {
  .fw-padding-10\@xl {
    padding: 10px;
  }

  .fw-pt-10\@xl {
    padding-top: 10px;
  }

  .fw-pb-10\@xl {
    padding-bottom: 10px;
  }

  .fw-pl-10\@xl {
    padding-left: 10px;
  }

  .fw-pr-10\@xl {
    padding-right: 10px;
  }
}
@media screen and (max-width: 950px) {
  .fw-padding-15\@xl {
    padding: 15px;
  }

  .fw-pt-15\@xl {
    padding-top: 15px;
  }

  .fw-pb-15\@xl {
    padding-bottom: 15px;
  }

  .fw-pl-15\@xl {
    padding-left: 15px;
  }

  .fw-pr-15\@xl {
    padding-right: 15px;
  }
}
@media screen and (max-width: 950px) {
  .fw-padding-20\@xl {
    padding: 20px;
  }

  .fw-pt-20\@xl {
    padding-top: 20px;
  }

  .fw-pb-20\@xl {
    padding-bottom: 20px;
  }

  .fw-pl-20\@xl {
    padding-left: 20px;
  }

  .fw-pr-20\@xl {
    padding-right: 20px;
  }
}
@media screen and (max-width: 950px) {
  .fw-padding-25\@xl {
    padding: 25px;
  }

  .fw-pt-25\@xl {
    padding-top: 25px;
  }

  .fw-pb-25\@xl {
    padding-bottom: 25px;
  }

  .fw-pl-25\@xl {
    padding-left: 25px;
  }

  .fw-pr-25\@xl {
    padding-right: 25px;
  }
}
@media screen and (max-width: 950px) {
  .fw-padding-30\@xl {
    padding: 30px;
  }

  .fw-pt-30\@xl {
    padding-top: 30px;
  }

  .fw-pb-30\@xl {
    padding-bottom: 30px;
  }

  .fw-pl-30\@xl {
    padding-left: 30px;
  }

  .fw-pr-30\@xl {
    padding-right: 30px;
  }
}
@media screen and (max-width: 950px) {
  .fw-padding-35\@xl {
    padding: 35px;
  }

  .fw-pt-35\@xl {
    padding-top: 35px;
  }

  .fw-pb-35\@xl {
    padding-bottom: 35px;
  }

  .fw-pl-35\@xl {
    padding-left: 35px;
  }

  .fw-pr-35\@xl {
    padding-right: 35px;
  }
}
@media screen and (max-width: 950px) {
  .fw-padding-40\@xl {
    padding: 40px;
  }

  .fw-pt-40\@xl {
    padding-top: 40px;
  }

  .fw-pb-40\@xl {
    padding-bottom: 40px;
  }

  .fw-pl-40\@xl {
    padding-left: 40px;
  }

  .fw-pr-40\@xl {
    padding-right: 40px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-0\@xs {
    padding: 0px;
  }

  .fw-pt-0\@xs {
    padding-top: 0px;
  }

  .fw-pb-0\@xs {
    padding-bottom: 0px;
  }

  .fw-pl-0\@xs {
    padding-left: 0px;
  }

  .fw-pr-0\@xs {
    padding-right: 0px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-5\@xs {
    padding: 5px;
  }

  .fw-pt-5\@xs {
    padding-top: 5px;
  }

  .fw-pb-5\@xs {
    padding-bottom: 5px;
  }

  .fw-pl-5\@xs {
    padding-left: 5px;
  }

  .fw-pr-5\@xs {
    padding-right: 5px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-6\@xs {
    padding: 6px;
  }

  .fw-pt-6\@xs {
    padding-top: 6px;
  }

  .fw-pb-6\@xs {
    padding-bottom: 6px;
  }

  .fw-pl-6\@xs {
    padding-left: 6px;
  }

  .fw-pr-6\@xs {
    padding-right: 6px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-8\@xs {
    padding: 8px;
  }

  .fw-pt-8\@xs {
    padding-top: 8px;
  }

  .fw-pb-8\@xs {
    padding-bottom: 8px;
  }

  .fw-pl-8\@xs {
    padding-left: 8px;
  }

  .fw-pr-8\@xs {
    padding-right: 8px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-10\@xs {
    padding: 10px;
  }

  .fw-pt-10\@xs {
    padding-top: 10px;
  }

  .fw-pb-10\@xs {
    padding-bottom: 10px;
  }

  .fw-pl-10\@xs {
    padding-left: 10px;
  }

  .fw-pr-10\@xs {
    padding-right: 10px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-15\@xs {
    padding: 15px;
  }

  .fw-pt-15\@xs {
    padding-top: 15px;
  }

  .fw-pb-15\@xs {
    padding-bottom: 15px;
  }

  .fw-pl-15\@xs {
    padding-left: 15px;
  }

  .fw-pr-15\@xs {
    padding-right: 15px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-20\@xs {
    padding: 20px;
  }

  .fw-pt-20\@xs {
    padding-top: 20px;
  }

  .fw-pb-20\@xs {
    padding-bottom: 20px;
  }

  .fw-pl-20\@xs {
    padding-left: 20px;
  }

  .fw-pr-20\@xs {
    padding-right: 20px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-25\@xs {
    padding: 25px;
  }

  .fw-pt-25\@xs {
    padding-top: 25px;
  }

  .fw-pb-25\@xs {
    padding-bottom: 25px;
  }

  .fw-pl-25\@xs {
    padding-left: 25px;
  }

  .fw-pr-25\@xs {
    padding-right: 25px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-30\@xs {
    padding: 30px;
  }

  .fw-pt-30\@xs {
    padding-top: 30px;
  }

  .fw-pb-30\@xs {
    padding-bottom: 30px;
  }

  .fw-pl-30\@xs {
    padding-left: 30px;
  }

  .fw-pr-30\@xs {
    padding-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-35\@xs {
    padding: 35px;
  }

  .fw-pt-35\@xs {
    padding-top: 35px;
  }

  .fw-pb-35\@xs {
    padding-bottom: 35px;
  }

  .fw-pl-35\@xs {
    padding-left: 35px;
  }

  .fw-pr-35\@xs {
    padding-right: 35px;
  }
}
@media screen and (max-width: 767px) {
  .fw-padding-40\@xs {
    padding: 40px;
  }

  .fw-pt-40\@xs {
    padding-top: 40px;
  }

  .fw-pb-40\@xs {
    padding-bottom: 40px;
  }

  .fw-pl-40\@xs {
    padding-left: 40px;
  }

  .fw-pr-40\@xs {
    padding-right: 40px;
  }
}
.fw-flex-inline {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.fw-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.fw-flex > * {
  min-width: 0;
}

.fw-flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.fw-flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.fw-flex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.fw-flex-wrap-no {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.fw-flex-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fw-flex-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.fw-flex-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.fw-flex-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.fw-flex-left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.fw-flex-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.fw-flex-space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.fw-flex-space-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.fw-flex-shrink-1 {
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.fw-flex-grow-1 {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.fw-flex-shrink-2 {
  -webkit-flex-shrink: 2;
  -ms-flex-negative: 2;
  flex-shrink: 2;
}

.fw-flex-grow-2 {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -moz-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

.fw-flex-shrink-3 {
  -webkit-flex-shrink: 3;
  -ms-flex-negative: 3;
  flex-shrink: 3;
}

.fw-flex-grow-3 {
  -webkit-box-flex: 3;
  -webkit-flex-grow: 3;
  -moz-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
}

.fw-flex-shrink-4 {
  -webkit-flex-shrink: 4;
  -ms-flex-negative: 4;
  flex-shrink: 4;
}

.fw-flex-grow-4 {
  -webkit-box-flex: 4;
  -webkit-flex-grow: 4;
  -moz-box-flex: 4;
  -ms-flex-positive: 4;
  flex-grow: 4;
}

.fw-flex-shrink-5 {
  -webkit-flex-shrink: 5;
  -ms-flex-negative: 5;
  flex-shrink: 5;
}

.fw-flex-grow-5 {
  -webkit-box-flex: 5;
  -webkit-flex-grow: 5;
  -moz-box-flex: 5;
  -ms-flex-positive: 5;
  flex-grow: 5;
}

.fw-flex-shrink-no {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.fw-flex-grow-no {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -moz-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.fw-flex-self-end {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.fw-flex-self-start {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.fw-fz-0 {
  font-size: 0px;
}

.fw-fz-12 {
  font-size: 12px;
}

.fw-fz-13 {
  font-size: 13px;
}

.fw-fz-14 {
  font-size: 14px;
}

.fw-fz-15 {
  font-size: 15px;
}

.fw-fz-16 {
  font-size: 16px;
}

.fw-fz-18 {
  font-size: 18px;
}

.fw-fz-24 {
  font-size: 24px;
}

.fw-fz-36 {
  font-size: 36px;
}

@media screen and (max-width: 950px) {
  .fw-fz-0\@xl {
    font-size: 0px;
  }
}
@media screen and (max-width: 950px) {
  .fw-fz-12\@xl {
    font-size: 12px;
  }
}
@media screen and (max-width: 950px) {
  .fw-fz-13\@xl {
    font-size: 13px;
  }
}
@media screen and (max-width: 950px) {
  .fw-fz-14\@xl {
    font-size: 14px;
  }
}
@media screen and (max-width: 950px) {
  .fw-fz-15\@xl {
    font-size: 15px;
  }
}
@media screen and (max-width: 950px) {
  .fw-fz-16\@xl {
    font-size: 16px;
  }
}
@media screen and (max-width: 950px) {
  .fw-fz-18\@xl {
    font-size: 18px;
  }
}
@media screen and (max-width: 950px) {
  .fw-fz-24\@xl {
    font-size: 24px;
  }
}
@media screen and (max-width: 950px) {
  .fw-fz-36\@xl {
    font-size: 36px;
  }
}
@media screen and (max-width: 767px) {
  .fw-fz-0\@xs {
    font-size: 0px;
  }
}
@media screen and (max-width: 767px) {
  .fw-fz-12\@xs {
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  .fw-fz-13\@xs {
    font-size: 13px;
  }
}
@media screen and (max-width: 767px) {
  .fw-fz-14\@xs {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .fw-fz-15\@xs {
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  .fw-fz-16\@xs {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .fw-fz-18\@xs {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .fw-fz-24\@xs {
    font-size: 24px;
  }
}
@media screen and (max-width: 767px) {
  .fw-fz-36\@xs {
    font-size: 36px;
  }
}
.fw-line-height-0 {
  line-height: 0px;
}

.fw-line-height-18 {
  line-height: 18px;
}

.fw-line-height-22 {
  line-height: 22px;
}

.fw-line-height-25 {
  line-height: 25px;
}

.fw-line-height-40 {
  line-height: 40px;
}

.fw-line-height-1-2 {
  line-height: 1.2;
}

.fw-line-height-1-4 {
  line-height: 1.4;
}

.fw-line-height-1-5 {
  line-height: 1.5;
}

.fw-line-height-1-7 {
  line-height: 1.7;
}

.fw-line-height-2 {
  line-height: 2;
}

.fw-line-height-1-0 {
  line-height: 1.0;
}

.fw-font-globus {
  font-family: globusmarket, "Open Sans", sans-serif, Arial;
}

.fw-text-300 {
  font-weight: 300;
}

.fw-text-400 {
  font-weight: 400;
}

.fw-text-500 {
  font-weight: 500;
}

.fw-text-600 {
  font-weight: 600;
}

.fw-font-normal {
  font-weight: normal;
}

.fw-font-italic {
  font-style: italic;
}

.fw-font-bold {
  font-family: akrobatbold, "Open Sans", sans-serif, Arial;
}

.fw-font-semi-bold {
  font-weight: 600;
}

.fw-font-extra-bold {
  font-weight: 800;
}

.fw-border-none {
  border: none;
}

.fw-border-width-1 {
  border-width: 1px;
}

.fw-border-width-2 {
  border-width: 2px;
}

.fw-border-width-3 {
  border-width: 3px;
}

.fw-border-width-4 {
  border-width: 4px;
}

.fw-border-width-5 {
  border-width: 5px;
}

.fw-border-radius-3 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.fw-border-radius-percent-3 {
  -webkit-border-radius: 3%;
  -moz-border-radius: 3%;
  border-radius: 3%;
}

.fw-border-radius-5 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.fw-border-radius-percent-5 {
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  border-radius: 5%;
}

.fw-border-radius-7 {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.fw-border-radius-percent-7 {
  -webkit-border-radius: 7%;
  -moz-border-radius: 7%;
  border-radius: 7%;
}

.fw-border-radius-50 {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.fw-border-radius-percent-50 {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.fw-border-color-pink {
  border-color: #e60278;
}

.fw-border-color-white {
  border-color: #fff;
}

.fw-border-color-blue {
  border-color: #00225a;
}

.fw-border-color-blue-light {
  border-color: #51b0e1;
}

.fw-border-color-gray {
  border-color: #bebebe;
}

.fw-border-color-gray-light {
  border-color: #eee;
}

.fw-border-color-dark {
  border-color: #333333;
}

.fw-border-style-solid {
  border-style: solid;
}

.fw-border-style-solid-top {
  border-style: solid none none none;
}

.fw-border-style-solid-right {
  border-style: none solid none none;
}

.fw-border-style-solid-bottom {
  border-style: none none solid none;
}

.fw-border-style-solid-left {
  border-style: none none none solid;
}

.fw-border-style-dashed {
  border-style: dashed;
}

.fw-border-style-dashed-top {
  border-style: dashed none none none;
}

.fw-border-style-dashed-right {
  border-style: none dashed none none;
}

.fw-border-style-dashed-bottom {
  border-style: none none dashed none;
}

.fw-border-style-dashed-left {
  border-style: none none none dashed;
}

.fw-border-style-dotted {
  border-style: dotted;
}

.fw-border-style-dotted-top {
  border-style: dotted none none none;
}

.fw-border-style-dotted-right {
  border-style: none dotted none none;
}

.fw-border-style-dotted-bottom {
  border-style: none none dotted none;
}

.fw-border-style-dotted-left {
  border-style: none none none dotted;
}

.fw-border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fw-hidden {
  display: none;
}

.fw-visible {
  display: block;
}

.fw-clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.fw-float-left {
  float: left;
}

.fw-float-right {
  float: right;
}

.fw-text-capitalize {
  text-transform: capitalize;
}

.fw-text-lowercase {
  text-transform: lowercase;
}

.fw-text-uppercase {
  text-transform: uppercase;
}

.fw-text-decoration-none {
  text-decoration: none;
}

.fw-text-underline {
  text-decoration: underline;
}

.fw-text-underline-hover {
  text-decoration: none;
}
.fw-text-underline-hover:hover {
  text-decoration: underline;
}

.fw-text-line-through {
  text-decoration: line-through;
}

.fw-text-line-through-hover {
  text-decoration: none;
}
.fw-text-line-through-hover:hover {
  text-decoration: line-through;
}

.fw-text-dashed {
  -webkit-text-decoration: dashed;
  -moz-text-decoration: dashed;
  text-decoration: dashed;
}

.fw-text-dashed-hover {
  text-decoration: none;
}
.fw-text-dashed-hover:hover {
  -webkit-text-decoration: dashed;
  -moz-text-decoration: dashed;
  text-decoration: dashed;
}

.fw-text-center {
  text-align: center;
}

.fw-text-left {
  text-align: left;
}

.fw-text-right {
  text-align: right;
}

.fw-opacity-5 {
  opacity: 0.5;
}

.fw-opacity-7 {
  opacity: 0.7;
}

.fw-opacity-8 {
  opacity: 0.8;
}

.fw-opacity-1 {
  opacity: 1;
}

.fw-dashed-link {
  border-bottom: 1px dashed #fff;
  text-decoration: none;
}
.fw-dashed-link:hover {
  border-color: transparent;
}

.fw-absolute {
  position: absolute;
}

.fw-relative {
  position: relative;
}

.fw-top-0 {
  top: 0;
}

.fw-top-100-percent {
  top: 100%;
}

.fw-top-50-percent {
  top: 50%;
}

.fw-bottom-0 {
  bottom: 0;
}

.fw-bottom-100-percent {
  bottom: 100%;
}

.fw-left-0 {
  left: 0;
}

.fw-left-100-percent {
  left: 100%;
}

.fw-right-0 {
  right: 0;
}

.fw-right-100-percent {
  right: 100%;
}

.fw-box-shadow {
  border: solid 1px #ececec;
}

.fw-transition, .lang-menu__inner {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.fw-z-index-1 {
  z-index: 1;
}

.fw-text-nowrap {
  white-space: nowrap;
}

.fw-block {
  display: block;
}

.fw-transform-origin-left {
  -webkit-transform-origin: 40% 100%;
  -moz-transform-origin: 40% 100%;
  -ms-transform-origin: 40% 100%;
  -o-transform-origin: 40% 100%;
  transform-origin: 40% 100%;
}

.fw-link:hover {
  text-decoration: none;
}
.fw-link.fw-text-decoration-none {
  text-decoration: none;
}
.fw-link.fw-text-decoration-none:hover {
  text-decoration: underline;
}

.popup-wrapper {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1001;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.8);
}
.popup-wrapper.opened {
  visibility: visible;
  opacity: 1;
}
.popup-wrapper.opened .lang-menu__inner {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.popup-wrapper .header {
  position: static;
}

.lang-menu__inner {
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}

.popup-mobile-menu {
  left: -100%;
}
.popup-mobile-menu.opened {
  left: 0;
}

@media screen and (max-width: 767px) {
  .parallax-mirror {
    display: none !important;
  }
}

body {
  font-family: fs, sans-serif, arial;
  font-size: 16px;
  font-weight: 400;
  color: #3d3d3d;
  line-height: 1.2;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.app-wrapper {
  min-width: 320px;
  width: 100%;
  overflow: hidden;
}

.btn {
  background-color: #e60278;
  color: #fff;
  padding: 5px 25px;
}

.top-line__menu li {
  position: relative;
}
.top-line__menu li:not(:first-child) {
  margin-left: 30px;
}
.top-line__menu li:not(:first-child):after {
  display: block;
  content: "";
  height: 80%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  position: absolute;
  left: 0;
  margin-left: -15px;
  width: 1px;
  background-color: #fff;
}

.header {
  border-bottom: 1px solid #a7a7a7;
}

.header__form {
  background-color: #eeeeee;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.first-screen {
  background: url(../images/first-scree-bg.png) no-repeat center center/cover;
}
.first-screen__form {
  background-color: rgba(0, 34, 90, 0.9);
  padding: 70px 35px;
  max-width: 360px;
  width: 100%;
}

.first-screen__button {
  border: 1px solid #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 270px;
  color: #ffffff;
  text-decoration: underline;
  font-size: 18px;
}

.block-title {
  font-weight: 500;
  font-size: 24px;
}

.company-jobs-list-number {
  border-left: 1px dashed #ccc;
  border-right: 1px dashed #ccc;
}

.link-marked {
  position: relative;
  padding-left: 15px;
  display: inline-block;
}
.link-marked:after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  border: 4px solid transparent;
  border-left: 4px solid #51b0e1;
}

.vacancies-block-full-height {
  position: absolute;
  top: -35px;
  bottom: -35px;
  left: 0;
  right: 0;
  display: block;
}
.vacancies-block-full-height img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
