.icon {
  display: inline-block;
  vertical-align: middle;
}

.icon-create-vacancy {
  background-image: url('../images/icons-se35ef14054.png');
  background-position: 0 -92px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 52px;
  width: 52px;
}

.icon-create-resume {
  background-image: url('../images/icons-se35ef14054.png');
  background-position: 0 -35px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 52px;
  width: 52px;
}

.icon-blue-double-arrow {
  background-image: url('../images/icons-se35ef14054.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 11px;
  width: 5px;
}

.icon-white-double-arrow {
  background-image: url('../images/icons-se35ef14054.png');
  background-position: 0 -194px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 11px;
  width: 5px;
}

.icon-white-apply {
  background-image: url('../images/icons-se35ef14054.png');
  background-position: 0 -170px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 19px;
  width: 19px;
}

.icon-blue-hamburger {
  background-image: url('../images/icons-se35ef14054.png');
  background-position: 0 -16px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 14px;
  width: 16px;
}

.icon-trash {
  background-image: url('../images/icons-se35ef14054.png');
  background-position: 0 -149px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 14px;
}

.icon-white-profile {
  background-image: url('../images/icons-se35ef14054.png');
  background-position: 0 -210px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}

.icon-chevron-right {
  width: 8px;
  height: 8px;
  border-top: 2px solid #000000;
  border-right: 2px solid #000000;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
