<div class="fw-fz-18 fw-color-gray">
    <a href="#" class="fw-color-gray fw-text-underline">Главная</a>
    <span class="fw-ml-20 fw-mr-20">|</span>
    <a href="#" class="fw-color-gray fw-text-underline">Новости</a>
    <span class="fw-ml-20 fw-mr-20">|</span>
    <span>...</span>
</div>