<div class="pagination">
    <ul class="pagination__list">
        <li class="pagination__item">
            <a class="pagination__link" href="#">Назад</a>
        </li>
        <li class="pagination__item active">
            <a class="pagination__link" href="#">1</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="#">2</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="#">3</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="#">4</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="#">5</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="#">Вперед</a>
        </li>
    </ul>
</div>