<div>
    <div>
        <a class="fw-color-dark fw-text-decoration-none" href="#">Продавец-консультант</a>
    </div>
    <div class="fw-color-gray">з/п не указана</div>
    <div class="fw-fz-12 fw-mt-5"><a href="#" class="fw-color-blue-light">Hoff, Москва</a>
    </div>
</div>