<form action="#" class="filter">
    <div class="fw-padding-30 fw-padding-15@xl filter__section fw-fz-18">
        Фильтры
    </div>
    <div class="js-show-more-container fw-padding-30 fw-padding-15@xl filter__section">
        <div class="js-show-more-trigger">
            Регион
        </div>
        <div class="fw-pt-30 js-show-more-content">
            {% include '../components/filter-block.twig' %}
        </div>
    </div>
    <div class="js-show-more-container fw-padding-30 fw-padding-15@xl filter__section">
        <div class="js-show-more-trigger">
            Зарплата
        </div>
        <div class="fw-pt-30 js-show-more-content">
            {% include '../components/filter-block.twig' %}
        </div>
    </div>
    <div class="js-show-more-container fw-padding-30 fw-padding-15@xl filter__section">
        <div class="js-show-more-trigger">
            Опыт работы
        </div>
        <div class="fw-pt-30 js-show-more-content">
            {% include '../components/filter-block.twig' %}
        </div>
    </div>
    <div class="js-show-more-container fw-padding-30 fw-padding-15@xl filter__section">
        <div class="js-show-more-trigger d-flex justify-content-between align-items-center">
            <div>Отрасль компании</div>
            <div class="fw-ml-15">
                <i class="icon icon-blue-double-arrow"></i>
            </div>
        </div>
        <div class="fw-pt-30 js-show-more-content fw-hidden">
            {% include '../components/filter-block.twig' %}
        </div>
    </div>
    <div class="js-show-more-container fw-padding-30 fw-padding-15@xl filter__section">
        <div class="js-show-more-trigger d-flex justify-content-between align-items-center">
            <div>Тип занятости</div>
            <div class="fw-ml-15">
                <i class="icon icon-blue-double-arrow"></i>
            </div>
        </div>
        <div class="fw-pt-30 js-show-more-content fw-hidden">
            {% include '../components/filter-block.twig' %}
        </div>
    </div>
    <div class="js-show-more-container fw-padding-30 fw-padding-15@xl filter__section">
        <div class="js-show-more-trigger d-flex justify-content-between align-items-center">
            <div>Время работы</div>
            <div class="fw-ml-15">
                <i class="icon icon-blue-double-arrow"></i>
            </div>
        </div>
        <div class="fw-pt-30 js-show-more-content fw-hidden">
            {% include '../components/filter-block.twig' %}
        </div>
    </div>
    <div class="fw-padding-30 fw-padding-15@xl filter__section">
        <button class="btn btn-blue"  type="reset">Сбросить фильтры</button>
    </div>
</form>