<select class="js-custom-select custom-select">
    <option value="">asdads</option>
    <option value="">asdads</option>
    <option value="">asdads</option>
    <option value="">asdads</option>
    <option value="">asdads</option>
</select>