@media (max-width: 1700px)
	.brand
		.fw-ml-inverse-120
			margin-left: 0
@media (max-width: 1350px)
	.brand
		.production-mirel
			padding-right: 0
			.fw-width-210
				display: none
			&__list-wrap
				display: block !important
			&__items-desktop
				.fw-width-1-4
					img
						min-height: 202px
						object-fit: contain
		&__main-title
			padding-left: 15px
		.b-breadcrumbs
			padding-left: 15px
		.fw-bg-color-light-pale-yellow
			.container-small
				padding-left: 0
				padding-right: 0
		&__top-block
			flex-direction: column
			justify-content: flex-end
			align-items: flex-end
			.fw-flex-grow-1
				width: 100%
				text-align: right
				.fw-fz-0
					img
						width: 75%
						margin-bottom: 30px
			.fw-width-680
				margin: auto
				margin-top: 55px

@media (max-width: 1000px)
	.brand
		&-bottom-section
			.fw-flex-grow
				&:nth-child(n+6)
					display: none
		.brand-bottom-section
			margin-top: 25px
			margin-bottom: 50px
		.instagram-profile
			display: flex
			text-align: center
			align-items: center
			justify-content: center
			.fw-fz-42
				font-size: 24px
			.fw-width-210
				display: none
		&__top-block
			flex-direction: column
			justify-content: flex-end
			align-items: flex-end
			.fw-flex-grow-1
				.fw-ml-40
					text-align: center
		.container
			padding-left: 0
			padding-right: 0
		.production-mirel
			padding-top: 50px
			padding-left: 15px
			padding-right: 15px
			&__items-footer
				margin-bottom: 50px
			&__title
				font-size: 30px
			.fw-width-210
				display: none
			&__items-desktop
				.fw-width-1-4
					width: 33.3%
@media (max-width: 900px)
	.brand
		.production-mirel
			&__items-desktop
				.fw-width-1-4
					width: 50%
@media (max-width: 750px)
	.brand
		.fw-width-680
			width: 100%
			padding: 50px 30px
		overflow: hidden
		.fw-width-680
			padding-bottom: 0
		&__description
			display: flex
			flex-direction: column
			p
				margin-bottom: 0
			.hide-description-on-mobile
				transition: all .5s ease
				opacity: 0
				margin-bottom: 0
				visibility: visible
				height: 0
				overflow: hidden
				order: 1
				p
					margin-top: 20px
				p:last-child
					margin-bottom: 0
			label
				display: block
			label,input
				order: 2
			input[type="checkbox"]:checked + .hide-description-on-mobile
				transition: all .5s ease
				height: auto
				opacity: 1
				margin-bottom: 10px
				visibility: visible
		&__description-title
			display: flex
			align-items: center
			justify-content: space-between
			i
				display: block
				transition: all .5s ease
				margin-left: 15px
				font-size: 30px
				transform: rotate(-90deg)
		&__description-title.active
			i
				transform: rotate(0deg)
		.fw-bg-color-light-pale-yellow
			.fw-pb-100
				padding-bottom: 0
		&__top-block
			flex-direction: column
			justify-content: flex-end
			align-items: flex-end
			.fw-width-680
				padding-top: 50px
				padding-left: 15px
				padding-right: 15px
				.fw-fz-42
					font-size: 24px
				.fw-fz-16
					font-size: 14px
					margin-top: 25px

			.fw-flex-grow-1
				.fw-ml-40
					margin-left: 10px
					margin-right: 10px
					text-align: center
		&__main-title
			font-size: 32px
		.mirel-mobile__slider
			position: relative
			.owl-nav
				position: relative
				display: flex
				align-items: center
				justify-content: center
				left: 50%
				transform: translateX(-50%)
				button
					cursor: pointer !important
					height: 50px
					width: 50px
					background-color: #fff !important
					margin: 0 !important
					border-radius: 0 !important
					opacity: 1 !important
					outline: none
					&:first-child
						position: relative
						&:after
							content: ''
							position: absolute
							width: 1px
							height: 15px
							background-color: #f0e3da
							top: 50%
							transform: translateY(-50%)
							right: 0
					&:hover
						color: $colorDarkRed !important
				.owl-prev
					i
						display: inline-block
						transform: rotate(180deg) !important

		.production-mirel__mobile
			padding-bottom: 15px
			display: block
			.ideas__menu-item
				margin-bottom: 0px
		.production-mirel
			display: none
			&__title
				font-size: 24px
			&__items-desktop
				display: none
			&__items-footer
				display: none
@media (max-width: 460px)
	.brand
		&-bottom-section
			.fw-flex-grow
				&:nth-child(n+4)
					display: none
@media (min-width: 750px)
	.brand
		&__description
			display: block !important