$colorWhite: #fff
$colorBlue: #00225a
$colorBlueLight: #51b0e1
$colorGray: #bebebe
$colorGrayLight: #eee
$colorDark: #333333

$colors: (white: $colorWhite, blue: $colorBlue, blue-light: $colorBlueLight, gray: $colorGray, gray-light: $colorGrayLight, dark: $colorDark)