$colorWhite: #fff
$colorText: #2d2d2d
$colorDarkRed: #a61c35
$colorLightRed: #e38d9d
$colorGrayText: #a6a6a6
$colorPaleYellow: #caa98b
$colorLightPaleYellow: #fdf7f2
$colorDarkText: #070707
$colorMenuBorder: #bb364f
$colorOpacityDark: rgba(#000, 0.3)
$colors: (opacity-dark: $colorOpacityDark, light-red: $colorLightRed, menu-border: $colorMenuBorder, light-pale-yellow: $colorLightPaleYellow, dark-text: $colorDarkText,  pale-yellow:$colorPaleYellow, gray-text: $colorGrayText, white: $colorWhite,text: $colorText, dark-red: $colorDarkRed)