@import "mixins/mixins"

//top menu
.main-menu
    padding-left: 0
    margin-top: 0
    margin-bottom: 0
    padding-bottom: 15px
    padding-top: 15px

    &-item
        position: relative
        &:hover
            .main-menu-item-sub-list-wrap
                opacity: 1
                visibility: visible
                top: calc(100%)
        &--sub-list
            padding-bottom: 10px
            padding-top: 10px
            padding-left: 0
            background-color: $colorWhite
        &-sub-list-wrap
            transition: all .3s ease
            list-style: none
            padding-top: 36px
            min-width: 100%
            position: absolute
            left: 0
            opacity: 0
            visibility: hidden
            top: calc(100% + 15px)
            .box-shadow-menu
                display: flex
                justify-content: flex-start
                box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2)

// burger
.burger-menu
    width: 40px
    -webkit-transition: all .3s
    transition: all .3s
    z-index: 13
    cursor: pointer
    height: 20px
    display: flex
    flex-direction: column
    align-items: flex-end
    justify-content: center
    &:hover
        .bar
            &:nth-of-type(2)
                width: 100%
            &:nth-of-type(3)
                width: 100%
    .bar
        transition: all .3s
        height: 2px
        width: 100%
        display: block
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)

.burger-menu--closed
    &:hover
        .bar
            width: 100%
    .bar
        &:nth-of-type(2)
            width: 75%
            -webkit-transition-property: margin, height, width
            transition-property: margin, height, width
            -webkit-transition-delay: .3s, .3s, 0s
            transition-delay: .3s, .3s, 0s
            margin: 6px 0
        &:nth-of-type(3)
            width: 50%

.main-menu-link
    position: absolute
    span
        transition: all .3s ease
        opacity: 1
        height: auto
        overflow: hidden

.burger-menu--opened
    position: fixed
    top: 45px
    left: calc(100% - 160px)
    .bar
        background-color: #fff
        &:nth-of-type(1)
            transform: rotate(45deg)
            -webkit-transition-delay: .3s
            transition-delay: .3s
            height: 3px

        &:nth-of-type(2)
            opacity: 0
            height: 0
            margin: -2px

        &:nth-of-type(3)
            -webkit-transform: rotate(-45deg)
            -ms-transform: rotate(-45deg)
            transform: rotate(-45deg)
            -webkit-transition-delay: .3s
            transition-delay: .3s
            height: 3px

// fixed menu tabs_________________________________________________________________________
.menu-search-input
    border: none
    outline: none
    transition: all .3s ease-out
    background-color: transparent
    padding: 5px 10px
    font-family: 'MontserratSemiBold'
    box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 1)
    &:focus
        transition: all .3s ease-out
        box-shadow: inset 0px -2px 0px 0px rgba(255, 255, 255, 1)
    &::-webkit-input-placeholder
        font-size: 20px
        color: $colorWhite
        background-color: transparent

.fixed-menu
    transition: all .6s ease-out
    overflow: hidden
    position: fixed
    top: 0
    left: 0
    width: 0
    height: 100vh
    opacity: 0
    transition-delay: 1.75s
    background-color: $colorDarkRed
    z-index: 10
    .serch-input-wrap
        position: relative
        transition: all .3s ease-out
        transition-delay: .15s
        left: -50px
        opacity: 0
    .lang-title, .page-title, .main-menu-link
        opacity: 0
        transition: all .3s ease
        transition-delay: 1.4s
    .soc-menu
        position: relative
        transition: all .3s ease-out
        transition-delay: .1s
        left: -56px
        opacity: 0

    //	animation li in right menu________________________________________________
    &-tab-content
        position: absolute
        width: 100%
        padding-left: 100px
        right: 0
        &-menu
            visibility: visible
            transition: 1.2s ease-out
            opacity: 0
            transition-delay: 1.5s
            li
                transition: all .2s linear
                position: relative
                opacity: 0
                left: 0
                max-width: 400px
                width: 100%
                visibility: hidden
                transform: matrix(1, 0, 0, 1, -45, 0)
                &:nth-child(1)
                    transition-delay: .5s
                &:nth-child(2)
                    transition-delay: .4s
                &:nth-child(3)
                    transition-delay: .3s
                &:nth-child(4)
                    transition-delay: .2s
                &:nth-child(5)
                    transition-delay: .15s
                &:nth-child(6)
                    transition-delay: .12s
                &:nth-child(7)
                    transition-delay: .1s
                &:nth-child(8)
                    transition-delay: .05s
                &:last-child
                    a
                        border-bottom: none
                a
                    border-bottom: 1px solid $colorMenuBorder
                    position: relative

    &-tab-content.active
        .fixed-menu-tab-content-menu
            visibility: visible
            transition: 1s ease-out
            opacity: 1
            z-index: 2
            position: relative
            li
                //transition: all .5s ease-out !important
                transition: all .2s linear
                opacity: 1
                transform: matrix(1, 0, 0, 1, 0, 0)
                visibility: visible
                right: 0
                left: 0
                &:nth-child(1)
                    transition-delay: .55s
                &:nth-child(2)
                    transition-delay: .65s
                &:nth-child(3)
                    transition-delay: .75s
                &:nth-child(4)
                    transition-delay: .80s
                &:nth-child(5)
                    transition-delay: .85s
                &:nth-child(6)
                    transition-delay: .90s
                &:nth-child(7)
                    transition-delay: .95s
                &:nth-child(8)
                    transition-delay: 1s
    //	end ____________________________________________________


    //	animated li in left menu _________________________________
    &-tabs-navigation
        transition: all .6s ease
        opacity: 1
        li
            left: -55px
            opacity: 0
            position: relative
            padding-right: 30px
            transition: all .3s linear
            &:nth-child(1)
                transition-delay: 1s
                visibility: hidden
            &:nth-child(2)
                transition-delay: .9s
                visibility: hidden
            &:nth-child(3)
                transition-delay: .85s
                visibility: hidden
            &:nth-child(4)
                transition-delay: .75s
                visibility: hidden
            &:nth-child(5)
                transition-delay: .65s
                visibility: hidden
            &:nth-child(6)
                transition-delay: .55s
                visibility: hidden
            &:nth-child(7)
                transition-delay: .45s
                visibility: hidden
            &:nth-child(8)
                transition-delay: .35s
                visibility: hidden
            .icon-keyboard_arrow_right
                position: absolute
                right: 0
                top: 50%
                transform: translateY(-50%)
                transition: all .6s ease
            &:after
                transition: all .5s ease
                content: ''
                position: absolute
                right: 0
                top: 50%
                transform: translateY(-50%)
                height: 2px
                width: 0
                background-color: $colorMenuBorder
        li.active
            .icon-keyboard_arrow_right
                transition: all .6s ease
                right: -1000px
            &:after
                transition: all .5s ease
                right: -1000px
                width: 1000px
    // end______________________________
    &-tabs-container
        position: relative
        transition-delay: 1s
    &-relative
        width: 0
        overflow: hidden
        transition: all .5s ease
        transition-delay: 2s
        z-index: 4
    &-left
        background-color: $colorDarkRed
    &-right
        transition: all 1.5s ease
        transition-delay: 1.5s
        background-color: #b4203b
        //background-color: purple
        position: relative
        right: 100%
        width: 50%
        z-index: 4
        overflow: hidden

.fixed-menu-open
    transition: all .5s ease-out
    transition-delay: 0s
    width: 100%
    opacity: 1
    .fixed-menu-right
        right: -50%
        width: 50%
        transition-delay: 0s
        transition: all .8s ease-out
    .fixed-menu-right.active
        transition: all .3s ease-out
        width: 50%
        right: 0
    .serch-input-wrap
        transition-delay: 1.1s
        left: 0
        opacity: 1
    .soc-menu
        transition-delay: 1.2s
        left: 0
        opacity: 1
    .lang-title, .page-title, .main-menu-link
        transition-delay: 1.4s
        opacity: 1
    .fixed-menu-layout
        width: 100%
        transition-delay: 0s
    .fixed-menu-relative
        width: 100%
        transition-delay: 0s

    .fixed-menu-tabs-navigation
        li
            opacity: 1
            left: 0
            transition: all .3s linear
            &:nth-child(1)
                transition-delay: .35s
                visibility: visible
            &:nth-child(2)
                transition-delay: .45s
                visibility: visible
            &:nth-child(3)
                transition-delay: .55s
                visibility: visible
            &:nth-child(4)
                transition-delay: .65s
                visibility: visible
            &:nth-child(5)
                transition-delay: .75s
                visibility: visible
            &:nth-child(6)
                transition-delay: .85s
                visibility: visible
            &:nth-child(7)
                transition-delay: .9s
                visibility: visible
            &:nth-child(8)
                transition-delay: 1s
                visibility: visible

ul.tabs li.active
    display: block
    color: red

.tab_content
    display: none

@media (max-width: 1350px)
    .fixed-menu
        .serch-input-wrap
            padding-bottom: 40px
        .main-menu-link
            right: 20px
            top: 20px
            i
                font-size: 25px

@media (max-width: 1100px)
    $leftPadding: 80px
    .fixed-menu
        &-left
            padding-left: $leftPadding
            .page-title
                left: $leftPadding
                top: 30px

@media (max-width: 950px)
    $leftPadding: 30px
    .fixed-menu
        &-left
            padding-left: $leftPadding
            .page-title
                left: $leftPadding
                top: 30px
@media (max-width: 870px)
    .fixed-menu
        &-left
            .fw-pr-70
                padding-right: 30px
@media (max-width: 770px)
    .fixed-menu-open
        &-right
            right: -100%
            width: 40%
    .fixed-menu
        &-tabs-container
            height: 100%
        &-right
            .fixed-menu-tab-content
                padding-left: 20px
        &-right.active
            width: 40% !important
            .fixed-menu-tab-content
                padding-left: 20px
        &-left
            width: 60%
            flex-direction: row-reverse
            .lang-title
                padding-right: 30px
            .fw-pr-70
                width: 100%
                padding-right: 0

@media (max-width: 600px)
    .fixed-menu
        .main-menu-link
            right: 45px !important
            top: 39px !important
            opacity: 0
        &-right
            display: none
        .serch-input-wrap
            display: none
        &-left
            max-height: 100vh
            height: 100vh
            overflow: auto
            width: 100%
            align-items: stretch
            padding-left: 0
            .page-title
                left: 44px
                top: 42px
            .soc-menu
                padding-bottom: 50px
                padding-left: 44px
                padding-top: 35px
                display: flex
                justify-content: space-between
                .show-lang-title-mobile
                    display: block
                    .lang-title
                        padding-right: 45px
            .hide-lang-title-mobile
                display: none
            .fixed-menu-tabs-navigation
                padding-top: 47px
                position: relative
                &:before
                    position: absolute
                    content: ''
                    top: 7px
                    right: 45px
                    width: 29px
                    height: 30px
                    background-image: url('/images/menu-close.png')
                    background-repeat: no-repeat
                li
                    width: 100%
                    padding-right: 0
                    margin-bottom: 0
                    padding-bottom: 11px
                    padding-top: 20px
                    display: flex
                    align-items: flex-start
                    justify-content: flex-start

                    .head-mobile-menu
                        padding-left: 44px
                    .mobile-sub-menu
                        transition: all .5s ease
                        display: block
                        background-color: #b4203b
                        width: 100%
                        height: 0
                        overflow: hidden
                        margin: 0
                        li
                            padding: 0
                            &:last-child a
                                border-bottom: 0
                            a
                                padding-left: 44px
                                display: block
                                width: 100%
                                border-color: #bc374f
                    .icon-keyboard_arrow_right
                        position: relative
                        margin-left: 5px
                        top: auto
                        transform: translateY(0)
                    &:after
                        display: none
                li.active
                    padding-bottom: 23px
                    .mobile-sub-menu
                        height: auto
                        margin-top: 20px
                        padding-bottom: 0px
                    .icon-keyboard_arrow_right
                        transition: all .6s ease
                        right: 0

                        transform-origin: center
                        transform: rotate(90deg)
                    &:after
                        transition: all .5s ease
                        right: 0
                        display: none
                        width: 0
@media (max-height: 900px)
    .fixed-menu
        &-left
            padding-bottom: 30px
            padding-top: 30px
        .serch-input-wrap
            padding-bottom: 40px

        .main-menu-link
            right: 20px
            top: 20px
            i
                font-size: 25px

@media (max-height: 800px)
    .fixed-menu
        &-tabs-navigation
            padding-top: 60px
            li
                margin-bottom: 35px

@media (max-height: 700px)
    .fixed-menu
        &-tabs-navigation
            padding-top: 60px
            li
                margin-bottom: 25px


@media (max-height: 600px)
    .fixed-menu
        .main-menu-link
            right: 45px !important
            top: 39px !important
            opacity: 0
        &-right
            display: none
        .serch-input-wrap
            display: none
        &-left
            max-height: 100vh
            height: 100vh
            overflow: auto
            width: 100%
            align-items: stretch
            padding-left: 0
            .page-title
                left: 44px
                top: 42px
            .soc-menu
                padding-bottom: 50px
                padding-left: 44px
                padding-top: 35px
                display: flex
                justify-content: space-between
                .show-lang-title-mobile
                    display: block
                    .lang-title
                        padding-right: 45px
            .hide-lang-title-mobile
                display: none
            .fixed-menu-tabs-navigation
                padding-top: 47px
                position: relative
                &:before
                    position: absolute
                    content: ''
                    top: 7px
                    right: 45px
                    width: 29px
                    height: 30px
                    background-image: url('/images/menu-close.png')
                    background-repeat: no-repeat
                li
                    width: 100%
                    padding-right: 0
                    margin-bottom: 0
                    padding-bottom: 11px
                    padding-top: 20px
                    display: flex
                    align-items: flex-start
                    justify-content: flex-start

                    .head-mobile-menu
                        padding-left: 44px
                    .mobile-sub-menu
                        transition: all .5s ease
                        display: block
                        background-color: #b4203b
                        width: 100%
                        height: 0
                        overflow: hidden
                        margin: 0
                        li
                            padding: 0
                            &:last-child a
                                border-bottom: 0
                            a
                                padding-left: 44px
                                display: block
                                width: 100%
                                border-color: #bc374f
                    .icon-keyboard_arrow_right
                        position: relative
                        margin-left: 5px
                        top: auto
                        transform: translateY(0)
                    &:after
                        display: none
                li.active
                    padding-bottom: 23px
                    .mobile-sub-menu
                        height: auto
                        margin-top: 20px
                        padding-bottom: 0px
                    .icon-keyboard_arrow_right
                        transition: all .6s ease
                        right: 0
                        transform-origin: center
                        transform: rotate(90deg)
                    &:after
                        transition: all .5s ease
                        right: 0
                        display: none
                        width: 0