@import "mixins/mixins"

body
	@extend .fw-reset
	font-family: 'MontserratRegular', sans-serif, arial
	font-size: 16px
	font-weight: 400
	color: #3d3d3d
	line-height: normal

*
	box-sizing: border-box

// Button style
.fw-button
	position: relative
	height: 50px
	padding-left: 34px
	padding-right: 34px
	&:hover
		.icon-arrow
			margin-left: 10px
		&:before
			width: 100%
	&:before
		content: ''
		position: absolute
		left: 0
		z-index: 0
		top: 0
		width: 57px
		height: 100%
		background-color: #fdf7f2
		transition: all .4s ease

.fw-button-opacity
	&:before
		opacity: .5

// burger
.burger-menu
	width: 40px
	-webkit-transition: all .3s
	transition: all .3s
	z-index: 13
	cursor: pointer
	height: 20px
	display: flex
	flex-direction: column
	align-items: flex-end
	justify-content: center
	&:hover
		.bar
			&:nth-of-type(2)
				width: 100%
			&:nth-of-type(3)
				width: 100%
	.bar
		transition: all .3s
		height: 2px
		width: 100%
		display: block
		-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)

.burger-menu--closed
	&:hover
		.bar
			width: 100%
	.bar
		&:nth-of-type(2)
			width: 75%
			-webkit-transition-property: margin, height, width
			transition-property: margin, height, width
			-webkit-transition-delay: .3s, .3s, 0s
			transition-delay: .3s, .3s, 0s
			margin: 6px 0
		&:nth-of-type(3)
			width: 50%
.main-menu-link
	position: absolute
	right: 0
	span
		transition: all .3s ease
		opacity: 1
		height: auto
		overflow: hidden
	&-active
		span
			transition: all .3s ease
			opacity: 0
			height: 0
.burger-menu--opened
	position: fixed
	top: 45px
	left: calc(100% - 160px)
	.bar
		background-color: #fff
		&:nth-of-type(1)
			transform: rotate(45deg)
			-webkit-transition-delay: .3s
			transition-delay: .3s
			height: 3px

		&:nth-of-type(2)
			opacity: 0
			height: 0
			margin: -2px

		&:nth-of-type(3)
			-webkit-transform: rotate(-45deg)
			-ms-transform: rotate(-45deg)
			transform: rotate(-45deg)
			-webkit-transition-delay: .3s
			transition-delay: .3s
			height: 3px

// fixed menu tabs
.fixed-menu
	transition: all .68s ease-out
	overflow: hidden
	position: fixed
	top: 0
	left: 0
	width: 0
	height: 100vh
	opacity: 0
	background-color: $colorDarkRed
	z-index: 10
	&-tab-content
		transition: all .4s ease-out
		position: absolute
		width: 100%
		padding-left: 100px
		transition-delay: .3s
		right: -100px
		opacity: 0
		visibility: hidden
	&-tab-content-active
		transition: all .4s ease-out
		transition-delay: .3s
		right: 0
		opacity: 1
		visibility: visible
	&-tabs-container
		position: relative
		transition-delay: 1s
	&-relative
		&:after
			transition: all .7s ease-out
			content: ''
			position: absolute
			right: 100%
			top: 0
			height: 100vh
			width: 100%
			background-color: rgba(#fff, .1)
		&:before
			transition: all .4s ease-out
			content: ''
			position: absolute
			left: 0
			top: 0
			height: 100vh
			width: 100%
			background-color: rgba(#fff, .7)
	&-tabs-navigation
		transition: all .6s ease
		opacity: 0
		li
			position: relative
			padding-right: 30px
			.icon-keyboard_arrow_right
				position: absolute
				right: 0
				top: 50%
				transform: translateY(-50%)
				transition: all .6s ease
			&:after
				transition: all .5s ease
				content: ''
				position: absolute
				right: 0
				top: 50%
				transform: translateY(-50%)
				height: 1px
				width: 0
				background-color: $colorMenuBorder
		li.active
			.icon-keyboard_arrow_right
				transition: all .6s ease
				right: -1000px
			&:after
				transition: all .5s ease
				right: -1000px
				width: 1000px

	&-tab-content-menu
		li
			max-width: 400px
			width: 100%
			a
				border-bottom: 1px solid $colorMenuBorder
				border-top: 1px solid $colorMenuBorder
				position: relative
		&:first-child li a
			border-top: none
		//&:last-child
		//	border-bottom: none
	&-left
		background-color: $colorDarkRed
	&-right
		background-color: #b4203b
		position: relative
		right: 0
		width: 0
		overflow: hidden
		transition: all .4s ease-out
	&-right-active
		width: 50%



.fixed-menu-open
	transition: all .5s ease-out !important
	width: 100% !important
	opacity: 1 !important
	.fixed-menu-relative
		&:before
			transition-delay: .6s
			transition: all .8s ease-out
			width: 0
			left: 100%
		&:after
			transition-delay: 1s
			transition: all .80s ease-out
			width: 0
			right: 0
	.fixed-menu-tabs-navigation
		transition-delay: .6s
		opacity: 1

ul.tabs li.active
	display: block
	color: red
.tab_content
	display: none
//__________________________________________________________________________________

.container
	max-width: 1760px
	width: 100%
	margin: auto

.container-small
	max-width: 1350px
	width: 100%
	margin: auto

// Header section
.header-content
	background-image: url('/images/main/header/header-bg.jpg')
	-webkit-background-size: cover
	background-size: cover
	background-position: center center

.header-slider
	.header-slider-slide
		span,h1,p
			opacity: 0
			position: relative

		span
			transition: all .7s ease-out
			left: 150px
		h1
			transition: all 1s ease-out
			opacity: 0
			position: relative
			left: 200px
		p
			transition: all 1.2s ease-out
			opacity: 0
			position: relative
			left: 250px

	.owl-item.active
		.header-slider-slide
			span,h1,p
				left: 0
				opacity: 1
				transition-delay: .6s
.header-slider-navigation
	.active
		color: #2d2d2d
		border-color: #2d2d2d
		&:before
			height: 10px
			top: -10px

	li
		position: relative
		transition: all .3s ease
		border-bottom: 1px solid #edebed
		&:before
			content: ''
			position: absolute
			transition: all .3s ease
			top: 0
			left: 0
			width: 100%
			height: 0
			background-color: #fff
		&:hover
			color: #2d2d2d
			border-color: #2d2d2d
			&:before
				height: 10px
				top: -10px



// History  section
.history-in-numbers-item
	&:last-child
		.history-in-numbers-item--number
			&:after
				display: none
.history-in-numbers-item--number
	position: relative
	&:after
		content: ''
		position: absolute
		right: 0
		top: 50%
		transform: translateY(-50%)
		width: 7px
		height: 7px
		border-radius: 100%
		background-color: #000
.icon-arrow
	transition: all .3s ease

// Modern section
$modernSectionPadding: 160px
$modernSectionAfterHeight: 138px

.modern-production-item-left-before
	&:before
		content: ''
		position: absolute
		top: 0
		left: -$modernSectionPadding
		width: $modernSectionPadding
		height: $modernSectionAfterHeight
		background-color: $colorDarkRed

.partnership
	max-width: 1760px
	width: 100%
	margin: auto
	padding-right: 160px
	&:after
		content: ''
		position: absolute
		top: 0
		right: 0
		width: $modernSectionPadding
		height: 70%
		background-color: $colorLightPaleYellow
	.container
		padding-left: $modernSectionPadding
		padding-right: $modernSectionPadding

// brands

.brands
	&-items
		&-line
			&-item
				position: relative
				&:hover
					.brands-items-line-item-overlay
						opacity: 1
						z-index: 2
				&-overlay
					transition: all .3s ease-out
					position: absolute
					color: $colorWhite
					width: 100%
					height: 100%
					background-color: $colorDarkRed
					z-index: 0
					opacity: 0

// modern-production

.modern-production
	&-line
		&:hover
			.modern-production-item-img-box-image
				transform: scale(1.2)
	&-item-text
		z-index: 2
	&-item-img
		&-box
			overflow: hidden
			//max-width: 863px
			width: 100%
			max-height: 637px
			height: 100%
			display: flex
			align-items: center
			justify-content: center
			&-image
				transition: all 4s linear
				transform: scale(1)
				width: 100%
				height: 100%
				img
					width: 100%
					height: 100%
// locations
.locations-info
	top: 50%
	transform: translateY(-50%)

// footer

.footer-select
	min-width: 430px
	width: 100%
	border: none
	border-radius: 0
	background-color: $colorLightPaleYellow
	border-bottom: 1px solid #000000
	color: $colorGrayText
	.list
		border: none
		border-radius: 0
		width: 100%

footer
	.lang-slider
		border: none
		position: relative
		-webkit-user-select: none
		-moz-user-select: none
		-ms-user-select: none
		user-select: none

	.lang-slider-checkbox
		display: none

	.lang-slider-label
		border: 2px solid $colorGrayText
		border-radius: 20px
		cursor: pointer
		display: block
		overflow: hidden
		width: 46px
		height: 24px
		background-image: url('/images/great-britain.png')
		-webkit-background-size: cover
		background-size: cover
		background-position: center center
		background-repeat: no-repeat

	.lang-slider-circle
		background-color: $colorWhite
		border: 2px solid $colorGrayText
		border-radius: 20px
		bottom: 0
		display: block
		margin: 0
		position: absolute
		left: 0
		top: 0
		-webkit-transition: all 0.3s ease-in 0s
		transition: all 0.3s ease-in 0s

	.lang-slider-checkbox:checked + .lang-slider-label
		.lang-slider-circle
			left: calc(100% - 24px)

// map
.toggle-contacts-title.active
	i
		transform: rotate(-180deg)

// scroll button
.scroll-top-button
	position: fixed
	right: 80px
	bottom: 100px
	z-index: 10
