@import "mixins/mixins"

.parallax-mirror
  @media screen and (max-width: 767px)
    display: none !important

body
  @extend .fw-reset
  font-family: fs, sans-serif, arial
  font-size: 16px
  font-weight: 400
  color: #3d3d3d
  line-height: 1.2

*
  box-sizing: border-box

.container
  max-width: 1320px
  margin-left: auto
  margin-right: auto
  padding-left: 20px
  padding-right: 20px
  width: 100%

.app-wrapper
  min-width: 320px
  width: 100%
  overflow: hidden
  
.btn
  background-color: #e60278
  color: #fff
  padding: 5px 25px

.top-line__menu
  li
    position: relative

    &:not(:first-child)
      margin-left: 30px

      &:after
        display: block
        content: ''
        height: 80%
        top: 50%
        transform: translate(0, -50%)
        position: absolute
        left: 0
        margin-left: -15px
        width: 1px
        background-color: #fff

.header
  border-bottom: 1px solid #a7a7a7

.header__form
  background-color: #eeeeee
  border-radius: 7px

.first-screen
  background: url(../images/first-scree-bg.png) no-repeat center center / cover

  &__form
    background-color: rgba($colorBlue, 0.9)
    padding: 70px 35px
    max-width: 360px
    width: 100%

.first-screen__button
  border: 1px solid #ffffff
  border-radius: 5px
  padding: 15px
  background-color: rgba(#000, 0.9)
  display: flex
  align-items: center
  min-width: 270px
  color: #ffffff
  text-decoration: underline
  font-size: 18px

.block-title
  font-weight: 500
  font-size: 24px

.company-jobs-list-number
  border-left: 1px dashed #ccc
  border-right: 1px dashed #ccc

.link-marked
  position: relative
  padding-left: 15px
  display: inline-block

  &:after
    display: block
    content: ''
    position: absolute
    left: 0
    top: 50%
    transform: translate(0, -50%)
    border: 4px solid transparent
    border-left: 4px solid $colorBlueLight

.vacancies-block-full-height
  position: absolute
  top: -35px
  bottom: -35px
  left: 0
  right: 0
  display: block

  img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    object-fit: cover
