@media (max-width: 1510px)
	.header-location-marker
		padding-right: 150px
	.main-menu
		margin-right: 50px
		&-item
			margin: 0 10px

	.history-in-numbers
		margin-left: 0
		margin-bottom: 0
		flex-wrap: wrap
		justify-content: center
		&-item
			width: 33%

@media (max-width: 1350px)
	.partnership-section-img
		width: 55%

	.container-small
		padding-left: 15px
		padding-right: 15px

	.section-recommedation
		.recommedation-grid
			margin-left: -70px
			margin-bottom: -70px
			&> *
				padding-left: 70px
				margin-bottom: 70px
@media (max-width: 1250px)
	.main-menu
		display: none
	footer
		.footer-content-wrapper
			padding: 40px 35px
			.left
				ul
					padding-left: 30px
					&:first-child
						padding-left: 0
@media (max-width: 1150px)
	.modern-production-subline
		display: flex
		align-items: center
		justify-content: center
	.modern-production-line
		flex-direction: column
		justify-content: center
		align-items: center
		padding-bottom: 0
		margin-bottom: 50px

		.modern-production-item-text
			max-width: 650px
			width: 100%
		.modern-production-item-img
			position: relative
			width: 100%
			margin-top: -400px