@import "../colors"

.ideas
    &__menu
        margin: 0
        padding: 0
        list-style: none


        &-item
            margin: 0 0 13px

        &-link
            @extend .fw-reset
            padding: 5px 0
            display: block
            color: $colorPaleYellow

        &-count
            opacity: 0.5

    &__form
        & > *
            margin-bottom: 40px