@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7e4q7y');
  src:  url('fonts/icomoon.eot?7e4q7y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7e4q7y') format('truetype'),
    url('fonts/icomoon.woff?7e4q7y') format('woff'),
    url('fonts/icomoon.svg?7e4q7y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e90c";
}
.icon-down-arrow:before {
  content: "\e90a";
}
.icon-keyboard_arrow_down:before {
  content: "\e909";
}
.icon-keyboard_arrow_right:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e90b";
}
.icon-instagram:before {
  content: "\e907";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-vk:before {
  content: "\e906";
}
.icon-arrow:before {
  content: "\e900";
}
.icon-attach:before {
  content: "\e901";
}
.icon-check1:before {
  content: "\e902";
}
.icon-check2-01:before {
  content: "\e903";
}
.icon-long_arrow:before {
  content: "\e920";
}
.icon-map_place:before {
  content: "\e921";
}
.icon-menu:before {
  content: "\e922";
}
.icon-place:before {
  content: "\e923";
}
.icon-play:before {
  content: "\e924";
}
.icon-sign:before {
  content: "\e925";
}
.icon-skype:before {
  content: "\e926";
}
.icon-toggle_back:before {
  content: "\e927";
}
.icon-toggle_button:before {
  content: "\e928";
}
.icon-viber:before {
  content: "\e929";
}
.icon-whatsapp:before {
  content: "\e92a";
}
