{% extends "layouts/app.twig" %}

{% block pageTitle %}ХлебПром{% endblock %}

{% block content %}
    <!-- Header block -->
    {% include "layouts/header.twig" %}
    <!-- Header block end -->
    <div class="about">
        <div class="container">
            <div class="fw-pt-20 fw-pb-20">
                {% include "partials/breadcrumbs.twig" %}
            </div>

            {# video block #}
            <div class="fw-width-1-1 wow fadeInUpBig" data-wow-offset="-300" data-wow-duration="2s" data-wow-delay=".25s">
                <div class="fw-bg-color-light-pale-yellow owl-carousel  fw-width-1-1 fw-flex fw-flex-top fw-flex-left fw-flex-column fw-text-left fw-color-white">
                    <div class="fw-min-height-760 fw-width-1-1">
                        <img src="images/about/1.jpg" class="fw-block" alt="">

                        <div class="fw-absolute fw-top-0 fw-left-0 fw-width-1-1 fw-height-1-1 fw-pl-95 fw-flex fw-flex-middle fw-flex-left">
                            <h1 class="fw-font-mr fw-text-400 fw-margin-0 fw-mt-35 fw-mb-35 fw-fz-60">
                                Хлебпром – один из ведущих <br>
                                российских производителей <br>
                                кондитерского рынка
                            </h1>
                        </div>
                    </div>
                </div>

                <div class="fw-width-1-1 fw-pb-40 fw-pt-40 fw-relative">
                    <a data-video-id="XJS_UYNq4No" class="js-modal-btn fw-pointer fw-hover-bg-color-light-red fw-transition-400 fw-reset fw-z-index-1 fw-block fw-width-255 fw-pt-80 fw-pb-80 fw-bg-color-dark-red fw-pl-55 fw-absolute fw-right-0 fw-bottom-0">
                        <p class="fw-flex fw-flex-middle fw-flex-left fw-margin-0 fw-text-uppercase fw-font-msb fw-fz-14 fw-color-white">
                            СМОТРЕТЬ <br>
                            ВИДЕО
                            <i class="icon-play fw-fz-26 fw-ml-20"></i>
                        </p>
                    </a>
                </div>
            </div>
            {# / #}

            {# Our mission #}
            <div class="fw-relative fw-overflow-hidden fw-width-1-1 fw-pt-120 fw-min-height-470 fw-pl-200 fw-pr-270 fw-flex fw-flex-space-between wow fadeInUpBig" data-wow-offset="-100" data-wow-duration="2s" data-wow-delay=".35s">
                <div>
                    <p class="fw-fz-28 fw-color-text fw-font-mr fw-margin-0 fw-mb-45 fw-max-width-740">
                        Наша миссия – честно и открыто вести бизнес,
                        воплощать лучшие идеи, предлагать людям
                        наслаждаться вкусными и качественными
                        сладостями, приносящими радость в каждый дом.
                    </p>
                    <p class="fw-fz-16 fw-color-gray-text fw-font-mr fw-margin-0">Ярослав Шадыря, генеральный директор</p>
                </div>

                <img src="images/about/2.png" class="fw-block fw-relative fw-right-0 fw-bottom-0 wow fadeInRight" data-wow-duration="2.3s" data-wow-delay=".35s" alt="">
            </div>
            {# / #}

            {# Priorities of work #}
            <div class="priorities fw-width-1-1 fw-bg-color-light-pale-yellow fw-pl-160 fw-pr-160 fw-pt-90 fw-pb-200 wow fadeInUpBig" data-wow-offset="-300" data-wow-duration="2s" data-wow-delay=".25s">
                <span class="fw-block fw-fz-60 fw-font-ml fw-mb-60 fw-color-text">Приоритеты работы</span>

                <div class="fw-flex fw-flex-space-between fw-flex-top">
                    <div class="priorities-wrap fw-z-index-1 fw-overflow-hidden fw-relative fw-bg-color-dark-red fw-max-width-680 fw-min-height-470 fw-width-1-1 fw-pl-130 fw-pr-170 fw-flex fw-flex-middle fw-flex-right">
                        <ul class="priorities-wrap-list fw-pl-0 fw-margin-0 fw-font-ml fw-list-style-type fw-fz-40 fw-font-mr fw-color-white fw-flex fw-flex-column fw-flex-right fw-flex-bottom">
                            <li class="js-priorities-wrap-list-item priorities-wrap-list-item fw-relative active fw-width-fit-content fw-pointer fw-pr-30 fw-pt-35 fw-pb-35" rel="priorities-tab1">Где купить</li>
                            <li class="js-priorities-wrap-list-item priorities-wrap-list-item fw-relative fw-width-fit-content fw-pointer fw-pr-30 fw-pt-35 fw-pb-35" rel="priorities-tab2">Банк идей</li>
                            <li class="js-priorities-wrap-list-item priorities-wrap-list-item fw-relative fw-width-fit-content fw-pointer fw-pr-30 fw-pt-35 fw-pb-35" rel="priorities-tab3">Контакты</li>
                        </ul>
                    </div>

                    <div class="js-priorities-wrap-tabs fw-max-width-834 fw-width-1-1 priorities-wrap-tabs">
                        <div id="priorities-tab1" class="js-priorities-wrap-tabs-tab priorities-wrap-tabs-tab active">
                            <p class="fw-fz-16 fw-line-height-22 fw-color-text fw-font-mr fw-margin-0">
                                Мы ставим цель уменьшения травматизма, аварий и укрепления
                                здоровья путем:
                            </p>

                            <ul class="fw-pl-0 fw-pt-20 fw-list-style-type fw-fz-16 fw-color-text fw-font-mr">
                                <li class="fw-pt-15 fw-pl-25 fw-relative fw-pb-15">управления рисками возможного травматизма и аварий</li>
                                <li class="fw-pt-15 fw-pl-25 fw-relative fw-pb-15">обучения безопасным методам производства работ</li>
                                <li class="fw-pt-15 fw-pl-25 fw-relative fw-pb-15">вовлеченности коллег в культуру безопасности труда и здоровья</li>
                                <li class="fw-pt-15 fw-pl-25 fw-relative fw-pb-15">приверженности ценностям и принципам компании, служащим основой для безопасности труда.</li>
                            </ul>
                        </div>

                        {% for i in 2..3  %}
                            <div id="priorities-tab{{i}}" class="js-priorities-wrap-tabs-tab priorities-wrap-tabs-tab">
                                <p class="fw-fz-16 fw-line-height-22 fw-color-text fw-font-mr fw-margin-0">
                                    {{ i }}
                                    Мы ставим цель уменьшения травматизма, аварий и укрепления
                                    здоровья путем:
                                </p>

                                <ul class="fw-pl-0 fw-pt-20 fw-list-style-type fw-fz-16 fw-color-text fw-font-mr">
                                    <li class="fw-pt-15 fw-pl-25 fw-relative fw-pb-15">управления рисками возможного травматизма и аварий</li>
                                    <li class="fw-pt-15 fw-pl-25 fw-relative fw-pb-15">обучения безопасным методам производства работ</li>
                                    <li class="fw-pt-15 fw-pl-25 fw-relative fw-pb-15">вовлеченности коллег в культуру безопасности труда и здоровья</li>
                                    <li class="fw-pt-15 fw-pl-25 fw-relative fw-pb-15">приверженности ценностям и принципам компании, служащим основой для безопасности труда.</li>
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {# / #}

            {# section number info #}
            <div class="fw-width-1-1 fw-pt-100 fw-pb-100 wow fadeInUpBig" data-wow-offset="-300" data-wow-duration="2s" data-wow-delay=".25s">
                <div class="container">
                    <div class="history-in-numbers fw-grid fw-grid-90">
                        <div class="history-in-numbers-item fw-width-1-5 wow fadeInUp" data-wow-offset="100" data-wow-duration="0.5s" data-wow-delay=".45s">
                            <span class="history-in-numbers-item--number fw-block fw-font-ml fw-fz-100 fw-color-pale-yellow">1982</span>
                            <p class="fw-margin-0 fw-font-mr fw-pt-30 fw-fz-14 fw-text-uppercase fw-color-gray-text">год начала работы</p>
                        </div>

                        <div class="history-in-numbers-item fw-width-1-5 wow fadeInUp" data-wow-offset="100" data-wow-duration="0.6s" data-wow-delay=".65s">
                            <span class="history-in-numbers-item--number fw-block fw-font-ml fw-fz-100 fw-color-pale-yellow">14</span>
                            <p class="fw-margin-0 fw-font-mr fw-pt-30 fw-fz-14 fw-text-uppercase fw-color-gray-text">регионов присутствия</p>
                        </div>

                        <div class="history-in-numbers-item fw-width-1-5 wow fadeInUp" data-wow-offset="100" data-wow-duration="0.7s" data-wow-delay=".85s">
                            <span class="history-in-numbers-item--number fw-block fw-font-ml fw-fz-100 fw-color-pale-yellow">416</span>
                            <p class="fw-margin-0 fw-font-mr fw-pt-30 fw-fz-14 fw-text-uppercase fw-color-gray-text">сотрудников в КОМПАНИИ</p>
                        </div>

                        <div class="history-in-numbers-item fw-width-1-5 wow fadeInUp" data-wow-offset="100" data-wow-duration="0.8s" data-wow-delay="1.3s">
                            <span class="history-in-numbers-item--number fw-block fw-font-ml fw-fz-100 fw-color-pale-yellow">4</span>
                            <p class="fw-margin-0 fw-font-mr fw-pt-30 fw-fz-14 fw-text-uppercase fw-color-gray-text">
                                производственных <br>
                                площадки
                            </p>
                        </div>

                        <div class="history-in-numbers-item fw-width-1-5 wow fadeInUp" data-wow-offset="100" data-wow-duration="0.9s" data-wow-delay="1.7s">
                            <span class="history-in-numbers-item--number fw-block fw-font-ml fw-fz-100 fw-color-pale-yellow">32</span>
                            <p class="fw-margin-0 fw-font-mr fw-pt-30 fw-fz-14 fw-text-uppercase fw-color-gray-text">
                                подразделения
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {# / #}

            {# command #}
            <div class="command fw-bg-color-dark-red fw-pl-200 fw-pr-200 fw-pt-100 wow fadeInUpBig" data-wow-offset="-300" data-wow-duration="2s" data-wow-delay=".25s">
                <span class="fw-block fw-fz-60 fw-font-ml fw-mb-35 fw-color-white">Приоритеты работы</span>
                <p class="fw-fz-16 fw-color-white fw-font-mr fw-max-width-580 fw-width-1-1 fw-pb-130">
                    Разнообразный и богатый опыт постоянное информационное обеспечение нашей деятельности позволяет оценить значение форм развития. Равным образом консультация с широким активом
                    в значительной степени обуславливает создание форм развития.
                </p>

                <div class="js-command-slider command-slider owl-carousel owl-theme command-slider">
                    {% for i in 1..4 %}
                        <div class="command-slider-slide fw-text-center fw-flex fw-flex-column fw-flex-center fw-flex-bottom">
                            <p class="fw-fz-30 fw-width-1-1 fw-font-ml fw-color-white fw-margin-0 fw-mb-25">Ярослав Шадыря</p>
                            <span class="fw-fz-14 fw-color-white fw-margin-auto fw-font-mr fw-block fw-text-center fw-pb-60">Генеральный директор</span>

                            <img src="images/about/3.png" class="fw-block fw-width-1-1 fw-margin-auto" alt="">
                        </div>
                    {% endfor %}
                </div>
            </div>

            {# Geography of sales #}
            <div class="geography fw-pt-100 fw-pl-200 fw-pb-100 fw-pr-80 wow fadeInUpBig" data-wow-offset="-300" data-wow-duration="2s" data-wow-delay=".25s">
                <span class="fw-block fw-fz-60 fw-font-ml fw-mb-35 fw-color-text">Приоритеты работы</span>

                <p class="fw-width-580 fw-fz-16 fw-color-text fw-line-height-30 fw-font-mr fw-margin-0 fw-pb-80">
                    Работают торговые представительства в 14 регионах России: Москве
                    и Московской области, Санкт-Петербурге, Черноземье, Центральной России, Урале и Зауралье, Северо-Западном регионе, Поволжье, Восточной и Западной Сибири, на юге России.
                </p>
                
                <div class="geography-map fw-relative fw-width-1-1">
                    <div class="fw-z-index-1 fw-max-width-520 fw-width-1-1 fw-pt-50 fw-pl-50 fw-pb-70 fw-pr-70 fw-bg-color-white fw-absolute fw-left-220 fw-bottom-235">
                        <p class="js-toggle-contacts active toggle-contacts-title fw-margin-0 fw-mb-30 fw-color-dark-text fw-fz-30 fw-font-ml fw-flex fw-flex-middle fw-flex-left fw-pointer">Санкт-Петербург <i class="fw-ml-10 icon-keyboard_arrow_down"></i></p>
                        <div class="fw-fz-16 fw-font-mr fw-width-1-1 fw-color-text">
                            <p class="fw-mb-15">Адрес: 192102, Санкт-Петербург,</p>
                            <p class="fw-mb-15">Набережная реки Волковки, 7, лит. А, офис 208</p>
                            <p class="fw-mb-15">Телефон: <a class="fw-reset" href="tell:+78123311611">+7 812 331-16-11</a>, <a class="fw-reset" href="tell:+78123311626 ">+7 812 331-16-26</a></p>
                            <p class="fw-mt-30 fw-mb-30">Факс: +7 812 712-95-59</p>
                            <p class="fw-mb-15">E-mail: <a class="fw-color-pale-yellow fw-reset" href="mailto:info@hlebprom.ru">info@hlebprom.ru</a></p>
                        </div>
                    </div>

                    <img src="images/about/6.png" class="fw-block fw-width-1-1" alt="">
                    <div class="fw-flex fw-flex-center fw-flex-middle fw-pt-30">
                        <p class="fw-flex fw-flex-middle fw-pl-25 fw-pr-25 fw-fz-16 fw-color-text "><i class="fw-mr-10 icon-sign"></i>  Производственные площадки</p>
                        <p class="fw-flex fw-flex-middle fw-pl-25 fw-pr-25 fw-fz-16 fw-color-text "><i class="fw-mr-10 icon-sign fw-color-dark-red"></i>  Производственные площадки</p>
                    </div>
                </div>

            </div>
            {# / #}
            
            <div class="fw-width-1-1 fw-flex fw-flex-space-between fw-flex-top fw-pb-100 wow fadeInUpBig" data-wow-offset="-300" data-wow-duration="2s" data-wow-delay=".25s">
                <a href="#" class="fw-width-1-2 fw-relative fw-mr-50">
                    <div class="fw-transition-400 fw-hover-bg-color-light-red fw-absolute fw-width-1-1 fw-height-1-1 fw-flex fw-flex-middle fw-padding-50 fw-flex-center">
                        <span class="fw-block fw-fz-60 fw-font-ml fw-color-white">Партнерам</span>
                    </div>
                    <img src="images/about/7.png" class="fw-width-1-1 fw-block" alt="">
                </a>

                <a href="#" class="fw-width-1-2 fw-relative fw-ml-50">
                    <div class="fw-transition-400 fw-hover-bg-color-light-red fw-absolute fw-width-1-1 fw-height-1-1 fw-flex fw-flex-middle fw-padding-50 fw-flex-center">
                        <span class="fw-block fw-fz-60 fw-font-ml fw-color-white">Вакансии</span>
                    </div>
                    <img src="images/about/8.png" class="fw-width-1-1 fw-block" alt="">
                </a>
            </div>
        </div>

        {% include 'partials/scroll-top.twig' %}
    </div>

    <!-- footer block -->
    {% include "layouts/footer.twig" %}
    <!-- footer block end -->
{% endblock %}