{% extends "layouts/app.twig" %}

{% block pageTitle %}Scan&amp;Go. Делаю покупки еще быстрее – Система самостоятельного сканирования товаров{% endblock %}

{% block content %}
    <!-- Header block -->
    {% include "layouts/header-not-logged.twig" %}
    <!-- Header block end -->

    <form action="#" class="fw-pt-35 fw-pb-35">
        <div class="container">
            <div class="fw-fz-36 fw-mb-30">
                Создание резюме
            </div>

            <div>
                <div class="fw-fz-18 fw-text-600 fw-mb-20">Основная информация</div>
                <div class="row fw-mb-15">
                    <div class="col-12 col-lg-7 col-xl-6">
                        <div class="row fw-mb-15">
                            <div class="col-12 col-sm-6 fw-color-gray mb-2 mb-sm-0 fw-pt-10">
                                Имя
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="standard-input">
                            </div>
                        </div>
                        <div class="row fw-mb-15">
                            <div class="col-12 col-sm-6 fw-color-gray mb-2 mb-sm-0 fw-pt-10">
                                Фамилия
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="standard-input">
                            </div>
                        </div>
                        <div class="row fw-mb-15">
                            <div class="col-12 col-sm-6 fw-color-gray mb-2 mb-sm-0 fw-pt-10">
                                Мобильный телефон
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="standard-input">
                            </div>
                        </div>
                        <div class="row fw-mb-15">
                            <div class="col-12 col-sm-6 fw-color-gray mb-2 mb-sm-0 fw-pt-10">
                                Дата рождения
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="d-flex align-items-center fw-bg-color-gray-light fw-border-radius-5">
                                    <div class="fw-flex-grow-1 fw-flex-basis-0">
                                        <select class="custom-select">
                                            <option value="">День</option>
                                        </select>
                                    </div>
                                    <div>|</div>
                                    <div class="fw-flex-grow-1 fw-flex-basis-0">
                                        <select class="custom-select">
                                            <option value="">Месяц</option>
                                        </select>
                                    </div>
                                    <div>|</div>
                                    <div class="fw-flex-grow-1 fw-flex-basis-0">
                                        <select class="custom-select">
                                            <option value="">Год</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row fw-mb-15 align-items-center fw-pt-5 fw-pb-5">
                            <div class="col-12 col-sm-6 fw-color-gray mb-2 mb-sm-0">
                                Пол
                            </div>
                            <div class="col-12 col-sm-6 d-flex align-items-center">
                                <label class="fw-mb-0 d-flex align-items-center fw-mr-30">
                                    <span class="radio-box">
                                        <input type="radio" name="1" checked>
                                        <span class="radio-box__detector"></span>
                                    </span>
                                    <span>Мужской</span>
                                </label>
                                <label class="fw-mb-0 d-flex align-items-center">
                                    <span class="radio-box">
                                        <input type="radio" name="1">
                                        <span class="radio-box__detector"></span>
                                    </span>
                                    <span>Женский</span>
                                </label>
                            </div>
                        </div>
                        <div class="row fw-mb-15">
                            <div class="col-12 col-sm-6 fw-color-gray mb-2 mb-sm-0 fw-pt-10">
                                Город проживания
                            </div>
                            <div class="col-12 col-sm-6">
                                {% include 'components/select.component.twig' %}
                            </div>
                        </div>
                        <div class="row fw-mb-15">
                            <div class="col-12 col-sm-6 fw-color-gray mb-2 mb-sm-0 fw-pt-10">
                                Гражданство
                            </div>
                            <div class="col-12 col-sm-6">
                                {% include 'components/select.component.twig' %}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5 col-xl-6">
                        <div class="fw-color-gray fw-fz-14">
                            Контакты, которые вы указываете при создании резюме, работодатель будет использовать для
                            связи с вами. Также вы будете получать информацию о приглашениях на вакансии.
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="fw-fz-18 fw-text-600 fw-mb-20">Желаемая работа</div>
                <div class="row fw-mb-15">
                    <div class="col-12 col-lg-7 col-xl-6">
                        <div class="row fw-mb-15">
                            <div class="col-12 col-sm-6 fw-color-gray mb-2 mb-sm-0 fw-pt-10">
                                Опыт работы
                            </div>
                            <div class="col-12 col-sm-6">
                                <label class="fw-mb-15 d-flex align-items-center fw-mr-30">
                                    <span class="radio-box">
                                        <input type="radio" class="js-work-experience" name="3" data-value="true"
                                               checked>
                                        <span class="radio-box__detector"></span>
                                    </span>
                                    <span>Есть опыт работы</span>
                                </label>
                                <label class="fw-mb-0 d-flex align-items-center">
                                    <span class="radio-box">
                                        <input type="radio" class="js-work-experience" name="3" data-value="false">
                                        <span class="radio-box__detector"></span>
                                    </span>
                                    <span>Нет опыта работы</span>
                                </label>

                                <div class="js-visible-no-experience fw-hidden fw-mt-20">
                                    <div class="fw-fz-14 fw-color-gray fw-mb-20">
                                        <div class="fw-mb-20">
                                            80% работодателей не рассматривают кандидатов без опыта работы. Рекомендуем
                                            указать опыт или объяснить почему его нет, выбрав причину из предложенных
                                            или
                                            описав свою.
                                        </div>

                                        <div>
                                            <a href="#" class="fw-color-blue-dark fw-text-underline">Декретный
                                                отпуск</a>,
                                            <a href="#" class="fw-color-blue-dark fw-text-underline">Учёба</a>,
                                            <a href="#" class="fw-color-blue-dark fw-text-underline">Служба в армии</a>,
                                            <a href="#" class="fw-color-blue-dark fw-text-underline">Безработный</a>,
                                            <a href="#" class="fw-color-blue-dark fw-text-underline">Пенсия</a>
                                        </div>
                                    </div>
                                    <div>
                                        <textarea rows="8" class="standard-input"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row fw-mb-15">
                            <div class="col-12 col-sm-6 fw-color-gray mb-2 mb-sm-0 fw-pt-10">
                                Желаемая должность
                            </div>
                            <div class="col-12 col-sm-6">
                                <div><input type="text" class="standard-input"></div>
                                <div class="js-visible-no-experience fw-mt-15 fw-fz-14 fw-color-gray fw-hidden">
                                    Например:
                                    <a href="#" class="fw-color-blue-dark fw-text-underline">Стажер в отдел продаж</a>,
                                    <a href="#" class="fw-color-blue-dark fw-text-underline">Младший специалист
                                        технического отедла</a>,
                                    <a href="#" class="fw-color-blue-dark fw-text-underline">Курьер</a>
                                </div>
                            </div>
                        </div>
                        <div class="row fw-mb-15">
                            <div class="col-12 col-sm-6 fw-color-gray mb-2 mb-sm-0 fw-pt-10">
                                Желаемая зарплата
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="d-flex align-items-center fw-border-radius-5 fw-bg-color-gray-light fw-pr-15">
                                    <div class="fw-flex-grow-1">
                                        <input type="text" class="standard-input">
                                    </div>
                                    <div class="fw-mr-10">|</div>
                                    <div class="fw-text-no-wrap">в тенге</div>
                                </div>
                            </div>
                        </div>
                        <div class="row fw-mb-15">
                            <div class="col-12 col-sm-6 fw-color-gray mb-2 mb-sm-0 fw-pt-10">
                                Профессиональная область
                            </div>
                            <div class="col-12 col-sm-6 fw-pt-10">
                                <a href="#" class="fw-color-blue-dark fw-text-underline">Указать профобласти</a>
                            </div>
                        </div>
                        <div class="row fw-mb-15">
                            <div class="col-12 col-sm-6 fw-color-gray mb-2 mb-sm-0 fw-pt-10">
                                Выберите три специализации
                            </div>
                            <div class="col-12 col-sm-6">

                            </div>
                        </div>
                        <div class="row fw-mb-15">
                            <div class="col-12 col-sm-6 fw-color-gray mb-2 mb-sm-0 fw-pt-10">
                                Гражданство
                            </div>
                            <div class="col-12 col-sm-6">
                                {% include 'components/select.component.twig' %}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5 col-xl-6">
                        <div class="fw-color-gray fw-fz-14">
                            Укажите, на какой должности вы хотите работать. Если вы готовы работать на разных
                            должностях, создайте для каждой из них отдельное резюме.
                        </div>
                    </div>
                </div>
                <div class="row fw-mb-15">
                    <div class="col-12 col-sm-6 mb-2 mb-sm-0 col-lg-3 fw-flex-shrink-no fw-color-gray fw-pt-10">
                        Профессиональная область
                    </div>
                    <div class="col-12 col-sm-6 col-lg-9">
                        <div class="row">
                            {% for i in 1..3 %}
                                <div class="col-12 col-lg-4">
                                    <label class="d-flex align-items-center">
                                <span class="empty-checkbox">
                                    <input type="checkbox">
                                    <span class="empty-checkbox__detector"></span>
                                </span>
                                        <span class="fw-ml-10 fw-mr-10">|</span>
                                        <span>Автомобильный бизнес</span>
                                    </label>
                                    <label class="d-flex align-items-center">
                                <span class="empty-checkbox">
                                    <input type="checkbox">
                                    <span class="empty-checkbox__detector"></span>
                                </span>
                                        <span class="fw-ml-10 fw-mr-10">|</span>
                                        <span>Административный персонал</span>
                                    </label>
                                    <label class="d-flex align-items-center">
                                <span class="empty-checkbox">
                                    <input type="checkbox">
                                    <span class="empty-checkbox__detector"></span>
                                </span>
                                        <span class="fw-ml-10 fw-mr-10">|</span>
                                        <span>Банки, инвестиции, лизинг</span>
                                    </label>
                                    <label class="d-flex align-items-center">
                                <span class="empty-checkbox">
                                    <input type="checkbox">
                                    <span class="empty-checkbox__detector"></span>
                                </span>
                                        <span class="fw-ml-10 fw-mr-10">|</span>
                                        <span>Безопасность</span>
                                    </label>
                                    <label class="d-flex align-items-center">
                                <span class="empty-checkbox">
                                    <input type="checkbox">
                                    <span class="empty-checkbox__detector"></span>
                                </span>
                                        <span class="fw-ml-10 fw-mr-10">|</span>
                                        <span>Бухгалтерия, управленческий учет, финансы предприятия</span>
                                    </label>
                                    <label class="d-flex align-items-center">
                                <span class="empty-checkbox">
                                    <input type="checkbox">
                                    <span class="empty-checkbox__detector"></span>
                                </span>
                                        <span class="fw-ml-10 fw-mr-10">|</span>
                                        <span>Высший менеджмент</span>
                                    </label>
                                    <label class="d-flex align-items-center">
                                <span class="empty-checkbox">
                                    <input type="checkbox">
                                    <span class="empty-checkbox__detector"></span>
                                </span>
                                        <span class="fw-ml-10 fw-mr-10">|</span>
                                        <span>Государственная служба, некоммерческие организации</span>
                                    </label>
                                    <label class="d-flex align-items-center">
                                <span class="empty-checkbox">
                                    <input type="checkbox">
                                    <span class="empty-checkbox__detector"></span>
                                </span>
                                        <span class="fw-ml-10 fw-mr-10">|</span>
                                        <span>Добыча сырья</span>
                                    </label>
                                    <label class="d-flex align-items-center">
                                <span class="empty-checkbox">
                                    <input type="checkbox">
                                    <span class="empty-checkbox__detector"></span>
                                </span>
                                        <span class="fw-ml-10 fw-mr-10">|</span>
                                        <span>Домашний персонал</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row fw-mb-15">
                    <div class="col-12 col-sm-6 col-lg-3 fw-color-gray fw-pt-10">
                        Образование
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        {% include 'components/select.component.twig' %}
                    </div>
                </div>
                <div class="row fw-mb-15">
                    <div class="col-12 col-sm-6 col-lg-3 fw-color-gray fw-pt-10">
                        Владение языками
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        {% include 'components/select.component.twig' %}
                    </div>
                </div>
                <div class="row fw-mb-15">
                    <div class="col-12 col-sm-6 col-lg-3 fw-color-gray fw-pt-10">
                        Дополнительные языки
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 fw-pt-10">
                        <a href="#" class="fw-color-blue-dark fw-text-underline">Указать еще один язык</a>
                    </div>
                </div>
            </div>

            <div class="fw-mt-40 fw-pt-20">
                <div class="fw-fz-18 fw-text-600 fw-mb-20">Дополнительно</div>
                <div class="row fw-mb-15">
                    <div class="col-12 col-sm-6 col-lg-3 fw-color-gray fw-pt-10">
                        Переезд
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 fw-pt-10">
                        <label class="fw-mb-15 d-flex align-items-center fw-mr-30">
                            <span class="radio-box">
                                <input type="radio" name="4"
                                       checked>
                                <span class="radio-box__detector"></span>
                            </span>
                            <span>Невозможен</span>
                        </label>
                        <label class="fw-mb-15 d-flex align-items-center">
                            <span class="radio-box">
                                <input type="radio" name="4">
                                <span class="radio-box__detector"></span>
                            </span>
                            <span>Возможен</span>
                        </label>
                        <label class="fw-mb-0 d-flex align-items-center">
                            <span class="radio-box">
                                <input type="radio" name="4">
                                <span class="radio-box__detector"></span>
                            </span>
                            <span>Желателен</span>
                        </label>

                        <div class="fw-mt-15 fw-relative">
                            <div class="standard-input-right-icon" data-toggle="modal" data-target="#cities-modal">
                                <i class="icon icon-blue-hamburger"></i>
                            </div>
                            <input type="text" class="standard-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="fw-mt-40 fw-pt-20">
                <div class="fw-fz-18 fw-text-600 fw-mb-20">Дополнительно</div>
                <div class="row fw-mb-15">
                    <div class="col-12 col-sm-6 col-lg-3 fw-color-gray fw-pt-10">
                        Переезд
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 fw-pt-10">
                        <div class="d-flex align-items-center">
                            <div class="d-inline-block fw-mr-15">
                                <div class="standard-input d-flex align-items-center">
                                    <span>Казахстан</span>
                                    <i class="icon icon-trash fw-ml-10"></i>
                                </div>
                            </div>
                            <div class="d-inline-block fw-mr-15">
                                <div class="standard-input d-flex align-items-center">
                                    <span>Казахстан</span>
                                    <i class="icon icon-trash fw-ml-10"></i>
                                </div>
                            </div>
                        </div>

                        <div class="fw-mt-15 fw-relative">
                            <div class="standard-input-right-icon" data-toggle="modal" data-target="#cities-modal">
                                <i class="icon icon-blue-hamburger"></i>
                            </div>
                            <input type="text" class="standard-input">
                        </div>
                    </div>
                </div>
                <div class="row fw-mb-35">
                    <div class="col-12 col-sm-6 col-lg-3 fw-color-gray fw-pt-10">
                        Занятость
                    </div>
                    <div class="col-12 col-sm-6 fw-pt-10 fw-mb-inverse-30">
                        {% for i in ['Полная занятость', 'Частичная занятость', 'Проектная/Временная работа', 'Волонтерство', 'Стажировка'] %}
                            <label class="d-flex align-items-center fw-mb-30">
                                <span class="filled-checkbox fw-mr-15 fw-fz-0">
                                    <input type="checkbox">
                                    <span class="filled-checkbox__detector"></span>
                                </span>
                                <span>{{ i }}</span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
                <div class="row fw-mb-35">
                    <div class="col-12 col-sm-6 col-lg-3 fw-color-gray fw-pt-10">
                        График работы
                    </div>
                    <div class="col-12 col-sm-6 fw-pt-10 fw-mb-inverse-30">
                        {% for i in ['Полный день', 'Сменный график', 'Гибкий график', 'Удаленная работа', 'Вахтовый метод'] %}
                            <label class="d-flex align-items-center fw-mb-30">
                                <span class="filled-checkbox fw-mr-15 fw-fz-0">
                                    <input type="checkbox">
                                    <span class="filled-checkbox__detector"></span>
                                </span>
                                <span>{{ i }}</span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
                <div class="row fw-mb-35">
                    <div class="col-12 col-sm-6 col-lg-3 fw-color-gray fw-pt-10">
                        Автомобиль
                    </div>
                    <div class="col-12 col-sm-6 col-lg-9 fw-pt-10 fw-mb-inverse-30">
                        {% for i in ['Есть личный автомобиль'] %}
                            <label class="d-flex align-items-center fw-mb-30">
                                <span class="filled-checkbox fw-mr-15 fw-fz-0">
                                    <input type="checkbox">
                                    <span class="filled-checkbox__detector"></span>
                                </span>
                                <span>{{ i }}</span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
                <div class="row fw-mb-35">
                    <div class="col-12 col-sm-6 col-lg-3 fw-color-gray fw-pt-10">
                        Автомобиль
                    </div>
                    <div class="col-12 col-sm-6 col-lg-9 fw-mb-inverse-30">
                        <div class="add-resume-driver-license-list d-inline-flex flex-wrap align-items-center fw-border-radius-5 fw-bg-color-gray-light fw-pl-15 fw-pr-15 fw-pt-5 fw-pb-5">
                            {% for i in ['A', 'B', 'C', 'D', 'E', 'BE', 'CE', 'DE', 'TM', 'TB'] %}
                                {% if loop.index > 1 %}<span class="add-resume-driver-license-separator fw-ml-10 fw-mr-10">|</span>{% endif %}
                                <label class="fw-mb-0 fw-padding-5 add-resume-driver-license-checkbox">
                                    <input type="checkbox" class="fw-hidden">
                                    <span>{{ i }}</span>
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row fw-mt-40 fw-pt-40">
                    <div class="col-3 d-none d-lg-block"></div>
                    <div class="col-12 col-lg-6 fw-fz-14">
                        <div>
                            Необходимо заполнить: <span class="fw-color-red">Пол, Профобласть и специализации</span>
                        </div>
                        <div class="fw-mt-20">
                            <button class="btn btn--big">Сохранить и опубликовать</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- footer block -->
    {% include "layouts/footer.twig" %}
    <!-- footer block end -->
{% endblock %}