{% extends "layouts/app.twig" %}

{% block pageTitle %}Scan&amp;Go. Делаю покупки еще быстрее – Система самостоятельного сканирования товаров{% endblock %}

{% block content %}
    <!-- Header block -->
    {% include "layouts/header.twig" %}
    <!-- Header block end -->

    <div class="fw-pt-35 fw-pb-35">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="fw-color-gray fw-text-500 fw-fz-24 fw-mb-40">
                        Для отклика на вакансию <a href="#" class="fw-color-gray fw-text-underline">Мастер-приемщик автосервиса</a>
                    </div>
                    <div class="fw-fz-36 fw-mb-30">
                        Создание резюме
                    </div>

                    <div class="row">
                        <form action="#" class="col-6">
                            <div class="fw-mb-15">
                                <input type="text" placeholder="Имя"
                                       class="fw-reset fw-bg-color-gray-light fw-padding-8 fw-pl-15 fw-pr-15 fw-width-1-1 fw-border-radius-5">
                            </div>
                            <div class="fw-mb-15">
                                <input type="text" placeholder="Фамилия"
                                       class="fw-reset fw-bg-color-gray-light fw-padding-8 fw-pl-15 fw-pr-15 fw-width-1-1 fw-border-radius-5">
                            </div>
                            <div class="fw-mb-40">
                                <input type="email" placeholder="Электронная почта"
                                       class="fw-reset fw-bg-color-gray-light fw-padding-8 fw-pl-15 fw-pr-15 fw-width-1-1 fw-border-radius-5">
                            </div>
                            <div class="row">
                                <div class="col-7 d-flex flex-column">
                                    <div class="fw-mb-15">
                                        <button class="btn">Зарегистрироваться</button>
                                    </div>
                                    <div class="fw-mt-auto">
                                        <div class="fw-color-gray fw-mb-5">Уже зарегистрированы?</div>
                                        <div>
                                            <a href="#" class="fw-fz-14 fw-text-underline fw-color-dark">Вход в линый кабинет</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-5 fw-fz-14">
                                    Нажимая «Зарегистрироваться»,
                                    вы подтверждаете, что ознакомлены,
                                    полностью согласны и принимаете
                                    условия <a href="#" class="fw-color-dark fw-text-underline">«Соглашения об оказании
                                        услуг по содействию в
                                        трудоустройстве (оферта)»</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer block -->
    {% include "layouts/footer.twig" %}
    <!-- footer block end -->
{% endblock %}