{% extends "layouts/app.twig" %}

{% block pageTitle %}ХлебПром{% endblock %}

{% block content %}
    <!-- Header block -->
    {% include "layouts/header.twig" %}
    <!-- Header block end -->
    <div class="contacts">
        <div class="container">
            <div class="fw-bg-color-light-pale-yellow">
                <div class="container-small">
                    <div class="fw-pt-20 fw-pb-20">
                        {% include "partials/breadcrumbs.twig" %}
                    </div>

                    <div class="fw-pt-10 fw-pb-100">
                        <div class="fw-block fw-color-dark-text fw-fz-60 fw-font-ml wow fadeInUp"
                             data-wow-offset="200" data-wow-duration="2s"
                             data-wow-delay=".25s">
                            Mirel
                        </div>
                        <div class="fw-flex">
                            <div class="fw-flex-grow-1 fw-flex fw-flex-column wow fadeInLeft"
                                 data-wow-offset="100" data-wow-duration="2s" data-wow-delay=".25s">
                                <div class="fw-fz-0 fw-mt-auto fw-mb-auto fw-ml-inverse-120">
                                    <img src="http://placehold.it/1000x600" alt="" class="fw-max-height-percent-100">
                                </div>
                                <div class="fw-flex fw-flex-middle fw-flex-center fw-fz-0 fw-mt-auto">
                                    {% for i in 0..2 %}
                                        <div class="fw-ml-40 fw-mr-40">
                                            <img src="http://placehold.it/110" alt="">
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="fw-width-680 fw-flex-shrink-no fw-padding-80 fw-ml-auto fw-bg-color-white wow fadeInRight"
                                 data-wow-offset="100" data-wow-duration="2s" data-wow-delay=".25s">
                                <div class="fw-font-ml fw-fz-42">
                                    Лидер российского рынка свежих тортов
                                </div>
                                <div class="fw-fz-16 fw-line-height-1-7 fw-mt-40 fw-mb-inverse-20">
                                    <p class="fw-margin-0 fw-mb-20">Бренд Mirel создан в 2002 году. Продукция
                                        представлена
                                        во всех крупнейших торговых сетях страны, сладости
                                        поставляются в страны Ближнего и Дальнего Зарубежья.</p>

                                    <p class="fw-margin-0 fw-mb-20">Производственная площадка Mirel является одной
                                        из крупнейших фабрик в России и Западной Европе.
                                        На фабрике установлены высокотехнологичные
                                        автоматические производственные линии, но в основном применяется ручной
                                        труд.</p>

                                    <p class="fw-margin-0 fw-mb-20">У фабрики – международные сертификаты ISO 9001:2008,
                                        ISO 22000:2005 и HACCP. Безопасность и качество продукции
                                        подтверждены одним из мировых лидеров по контролю,
                                        экспертизе и сертификации – группой компаний SGS.</p>

                                    <p class="fw-margin-0 fw-mb-20">Качественные ингредиенты, мастерство кондитеров,
                                        современные технологии и строгий контроль качества –
                                        залог популярности Mirel. Классические рецепты и свежие сочетания – богатство
                                        вкусов Mirel.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fw-pt-100 fw-pr-160">
                <div class="fw-flex wow fadeInUp"
                     data-wow-offset="100" data-wow-duration="2s" data-wow-delay=".25s">
                    <div class="fw-width-210 fw-flex-shrink-no">
                    </div>
                    <div class="fw-flex-grow-1">
                        <div class="fw-flex fw-flex-space-between fw-flex-middle fw-mb-130">
                            <div class="fw-fz-60 fw-font-ml">
                                Продукция Mirel
                            </div>
                            <div>
                                <a href="#"
                                   class="fw-reset fw-flex fw-flex-left fw-flex-middle fw-width-fit-content fw-button">
                                    <span
                                        class="fw-text-uppercase fw-font-msb fw-fz-14 fw-mr-15 fw-z-index-1 fw-relative fw-block">В интернет магазин</span>
                                    <i class="icon-arrow fw-fz-18 fw-relative fw-z-index-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fw-flex">
                    <div class="fw-width-210 fw-flex-shrink-no">
                        <ul class="ideas__menu fw-font-msb fw-text-uppercase fw-fz-14 wow fadeInLeft"
                            data-wow-offset="100" data-wow-duration="2s" data-wow-delay=".25s">
                            <li class="ideas__menu-item active">
                                <a href="#" class="ideas__menu-link">Все</a>
                            </li>
                            <li class="ideas__menu-item">
                                <a href="#" class="ideas__menu-link">Сотрудничество</a>
                            </li>
                            <li class="ideas__menu-item">
                                <a href="#" class="ideas__menu-link">Продажи</a>
                            </li>
                            <li class="ideas__menu-item">
                                <a href="#" class="ideas__menu-link">Новый продукт</a>
                            </li>
                            <li class="ideas__menu-item">
                                <a href="#" class="ideas__menu-link">Производство</a>
                            </li>
                            <li class="ideas__menu-item">
                                <a href="#" class="ideas__menu-link">Работа</a>
                            </li>
                            <li class="ideas__menu-item">
                                <a href="#" class="ideas__menu-link">Сайт</a>
                            </li>
                            <li class="ideas__menu-item">
                                <a href="#" class="ideas__menu-link">Акции</a>
                            </li>
                            <li class="ideas__menu-item">
                                <a href="#" class="ideas__menu-link">Другое</a>
                            </li>
                        </ul>
                    </div>
                    <div class="fw-flex-grow-1">
                        <div class="fw-grid fw-grid-50 wow fadeInRight"
                             data-wow-offset="100" data-wow-duration="2s" data-wow-delay=".25s">
                            {% for i in 1..8 %}
                                <div class="fw-width-1-4">
                                    <div class="fw-text-center">
                                        <div class="fw-mb-25"><img src="http://placehold.it/300" alt=""
                                                                   class="fw-max-width-percent-100"></div>
                                        <div class="fw-color-gray-text fw-text-uppercase fw-font-msb">пирожные</div>
                                        <div
                                            class="fw-font-ml fw-fz-24 fw-max-width-255 fw-mt-15 fw-ml-auto fw-mr-auto">
                                            Колбаска кондитерская
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div
                            class="fw-flex fw-flex-middle fw-flex-space-between fw-pt-100 wow fadeInUp fw-mb-100"
                            data-wow-offset="100" data-wow-duration="2s" data-wow-delay=".25s">
                            <div>
                                <a href="#"
                                   class="fw-reset fw-flex fw-flex-left fw-flex-middle fw-width-fit-content fw-button">
                                    <span
                                        class="fw-text-uppercase fw-font-msb fw-fz-14 fw-mr-15 fw-z-index-1 fw-relative fw-block">Показать еще</span>
                                    <i class="icon-arrow fw-fz-18 fw-relative fw-z-index-1"></i>
                                </a>
                            </div>
                            <div>
                                {% include 'partials/pagination.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fw-flex wow fadeInUp"
                 data-wow-offset="100" data-wow-duration="2s" data-wow-delay=".25s">
                <div class="fw-width-210 fw-flex-shrink-no"></div>
                <div class="fw-fz-42 fw-font-ml">
                    <a href="#" class="fw-reset fw-color-pale-yellow fw-text-underline-hover">@mirel_torty</a>
                    в инстаграм
                </div>
            </div>
            <div class="fw-flex fw-flex-middle fw-mt-50 fw-mb-100 fw-fz-0 wow fadeInUp"
                 data-wow-offset="100" data-wow-duration="2s" data-wow-delay=".25s">
                {% for i in 0..8 %}
                    <div class="fw-flex-grow">
                        <img src="http://placehold.it/200" alt="" class="fw-width-1-1">
                    </div>
                {% endfor %}
            </div>
        </div>

        {% include 'partials/scroll-top.twig' %}
    </div>

    <!-- footer block -->
    {% include "layouts/footer.twig" %}
    <!-- footer block end -->
{% endblock %}