{% extends "layouts/app.twig" %}

{% block pageTitle %}ХлебПром{% endblock %}

{% block content %}
    <!-- Header block -->
    {% include "layouts/header.twig" %}
    <!-- Header block end -->
    <div class="contacts">
        <div class="container">
            <div class="fw-bg-color-light-pale-yellow">
                <div class="container-small">
                    <div class="fw-pt-20 fw-pb-20">
                        {% include "partials/breadcrumbs.twig" %}
                    </div>

                    <div class="fw-pt-10 fw-mb-50">
                        <div class="fw-block fw-color-dark-text fw-fz-60 fw-font-ml wow fadeInUpBig"
                             data-wow-offset="-300" data-wow-duration="2s"
                             data-wow-delay=".25s">Контакты
                        </div>
                    </div>

                    <div>
                        <div class="modern-production-line fw-width-1-1 fw-relative fw-pb-100 wow fadeInUpBig"
                             data-wow-offset="-300" data-wow-duration="2s" data-wow-delay=".25s">
                            <div class="modern-production-item-left modern-production-item-text fw-width-1-2 fw-bg-color-white fw-absolute fw-left-0 fw-top-0 fw-pl-85 fw-pr-90 fw-pt-70 fw-pb-70">
                                <div class="fw-flex fw-flex-column fw-flex-middle">
                                    <div>
                                        <p class="fw-margin-0 fw-mb-50 fw-color-dark-text fw-fz-40 fw-font-ml">
                                            Москва</p>
                                        <p class="fw-fz-14 fw-font-mr fw-color-text fw-line-height-30 fw-margin-0 fw-mb-20">
                                            ул. Ш. Руставели, 14, строение 6
                                        </p>
                                        <p class="fw-fz-14 fw-font-mr fw-color-text fw-line-height-30 fw-margin-0 fw-mb-20">
                                            (495) 789-46-32/33
                                        </p>
                                        <p class="fw-fz-14 fw-font-mr fw-color-text fw-line-height-30 fw-margin-0 fw-mb-20">
                                            Пн-Пт 9:00—18:00
                                        </p>

                                        <a href="#"
                                           class="fw-reset fw-mt-30 fw-flex fw-flex-left fw-flex-middle fw-width-fit-content fw-button">
                                            <span class="fw-text-uppercase fw-font-msb fw-fz-14 fw-mr-15 fw-z-index-1 fw-relative fw-block">Карта проезда</span>
                                            <i class="icon-arrow fw-fz-18 fw-relative fw-z-index-1"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="modern-production-item-right modern-production-item-img fw-width-3-5 fw-mr-0 fw-ml-auto fw-flex fw-flex-right fw-flex-bottom">
                                <div class="modern-production-item-img-box">
                                    <div class="modern-production-item-img-box-image">
                                        <img class="fw-block fw-width-1-1 fw-height-1-1 fw-object-fit-cover"
                                             src="/images/main/section3-modern-production/1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="modern-production-line fw-width-1-1 fw-relative fw-pb-100 wow fadeInUpBig"
                             data-wow-offset="-300" data-wow-duration="2s" data-wow-delay=".25s">
                            <div class="modern-production-item-right modern-production-item-img fw-width-3-5 fw-flex fw-flex-right fw-flex-bottom">
                                <div class="modern-production-item-img-box">
                                    <div class="modern-production-item-img-box-image">
                                        <img class="fw-block fw-width-1-1 fw-height-1-1 fw-object-fit-cover"
                                             src="/images/main/section3-modern-production/1.jpg" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="modern-production-item-left modern-production-item-text fw-width-1-2 fw-bg-color-white fw-absolute fw-right-0 fw-top-0 fw-pl-85 fw-pr-90 fw-pt-70 fw-pb-70">
                                <div class="fw-flex fw-flex-column fw-flex-middle">
                                    <div>
                                        <p class="fw-margin-0 fw-mb-50 fw-color-dark-text fw-fz-40 fw-font-ml">
                                            Челябинск</p>
                                        <p class="fw-fz-14 fw-font-mr fw-color-text fw-line-height-30 fw-margin-0 fw-mb-20">
                                            ул. Молодогвардейцев, 2а
                                        </p>
                                        <p class="fw-fz-14 fw-font-mr fw-color-text fw-line-height-30 fw-margin-0 fw-mb-20">
                                            (351) 741-83-14
                                        </p>
                                        <p class="fw-fz-14 fw-font-mr fw-color-text fw-line-height-30 fw-margin-0 fw-mb-20">
                                            Пн-Пт 9:00—18:00
                                        </p>

                                        <a href="#"
                                           class="fw-reset fw-mt-30 fw-flex fw-flex-left fw-flex-middle fw-width-fit-content fw-button">
                                            <span class="fw-text-uppercase fw-font-msb fw-fz-14 fw-mr-15 fw-z-index-1 fw-relative fw-block">Карта проезда</span>
                                            <i class="icon-arrow fw-fz-18 fw-relative fw-z-index-1"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contacts__questions fw-pt-90 fw-pb-90">
                <div class="container-small">
                    <div class="fw-grid fw-grid-90">
                        <div class="fw-width-1-2">
                            <div class="fw-mb-170">
                                <div class="fw-font-ml fw-fz-42 fw-mb-35">По всем вопросам</div>
                                <div class="fw-max-width-300">
                                    <p class="fw-mb-5 fw-mt-0">Круглосуточная горячая линия:</p>
                                    <p class="fw-fz-24 fw-mb-10 fw-mt-0">8-800-333-65-66</p>
                                    <p class="fw-margin-0">звонок по России бесплатный</p>

                                    <p class="fw-mt-20 fw-mb-50 fw-line-height-1-5">
                                        E-mail:
                                        <a class="fw-color-pale-yellow fw-text-underline-hover"
                                           href="mailto:hotline@hlebprom.ru">hotline@hlebprom.ru</a>
                                        <a class="fw-color-pale-yellow fw-text-underline-hover"
                                           href="mailto:info@hlebprom.ru">info@hlebprom.ru</a>
                                    </p>
                                    <div class="fw-flex fw-flex-middle fw-grid fw-grid-20">
                                        <div>
                                            <a href="#">
                                                <img src="http://placehold.it/22" alt="">
                                            </a>
                                        </div>
                                        <div>
                                            <a href="#">
                                                <img src="http://placehold.it/22" alt="">
                                            </a>
                                        </div>
                                        <div>
                                            <a href="#">
                                                <img src="http://placehold.it/22" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="fw-font-ml fw-fz-42 fw-mb-35">Отдел продаж</div>
                                <div class="fw-max-width-300">
                                    <p class="fw-mt-0 fw-mb-20">Пн-Пт 9:00—18:00</p>
                                    <p class="fw-mt-0 fw-mb-20">Телефон: +7 (495) 789-46-23</p>
                                    <p class="fw-mt-0 fw-mb-20">Факс: +7 (495) 789-45-61</p>
                                    <p class="fw-mt-0 fw-mb-20">
                                        E-mail:
                                        <a class="fw-color-pale-yellow fw-text-underline-hover"
                                           href="mailto:klientam@hlebprom.ru">klientam@hlebprom.ru</a>
                                    </p>
                                    <div>
                                        <a href="#"
                                           class="fw-reset fw-mt-30 fw-flex fw-flex-left fw-flex-middle fw-width-fit-content fw-button">
                                            <span class="fw-text-uppercase fw-font-msb fw-fz-14 fw-mr-15 fw-z-index-1 fw-relative fw-block">География продаж</span>
                                            <i class="icon-arrow fw-fz-18 fw-relative fw-z-index-1"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fw-width-1-2 fw-mt-170">
                            <div class="fw-mb-170">
                                <div class="fw-font-ml fw-fz-42 fw-mb-35">Предложения <br>по сотрудничеству</div>
                                <div class="fw-max-width-300">
                                    <p class="fw-mt-0 fw-mb-20">Пн-Пт 9:00—18:00</p>
                                    <p class="fw-mt-0 fw-mb-20">Телефон: +7 (495) 789-46-23</p>
                                    <p class="fw-mt-0 fw-mb-20">Факс: +7 (495) 789-45-61</p>
                                    <p class="fw-mt-0 fw-mb-20">
                                        E-mail:
                                        <a class="fw-color-pale-yellow fw-text-underline-hover"
                                           href="mailto:business@hlebprom.ru">business@hlebprom.ru</a>
                                    </p>
                                    <div>
                                        <a href="#"
                                           class="fw-reset fw-mt-30 fw-flex fw-flex-left fw-flex-middle fw-width-fit-content fw-button">
                                            <span class="fw-text-uppercase fw-font-msb fw-fz-14 fw-mr-15 fw-z-index-1 fw-relative fw-block">Партнерам</span>
                                            <i class="icon-arrow fw-fz-18 fw-relative fw-z-index-1"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="fw-font-ml fw-fz-42 fw-mb-35">Отдел закупок</div>
                                <div class="fw-max-width-300">
                                    <p class="fw-mt-0 fw-mb-20">Пн-Пт 9:00—18:00</p>
                                    <p class="fw-mt-0 fw-mb-20">Телефон: +7 (495) 789-46-07/08</p>
                                    <p class="fw-mt-0 fw-mb-20">Факс: +7 (495) 789-45-61</p>
                                    <p class="fw-mt-0 fw-mb-20">
                                        E-mail:
                                        <a class="fw-color-pale-yellow fw-text-underline-hover"
                                           href="mailto:info@melasltd.ru">info@melasltd.ru</a>
                                    </p>
                                    <div>
                                        <a href="#"
                                           class="fw-reset fw-mt-30 fw-flex fw-flex-left fw-flex-middle fw-width-fit-content fw-button">
                                            <span class="fw-text-uppercase fw-font-msb fw-fz-14 fw-mr-15 fw-z-index-1 fw-relative fw-block">Бренды</span>
                                            <i class="icon-arrow fw-fz-18 fw-relative fw-z-index-1"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                {% include 'partials/feedback-form.twig' %}
            </div>
        </div>

        {% include 'partials/scroll-top.twig' %}
    </div>

    <!-- footer block -->
    {% include "layouts/footer.twig" %}
    <!-- footer block end -->
{% endblock %}