{% extends "layouts/app.twig" %}

{% block pageTitle %}Scan&amp;Go. Делаю покупки еще быстрее – Система самостоятельного сканирования товаров{% endblock %}

{% block content %}
    <!-- Header block -->
    {% include "layouts/header.twig" %}
    <!-- Header block end -->

    <div class="fw-pt-35 fw-pb-35">
        <div class="container">
            <div class="fw-mb-35">
                {% include 'components/breadcrumbs.twig' %}
            </div>
            <div class="fw-fz-36 fw-mb-30">
                Наши контакты
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="fw-mb-30">
                        <div class="fw-text-600 fw-fz-16 fw-mb-20">Адрес</div>
                        <div class="fw-fz-14">Республика Казахстан, город Алматы, мкр. Жетысу 2, дом 5А</div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-6">
                                <div class="fw-text-600 fw-fz-16 fw-mb-10">Телефоны</div>
                                <div class="fw-fz-14">
                                    <div class="fw-mb-5">Тел.:+7 727 238 46 02</div>
                                    <div>Моб.: +7 777 330 25 06</div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="fw-text-600 fw-fz-16 fw-mb-10">Почта</div>
                                <div class="fw-fz-14">
                                    <div class="fw-mb-5">
                                        e-mail:
                                        <a href="mailto:info@bimmer.kz" class="fw-color-dark fw-text-underline">
                                            info@bimmer.kz
                                        </a>
                                    </div>
                                    <div>ICQ: 316-551-771 Николай</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <form action="#">
                        <div class="fw-text-600 fw-fz-16 fw-mb-20">Написать сообщение</div>
                        <div class="fw-mb-15">
                            <input type="text" class="standard-input" placeholder="Ваше имя">
                        </div>
                        <div class="fw-mb-15">
                            <textarea class="standard-input" rows="3" placeholder="Текст сообщения"></textarea>
                        </div>
                        <div>
                            <button class="btn btn--small">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="fw-pb-35">
        <div class="container">
            <div class="fw-text-600 fw-fz-16 fw-mb-30">Мы на карте</div>
        </div>
        <div>
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A53c3ac9915314747b825444efb997bf73b00daad6ee66e8ff8f6818ee24e615f&amp;source=constructor" width="100%" height="370" frameborder="0"></iframe>
        </div>
    </div>

    <!-- footer block -->
    {% include "layouts/footer.twig" %}
    <!-- footer block end -->
{% endblock %}