{% extends "layouts/app.twig" %}

{% block pageTitle %}ХлебПром{% endblock %}

{% block content %}
    <!-- Header block -->
    {% include "layouts/header.twig" %}
    <!-- Header block end -->
    <div class="ideas fw-pb-100 main-page-content-wrapper">
        <div class="container">
            <div class="fw-flex fw-mb-25">
                <div class="fw-width-210 fw-flex-shrink-no fw-mr-50">
                </div>
                <div class="ideas__header fw-flex-grow-1">
                    <div class="fw-pt-20 fw-pb-20">
                        {% include "partials/breadcrumbs.twig" %}
                    </div>
                    <h1 class="fw-reset fw-fz-60 fw-font-ml fw-line-height-1-0">Банк идей</h1>
                </div>
            </div>
            <div class="ideas__content-wrap fw-flex fw-flex-column fw-mt-10">
                <div class="ideas__menu-and-descriotion-wrap fw-flex fw-width-1-1">
                    <div class="fw-absolute ideas__menu-wrap fw-width-210 fw-flex-shrink-no fw-mr-50">
                        <ul class="ideas__menu fw-font-msb fw-text-uppercase fw-fz-14 wow fadeInLeft" data-wow-offset="100" data-wow-duration="2s" data-wow-delay=".25s">
                            <li class="ideas__menu-item active">
                                <a href="#" class="ideas__menu-link">Все <span class="ideas__menu-count">160</span></a>
                            </li>
                            <li class="ideas__menu-item">
                                <a href="#" class="ideas__menu-link">Сотрудничество <span class="ideas__menu-count">160</span></a>
                            </li>
                            <li class="ideas__menu-item">
                                <a href="#" class="ideas__menu-link">Продажи <span class="ideas__menu-count">160</span></a>
                            </li>
                            <li class="ideas__menu-item">
                                <a href="#" class="ideas__menu-link">Новый продукт <span class="ideas__menu-count">160</span></a>
                            </li>
                            <li class="ideas__menu-item">
                                <a href="#" class="ideas__menu-link">Производство <span class="ideas__menu-count">160</span></a>
                            </li>
                            <li class="ideas__menu-item">
                                <a href="#" class="ideas__menu-link">Работа <span class="ideas__menu-count">160</span></a>
                            </li>
                            <li class="ideas__menu-item">
                                <a href="#" class="ideas__menu-link">Сайт <span class="ideas__menu-count">160</span></a>
                            </li>
                            <li class="ideas__menu-item">
                                <a href="#" class="ideas__menu-link">Акции <span class="ideas__menu-count">160</span></a>
                            </li>
                            <li class="ideas__menu-item">
                                <a href="#" class="ideas__menu-link">Другое <span class="ideas__menu-count">160</span></a>
                            </li>
                        </ul>
                    </div>

                    <div class="ideas__page-description-wrap fw-width-1-1 fw-flex fw-flex-space-between fw-mb-60 wow fadeInUp" data-wow-offset="100" data-wow-duration="2s" data-wow-delay=".25s">
                        <div class="fw-width-210 fw-flex-shrink-no fw-mr-50"></div>

                        <div class="fw-width-1-1 fw-flex fw-flex-space-between">
                            <p class="ideas__page-description fw-margin-0 fw-line-height-1-7 fw-max-width-834 fw-fz-18">
                                Мы обеспечиваем дружелюбную рабочую атмосферу каждому работнику. Если вы заинтересованы в
                                приобретении профессионального опыта и воплощении в жизнь новаторских проектов, ознакомьтесь с
                                открытыми вакансиями.
                            </p>

                            <div class="ideas__send-idea fw-flex-shrink-no">
                                <a href="#" class="fw-reset fw-flex fw-flex-left fw-flex-middle fw-width-fit-content fw-button">
                                    <span class="fw-text-uppercase fw-font-msb fw-fz-14 fw-mr-15 fw-z-index-1 fw-relative fw-block">Подать идею</span>
                                    <i class="icon-arrow fw-fz-18 fw-relative fw-z-index-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fw-flex">
                    <div class="fw-width-210 fw-flex-shrink-no fw-mr-50"></div>
                    <div class="ideas__content fw-flex-grow-1">

                        <div class="ideas__list">
                            <div class="ideas__item fw-bg-color-light-pale-yellow fw-padding-50 wow fadeInUp" data-wow-offset="100" data-wow-duration="2s" data-wow-delay=".25s">
                                <div class="fw-max-width-900">
                                    <div class="fw-color-gray-text fw-font-msb fw-text-uppercase fw-fz-14 fw-mb-25">
                                        <span>6 Апреля</span>
                                        <span class="fw-ml-10 fw-mr-10 fw-fz-20">&bull;</span>
                                        <span>производство</span>
                                    </div>
                                    <div class="fw-fz-30 fw-font-ml fw-mb-20">
                                        Шоколадная глазурь
                                    </div>
                                    <div class="fw-fz-18 fw-line-height-1-5 fw-mb-35">
                                        Я – частый покупатель хлебцев Dr.Körner. На мой вкус, они наилучшие по качеству на нашем рынке (нет жестких вкраплений, всегда приятно хрустят). Но нет предела
                                        совершенству... Побывав в Чешской республике, я попробовала аналогичные хлебцы (такой же формы и примерным составом), но они были еще и политы тонким слоем
                                        шоколадной глазури, причем в ассортименте были представлены различные вкусы
                                        (шоколадная, сливочная, банановая)!
                                    </div>
                                    <div class="fw-flex fw-flex-middle fw-flex-space-between">
                                        <div>Ирина Андросова</div>
                                        <div class="fw-color-pale-yellow fw-font-ml">
                                            <i class="icon-heart fw-fz-22"></i>
                                            <span class="fw-fz-24">38</span>
                                        </div>
                                    </div>

                                    <div class="fw-pl-100 fw-fz-18 fw-line-height-1-5 fw-mt-40">
                                        <div>
                                            <span class="fw-fz-14 fw-font-msb fw-text-uppercase fw-color-pale-yellow">ответ:</span>
                                            Алена, здравствуйте! По согласованию с производством пластиковой упаковки
                                            запланировали доработку пресс-форм в соответствии с Вашим предложением в бюджете
                                            на следующий год.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ideas__item fw-padding-50 wow fadeInUp" data-wow-offset="100" data-wow-duration="2s" data-wow-delay=".25s">
                                <div class="fw-max-width-900">
                                    <div class="fw-color-gray-text fw-font-msb fw-text-uppercase fw-fz-14 fw-mb-25">
                                        <span>6 Апреля</span>
                                        <span class="fw-ml-10 fw-mr-10 fw-fz-20">&bull;</span>
                                        <span>производство</span>
                                    </div>
                                    <div class="fw-fz-30 fw-font-ml fw-mb-20">
                                        Шоколадная глазурь
                                    </div>
                                    <div class="fw-fz-18 fw-line-height-1-5 fw-mb-35">
                                        Я – частый покупатель хлебцев Dr.Körner. На мой вкус, они наилучшие по качеству на нашем рынке (нет жестких вкраплений, всегда приятно хрустят). Но нет предела
                                        совершенству... Побывав в Чешской республике, я попробовала аналогичные хлебцы (такой же формы и примерным составом), но они были еще и политы тонким слоем
                                        шоколадной глазури, причем в ассортименте были представлены различные вкусы
                                        (шоколадная, сливочная, банановая)!
                                    </div>
                                    <div class="fw-flex fw-flex-middle fw-flex-space-between">
                                        <div>Ирина Андросова</div>
                                        <div class="fw-color-pale-yellow fw-font-ml">
                                            <i class="icon-heart fw-fz-22"></i>
                                            <span class="fw-fz-24">38</span>
                                        </div>
                                    </div>

                                    <div class="fw-pl-100 fw-fz-18 fw-line-height-1-5 fw-mt-40">
                                        <div>
                                            <span class="fw-fz-14 fw-font-msb fw-text-uppercase fw-color-pale-yellow">ответ:</span>
                                            Алена, здравствуйте! По согласованию с производством пластиковой упаковки
                                            запланировали доработку пресс-форм в соответствии с Вашим предложением в бюджете
                                            на следующий год.
                                        </div>
                                        <div class="fw-mt-20">
                                            <a href="#" class="fw-reset fw-flex fw-flex-left fw-flex-middle fw-width-fit-content fw-button">
                                                <span class="fw-text-uppercase fw-font-msb fw-fz-14 fw-mr-15 fw-z-index-1 fw-relative fw-block">Результаты внедрения</span>
                                                <i class="icon-arrow fw-fz-18 fw-relative fw-z-index-1"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ideas__bottom fw-flex fw-flex-middle fw-flex-space-between fw-mt-50 wow fadeInUp" data-wow-offset="100" data-wow-duration="2s" data-wow-delay=".25s">
                            <div>
                                <a href="#" class="fw-reset fw-flex fw-flex-left fw-flex-middle fw-width-fit-content fw-button">
                                    <span class="fw-text-uppercase fw-font-msb fw-fz-14 fw-mr-15 fw-z-index-1 fw-relative fw-block">Показать еще</span>
                                    <i class="icon-arrow fw-fz-18 fw-relative fw-z-index-1"></i>
                                </a>
                            </div>
                            <div>
                                {% include 'partials/pagination.twig' %}
                            </div>
                        </div>

                        <div class="fw-mt-100 fw-pt-80 wow fadeInUp" data-wow-offset="100" data-wow-duration="2s" data-wow-delay=".25s">
                            {% include 'partials/idea-form.twig' %}
                        </div>
                    </div>
                </div>
            </div>
            {% include 'partials/scroll-top.twig' %}
        </div>
    </div>
    {# / #}

    <!-- footer block -->
    {% include "layouts/footer.twig" %}
    <!-- footer block end -->
{% endblock %}