{% extends "layouts/app.twig" %}

{% block pageTitle %}ХлебПром{% endblock %}

{% block content %}
    <!-- Header block -->
    {% include "layouts/header.twig" %}
    <!-- Header block end -->
    <div class="index">
        {# header slider #}
        <div class="container">
            <div class="fw-width-1-1">
                <div class="header-slider fw-bg-color-light-pale-yellow owl-carousel  fw-width-1-1 fw-flex fw-flex-top fw-flex-left fw-flex-column fw-text-left fw-color-white">
                    {% for i in 1..2  %}
                        <div class="header-slider-slide fw-min-height-760 fw-width-1-1">
                            <img src="/images/main/header/header-bg.jpg" alt="">

                            <div class="fw-absolute fw-top-0 fw-left-0 fw-width-1-1 fw-height-1-1 fw-pl-95 fw-pb-290 fw-pt-220 ">
                                <span class="fw-fz-14 fw-font-msb">Торгово-производственная компания «Хлебпром»</span>
                                <h1 class="fw-font-mr fw-mt-35 fw-mb-35 fw-fz-60">{{ i }} Торты №1 в России</h1>
                                <p class="fw-fz-18 fw-margin-0 fw-max-width-615 fw-width-1-1 fw-line-height-30">Торгово-производственная компания ОАО «Хлебпром» основана в 1982 году. Входит в число ведущих российских производителей кондитерского рынка. Компания насчитывает более 4000
                                    сотрудников, включает четыре производственные площадки.
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="fw-width-1-1 fw-pb-45 fw-relative">
                    <ul id="carousel-custom-dots" class="fw-relative fw-z-index-1 owl-dots header-slider-navigation fw-pl-0 fw-margin-0 fw-fz-16 fw-flex fw-flex-left fw-flex-to fw-list-style-type fw-color-gray-text">
                        <li class="owl-dot fw-pointer header-slider-navigation--link slider-navigation-active fw-reset fw-pr-110 fw-pt-20 fw-pb-20 fw-mr-15 fw-block">О компании</li>
                        <li class="owl-dot fw-pointer header-slider-navigation--link slider-navigation-active fw-reset fw-pr-110 fw-pt-20 fw-pb-20 fw-mr-15 fw-block">Наша история</li>
                        <li class="owl-dot fw-pointer header-slider-navigation--link slider-navigation-active fw-reset fw-pr-110 fw-pt-20 fw-pb-20 fw-mr-15 fw-block">Карьера</li>
                    </ul>

                    <a href="#" class="fw-hover-bg-color-light-red fw-transition-400 fw-reset fw-z-index-1 fw-block fw-width-255 fw-pt-90 fw-pb-90 fw-bg-color-dark-red fw-pl-55 fw-absolute fw-right-0 fw-bottom-0">
                        <p class="fw-flex fw-flex-middle fw-flex-left fw-margin-0 fw-text-uppercase fw-font-msb fw-fz-14 fw-color-white">вся история
                            <i class="icon-arrow fw-fz-18 fw-ml-15"></i>
                        </p>
                    </a>
                </div>
            </div>
        </div>
        {# section number info #}
        <div class="fw-width-1-1 fw-pt-90 fw-pb-170">
            <div class="container">
                <div class="history-in-numbers fw-grid fw-grid-90">
                    <div class="history-in-numbers-item fw-width-1-5 wow fadeInUp" data-wow-offset="100" data-wow-duration="1.5s" data-wow-delay=".25s">
                        <span class="history-in-numbers-item--number fw-block fw-font-ml fw-fz-100 fw-color-pale-yellow">1982</span>
                        <p class="fw-margin-0 fw-font-mr fw-pt-30 fw-fz-14 fw-text-uppercase fw-color-gray-text">год начала работы</p>
                    </div>

                    <div class="history-in-numbers-item fw-width-1-5 wow fadeInUp" data-wow-offset="100" data-wow-duration="1.8s" data-wow-delay=".4s">
                        <span class="history-in-numbers-item--number fw-block fw-font-ml fw-fz-100 fw-color-pale-yellow">14</span>
                        <p class="fw-margin-0 fw-font-mr fw-pt-30 fw-fz-14 fw-text-uppercase fw-color-gray-text">регионов присутствия</p>
                    </div>

                    <div class="history-in-numbers-item fw-width-1-5 wow fadeInUp" data-wow-offset="100" data-wow-duration="2s" data-wow-delay=".5s">
                        <span class="history-in-numbers-item--number fw-block fw-font-ml fw-fz-100 fw-color-pale-yellow">416</span>
                        <p class="fw-margin-0 fw-font-mr fw-pt-30 fw-fz-14 fw-text-uppercase fw-color-gray-text">сотрудников в КОМПАНИИ</p>
                    </div>

                    <div class="history-in-numbers-item fw-width-1-5 wow fadeInUp" data-wow-offset="100" data-wow-duration="2.2s" data-wow-delay=".6s">
                        <span class="history-in-numbers-item--number fw-block fw-font-ml fw-fz-100 fw-color-pale-yellow">4</span>
                        <p class="fw-margin-0 fw-font-mr fw-pt-30 fw-fz-14 fw-text-uppercase fw-color-gray-text">
                            производственных <br>
                            площадки
                        </p>
                    </div>

                    <div class="history-in-numbers-item fw-width-1-5 wow fadeInUp" data-wow-offset="100" data-wow-duration="2.4s" data-wow-delay=".7s">
                        <span class="history-in-numbers-item--number fw-block fw-font-ml fw-fz-100 fw-color-pale-yellow">32</span>
                        <p class="fw-margin-0 fw-font-mr fw-pt-30 fw-fz-14 fw-text-uppercase fw-color-gray-text">
                            подразделения
                        </p>
                    </div>
                </div>
            </div>
        </div>

        {# section brands #}
        <div class="brands fw-width-1-1 fw-pb-100">
            <div class="container-small">
                <div class="fw-grid brands-items">
                    <div class="brands-items-line fw-width-1-4">
                        <div class="brands-items-line-item fw-width-1-1 fw-pb-70 wow fadeInUpBig" data-wow-offset="50" data-wow-duration="1s" data-wow-delay=".3s">
                            <span class="fw-block fw-fz-60 fw-font-ml">Бренды</span>
                            <p class="fw-fz-16 fw-font-mr fw-color-text fw-line-height-30 fw-margin-0 fw-pr-30 fw-mt-35 fw-mb-25">Продукция компании представлена
                                15 брендами: Mirel, Мой, Усладов,
                                Русская нива, Частная галерея,
                                Merba, Carr’s, Tago, Jules Destrooper,
                                Dr. Körner, Jr. Korner, ELMARINO,
                                LaKukuruza, Dooti Donuts
                                и реализуется через все
                                крупнейшие торговые сети страны.
                            </p>

                            <a href="#" class="fw-reset fw-flex fw-flex-left fw-flex-middle fw-width-fit-content fw-button">
                                <span class="fw-text-uppercase fw-font-msb fw-fz-14 fw-mr-15 fw-z-index-1 fw-relative fw-block">смотреть все</span>
                                <i class="icon-arrow fw-fz-18 fw-relative fw-z-index-1"></i>
                            </a>
                        </div>

                        <div class="brands-items-line-item fw-width-1-1 wow fadeInUpBig" data-wow-offset="50" data-wow-duration="1.3s" data-wow-delay=".4s">
                            <div class="brands-items-line-item-overlay fw-flex fw-flex-middle fw-flex-center">
                                <p class="fw-fz-40">Brand Logo</p>
                            </div>

                            <img src="/images/main/section1-brands/1.jpg" class="fw-block fw-width-1-1" alt="">
                        </div>
                    </div>

                    <div class="brands-items-line fw-width-1-4">
                        <div class="brands-items-line-item fw-width-1-1 wow fadeInUpBig" data-wow-offset="50" data-wow-duration="1.6s" data-wow-delay=".5s">
                            <div class="brands-items-line-item-overlay fw-flex fw-flex-middle fw-flex-center">
                                <p class="fw-fz-40">Brand Logo</p>
                            </div>
                            <img src="/images/main/section1-brands/2.jpg" class="fw-block fw-width-1-1" alt="">
                        </div>

                        <div class="brands-items-line-item fw-width-1-1 wow fadeInUpBig" data-wow-offset="50" data-wow-duration="1.9s" data-wow-delay=".6s">
                            <div class="brands-items-line-item-overlay fw-flex fw-flex-middle fw-flex-center">
                                <p class="fw-fz-40">Brand Logo</p>
                            </div>
                            <img src="/images/main/section1-brands/3.jpg" class="fw-block fw-width-1-1" alt="">
                        </div>

                        <div class="brands-items-line-item fw-width-1-1 wow fadeInUpBig" data-wow-offset="50" data-wow-duration="2.1s" data-wow-delay=".7s">
                            <div class="brands-items-line-item-overlay fw-flex fw-flex-middle fw-flex-center">
                                <p class="fw-fz-40">Brand Logo</p>
                            </div>
                            <img src="/images/main/section1-brands/4.jpg" class="fw-block fw-width-1-1" alt="">
                        </div>

                    </div>

                    <div class="brands-items-line fw-width-1-4 fw-flex fw-flex-middle fw-flex-center fw-flex-column">
                        <div class="brands-items-line-item fw-width-1-1 wow fadeInUpBig" data-wow-offset="50" data-wow-duration="2.4s" data-wow-delay=".8s">
                            <div class="brands-items-line-item-overlay fw-flex fw-flex-middle fw-flex-center">
                                <p class="fw-fz-40">Brand Logo</p>
                            </div>
                            <img src="/images/main/section1-brands/5.jpg" class="fw-block fw-width-1-1" alt="">
                        </div>

                        <a href="#" class="fw-reset fw-width-1-1 fw-bg-color-dark-red fw-pl-50 fw-pr-50 fw-pt-35 fw-pb-30 wow fadeInUpBig" data-wow-offset="50" data-wow-duration="2.6s" data-wow-delay=".9s">
                            <img src="/images/main/section1-brands/6.png" class="fw-block fw-margin-auto" alt="">
                            <p class="fw-fz-18 fw-margin-0 fw-mb-15 fw-mt-30 fw-font-mr fw-color-white">
                                Традиционные торты по
                                классическим рецептам,
                                история производства
                                которых началась в 1999
                                году с торта «Медовик».
                            </p>
                            <div class="fw-block fw-reset fw-width-1-1 fw-flex fw-flex-right">
                                <i class="icon-long_arrow fw-fz-40 fw-color-white"></i>
                            </div>
                        </a>
                    </div>

                    <div class="brands-items-line fw-width-1-4 fw-flex fw-flex-center fw-flex-middle">
                        <div class="brands-items-line-item fw-width-1-1 fw-mt-150 wow fadeInUpBig" data-wow-offset="50" data-wow-duration="2.9s" data-wow-delay="1s">
                            <div class="brands-items-line-item-overlay fw-flex fw-flex-middle fw-flex-center">
                                <p class="fw-fz-40">Brand Logo</p>
                            </div>
                            <img src="/images/main/section1-brands/7.jpg" class="fw-block fw-width-1-1" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# section recommedation #}
        <div class="fw-width-1-1 fw-pb-100">
            <div class="container-small">
                <div class="fw-grid fw-grid-195">
                    <div class="fw-width-1-2">
                        <div class="fw-width-1-1 fw-pb-70 wow fadeInUpBig" data-wow-offset="-300" data-wow-duration="2s" data-wow-delay=".25s">
                            <span class="fw-block fw-fz-60 fw-font-ml fw-color-dark-text">Рекомендуем попробовать</span>
                            <p class="fw-fz-16 fw-font-mr fw-color-text fw-line-height-30 fw-margin-0 fw-pt-35 fw-pr-80 fw-pb-70">Продукция компании представлена
                                Мы также производим воздушные фруктовые пироги,
                                хрустящее  печенье с натуральным шоколадом, тающие
                                во рту имбирные пряники и нежные сливочные вафли,
                                приготовленные по секретному рецепту XIX века.
                                Закажите любимые продукты в нашем интернет-магазине
                                и наслаждайтесь праздником даже в будничный день.
                            </p>
                        </div>

                        <div class="fw-width-1-1 fw-mb-130 wow fadeInUpBig" data-wow-offset="-300" data-wow-duration="2s" data-wow-delay=".25s">
                            <div class="fw-width-1-1">
                                <img src="/images/main/section2-recommendation/1.jpg" class="fw-block fw-width-1-1" alt="">
                            </div>

                            <div class="fw-width-1-1 fw-pt-35 fw-pb-35 fw-relative">
                                <span class="fw-text-uppercase fw-fz-14 fw-font-msb fw-color-gray-text fw-block fw-mb-20">Пирожные</span>
                                <p class="fw-max-width-170 fw-margin-0 fw-color-dark-text fw-fz-30 fw-font-ml">Творожные колечки</p>

                                <a href="#" class="fw-hover-bg-color-light-red fw-transition-400 fw-reset fw-block fw-width-255 fw-pt-75 fw-pb-75 fw-pl-20 fw-pr-30 fw-bg-color-dark-red fw-absolute fw-right-0 fw-bottom-0">
                                    <p class="fw-margin-0 fw-text-uppercase fw-color-white fw-fz-14 fw-font-msb fw-line-height-22">
                                       купить на shop.hlebprom.ru
                                       <i class="icon-arrow fw-fz-14 fw-ml-15"></i>
                                    </p>
                                </a>
                            </div>
                        </div>

                        <div class="fw-width-1-1 wow fadeInUpBig" data-wow-offset="-300" data-wow-duration="2s" data-wow-delay=".25s">
                            <div class="fw-width-1-1">
                                <img src="/images/main/section2-recommendation/2.jpg" class="fw-block fw-width-1-1" alt="">
                            </div>

                            <div class="fw-width-1-1 fw-pt-35 fw-pb-35 fw-relative">
                                <span class="fw-text-uppercase fw-fz-14 fw-font-msb fw-color-gray-text fw-block fw-mb-20">торты</span>
                                <p class="fw-max-width-170 fw-margin-0 fw-color-dark-text fw-fz-30 fw-font-ml">Торт «Пломбирный»</p>

                                <a href="#" class="fw-hover-bg-color-light-red fw-transition-400 fw-reset fw-block fw-width-255 fw-pt-75 fw-pb-75 fw-pl-20 fw-pr-30 fw-bg-color-dark-red fw-absolute fw-right-0 fw-bottom-0">
                                    <p class="fw-margin-0 fw-text-uppercase fw-color-white fw-fz-14 fw-font-msb fw-line-height-22">
                                        купить на shop.hlebprom.ru
                                        <i class="icon-arrow fw-fz-14 fw-ml-15"></i>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="fw-width-1-2 fw-flex fw-flex-column fw-flex-space-between">
                        <div class="fw-width-1-1 fw-mb-130 wow fadeInUpBig" data-wow-offset="-300" data-wow-duration="2s" data-wow-delay=".25s">
                            <div class="fw-width-1-1">
                                <img src="/images/main/section2-recommendation/3.jpg" class="fw-block fw-width-1-1" alt="">
                            </div>

                            <div class="fw-width-1-1 fw-pt-35 fw-relative">
                                <span class="fw-text-uppercase fw-fz-14 fw-font-msb fw-color-gray-text fw-block fw-mb-20">Пирожные</span>
                                <p class="fw-max-width-170 fw-margin-0 fw-color-dark-text fw-fz-30 fw-font-ml">Эклеры со сметанным кремом</p>

                                <a href="#" class="fw-hover-bg-color-light-red fw-transition-400 fw-reset fw-block fw-width-255 fw-pt-75 fw-pb-75 fw-pl-20 fw-pr-30 fw-bg-color-dark-red fw-absolute fw-right-0 fw-bottom-0">
                                    <p class="fw-margin-0 fw-text-uppercase fw-color-white fw-fz-14 fw-font-msb fw-line-height-22">
                                        купить на shop.hlebprom.ru
                                        <i class="icon-arrow fw-fz-14 fw-ml-15"></i>
                                    </p>
                                </a>
                            </div>
                        </div>

                        <div class="fw-width-1-1 fw-mb-130 wow fadeInUpBig" data-wow-offset="-300" data-wow-duration="2s" data-wow-delay=".25s">
                            <div class="fw-width-1-1">
                                <img src="/images/main/section2-recommendation/4.jpg" class="fw-block fw-width-1-1" alt="">
                            </div>

                            <div class="fw-width-1-1 fw-pt-35 fw-pb-35 fw-relative">
                                <span class="fw-text-uppercase fw-fz-14 fw-font-msb fw-color-gray-text fw-block fw-mb-20">торты</span>
                                <p class="fw-max-width-170 fw-margin-0 fw-color-dark-text fw-fz-30 fw-font-ml">Торт «Эстерхази»</p>

                                <a href="#" class="fw-hover-bg-color-light-red fw-transition-400 fw-reset fw-block fw-width-255 fw-pt-75 fw-pb-75 fw-pl-20 fw-pr-30 fw-bg-color-dark-red fw-absolute fw-right-0 fw-bottom-0">
                                    <p class="fw-margin-0 fw-text-uppercase fw-color-white fw-fz-14 fw-font-msb fw-line-height-22">
                                        купить на shop.hlebprom.ru
                                        <i class="icon-arrow fw-fz-14 fw-ml-15"></i>
                                    </p>
                                </a>
                            </div>
                        </div>

                        <div class="fw-width-1-1 fw-mt-73 wow fadeInUpBig" data-wow-offset="-300" data-wow-duration="2s" data-wow-delay=".25s">
                            <p class="fw-fz-16 fw-font-mr fw-color-text fw-line-height-30 fw-margin-0 fw-pr-30 fw-mt-35 fw-mb-25">
                                Мы также производим воздушные фруктовые пироги,
                                хрустящее  печенье с натуральным шоколадом, тающие
                                во рту имбирные пряники и нежные сливочные вафли,
                                приготовленные по секретному рецепту XIX века.
                                Закажите любимые продукты в нашем интернет-магазине
                                и наслаждайтесь праздником даже в будничный день.
                            </p>

                            <a href="#" class="fw-reset fw-flex fw-flex-left fw-flex-middle fw-width-fit-content fw-button">
                                <span class="fw-text-uppercase fw-font-msb fw-fz-14 fw-mr-15 fw-z-index-1 fw-relative fw-block">побаловать себя</span>
                                <i class="icon-arrow fw-fz-18 fw-relative fw-z-index-1"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# section modern  #}
        <div class="modern-production fw-width-1-1">
            <div class="container fw-pl-160 fw-pr-160 fw-pt-100 fw-bg-color-light-pale-yellow">

                <span class="fw-block fw-color-dark-text fw-fz-60 fw-font-ml fw-pl-50 fw-mb-60 wow fadeInUpBig" data-wow-offset="-300" data-wow-duration="2s" data-wow-delay=".25s">Современное производство</span>

                <div class="modern-production-line fw-width-1-1 fw-relative fw-pb-100 wow fadeInUpBig" data-wow-offset="-300" data-wow-duration="2s" data-wow-delay=".25s">
                    <div class="modern-production-item-left modern-production-item-text fw-width-2-4 fw-bg-color-white fw-absolute fw-left-0 fw-top-0 fw-pl-85 fw-pr-90 fw-pt-70 fw-pb-70">
                        <p class="fw-margin-0 fw-mb-50 fw-color-dark-text fw-fz-40 fw-font-ml">Творожные колечки</p>
                        <p class="fw-fz-14 fw-font-mr fw-color-text fw-line-height-30 fw-margin-0 fw-mb-30">
                            Компания Хлебпром имеет 4 собственные производственные площадки, расположенные в разных уголках России. Производство тортов «Mirel» находится в Челябинске, тортов «Русская нива» – в Красногорске, тортов «Усладов» и «Мой» - в Ногинске, а в городе Ярцево Смоленской области находится производство продукции здорового питания «Dr.Korner».
                        </p>

                        <a href="#" class="fw-reset fw-flex fw-flex-left fw-flex-middle fw-width-fit-content fw-button">
                            <span class="fw-text-uppercase fw-font-msb fw-fz-14 fw-mr-15 fw-z-index-1 fw-relative fw-block">наше производство</span>
                            <i class="icon-arrow fw-fz-18 fw-relative fw-z-index-1"></i>
                        </a>
                    </div>

                    <div class="modern-production-item-right modern-production-item-img fw-width-1-1 fw-flex fw-flex-right fw-flex-bottom">
                        <div class="modern-production-item-img-box">
                            <div class="modern-production-item-img-box-image">
                                <img class="fw-block" src="/images/main/section3-modern-production/1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modern-production-line fw-width-1-1 fw-relative fw-pb-100 wow fadeInUpBig" data-wow-offset="-300" data-wow-duration="2s" data-wow-delay=".25s">
                    <div class="modern-production-item-left modern-production-item-text fw-width-2-4 fw-bg-color-white fw-absolute fw-right-0 fw-top-0 fw-pl-85 fw-pr-90 fw-pt-70 fw-pb-70">
                        <p class="fw-margin-0 fw-mb-50 fw-color-dark-text fw-fz-40 fw-font-ml">Высокое качество</p>
                        <p class="fw-fz-14 fw-font-mr fw-color-text fw-line-height-30 fw-margin-0 fw-mb-30">
                            ОАО «Хлебпром» заботится о качестве и безопасности своей продукции. Мы сертифицированы по четырем международным стандартам: ISO 9001:2008, ISO 22000:2005; ISO 14001:2004; OHSAS 18001 :2007. Сертификационные и надзорные аудиты
                            на соответствие данным стандартам проводит компания SGS – мировой лидер на рынке контроля, экспертизы, испытаний
                            и сертификации
                        </p>

                        <a href="#" class="fw-reset fw-flex fw-flex-left fw-flex-middle fw-width-fit-content fw-button">
                            <span class="fw-text-uppercase fw-font-msb fw-fz-14 fw-mr-15 fw-z-index-1 fw-relative fw-block">политика компании</span>
                            <i class="icon-arrow fw-fz-18 fw-relative fw-z-index-1"></i>
                        </a>
                    </div>

                    <div class="modern-production-item-right modern-production-item-img fw-width-1-1 fw-flex fw-flex-left fw-flex-bottom">
                        <div class="modern-production-item-img-box">
                            <div class="modern-production-item-img-box-image">
                                <img class="fw-block" src="/images/main/section3-modern-production/2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modern-production-line fw-width-1-1 fw-relative wow fadeInUpBig" data-wow-offset="-300" data-wow-duration="2s" data-wow-delay=".25s">
                    <div class="fw-width-1-1 fw-absolute fw-left-0 fw-top-0">
                        <div class="modern-production-item-left modern-production-item-text fw-relative fw-width-2-4 fw-bg-color-white fw-pl-85 fw-pr-90 fw-pt-70 fw-pb-70 fw-z-index-3">
                            <p class="fw-margin-0 fw-mb-50 fw-color-dark-text fw-fz-40 fw-font-ml">Лучшие эксперты</p>
                            <p class="fw-fz-14 fw-font-mr fw-color-text fw-line-height-30 fw-margin-0 fw-mb-30">
                                Каждый день в компании проходит ярко и не похож на предыдущий. Мы нашли оптимальный баланс рабочего дня, совместив решение бизнес-задач с разнообразными корпоративными программами
                                и мероприятиями. Нам удалось создать не просто комфортную, дружескую атмосферу – нам удалось создать ощущение настоящей команды. Команды профессионалов.
                            </p>

                            <a href="#" class="fw-reset fw-flex fw-flex-left fw-flex-middle fw-width-fit-content fw-button">
                                <span class="fw-text-uppercase fw-font-msb fw-fz-14 fw-mr-15 fw-z-index-1 fw-relative fw-block">работа в хлебпром</span>
                                <i class="icon-arrow fw-fz-18 fw-relative fw-z-index-1"></i>
                            </a>
                        </div>
                        {# bottom red section #}
                        <div class="modern-production-item-left-before fw-relative fw-height-138 fw-width-1-1 fw-bg-color-dark-red"></div>
                        {# / #}
                    </div>

                    <div class="modern-production-item-right fw-relative fw-z-index-1 modern-production-item-img fw-width-1-1 fw-flex fw-flex-right fw-flex-bottom">
                        <div class="modern-production-item-img-box">
                            <div class="modern-production-item-img-box-image">
                                <img class="fw-block" src="/images/main/section3-modern-production/3.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# section partnership #}
        <div class="partnership fw-width-1-1 fw-relative">
            <div class="container fw-relative fw-bg-color-dark-red fw-pb-200 fw-pt-100">
                <img src="/images/main/section4-partnership/1.png" class="fw-absolute fw-right-0 fw-bottom-0 wow fadeInRight" data-wow-duration="2s" data-wow-delay="1s" alt="">

                <div class="fw-width-1-1 fw-relative fw-z-index-1 fw-color-white wow fadeInUpBig" data-wow-offset="-300" data-wow-duration="2s" data-wow-delay=".25s">
                    <p class="fw-margin-0 fw-mb-50 fw-fz-60 fw-font-ml">Лучшие эксперты</p>
                    <p class="fw-max-width-520 fw-fz-16 fw-font-mr fw-line-height-30 fw-margin-0 fw-mb-30">
                        Каждый день в компании проходит ярко и не похож на предыдущий. Мы нашли оптимальный баланс рабочего дня, совместив решение бизнес-задач с разнообразными корпоративными программами
                        и мероприятиями. Нам удалось создать не просто комфортную, дружескую атмосферу – нам удалось создать ощущение настоящей команды. Команды профессионалов.
                    </p>

                    <a href="#" class="fw-reset fw-flex fw-flex-left fw-flex-middle fw-width-fit-content fw-button fw-button-opacity">
                        <span class="fw-text-uppercase fw-font-msb fw-fz-14 fw-mr-15 fw-z-index-1 fw-relative fw-block">как стать партнером</span>
                        <i class="icon-arrow fw-fz-18 fw-relative fw-z-index-1"></i>
                    </a>
                </div>
            </div>
        </div>

        {% include 'partials/locations.twig' %}

        {% include 'partials/scroll-top.twig' %}
    </div>

    <!-- footer block -->
    {% include "layouts/footer.twig" %}
    <!-- footer block end -->
{% endblock %}