{% extends "layouts/app.twig" %}

{% block pageTitle %}ХлебПром{% endblock %}

{% block content %}
    <!-- Header block -->
    {% include "layouts/header.twig" %}
    <!-- Header block end -->
    <div class="index">
        {# header slider #}
        <div class="container">
            <div class="fw-width-1-1">
                {% include "partials/index-slider.twig" %}
            </div>
        </div>
        {# section number info #}
        <div class="section-history-in-numbers fw-width-1-1 fw-pt-65 fw-pb-115">
            <div class="container">
                {% include "partials/number-info.twig" %}
            </div>
        </div>

        {# section brands #}
        <div class="brands fw-width-1-1 fw-pb-75">
            <div class="container-small">
                <div class="fw-grid brands-items">
                    <div class="brands-items-line fw-width-1-4">
                        <div class="brands-items-line-item fw-width-1-1 fw-pb-70 wow fadeInUp" data-wow-offset="50"
                             data-wow-duration="0.5s" data-wow-delay=".3s">
                            <span class="fw-block fw-fz-60 fw-font-ml">Бренды</span>
                            <p class="fw-fz-16 fw-font-mr fw-color-text fw-line-height-30 fw-margin-0 fw-pr-30 fw-mt-25 fw-mb-25">
                                Продукция компании представлена
                                15 брендами: Mirel, Мой, Усладов,
                                Русская нива, Частная галерея,
                                Merba, Carr’s, Tago, Jules Destrooper,
                                Dr. Körner, Jr. Korner, ELMARINO,
                                LaKukuruza, Dooti Donuts
                                и реализуется через все
                                крупнейшие торговые сети страны.
                            </p>

                            <a href="#"
                               class="fw-reset fw-flex fw-flex-left fw-flex-middle fw-width-fit-content fw-button">
                                <span class="fw-text-uppercase fw-font-msb fw-fz-14 fw-mr-15 fw-z-index-1 fw-relative fw-block">смотреть все</span>
                                <i class="icon-arrow fw-fz-18 fw-relative fw-z-index-1"></i>
                            </a>
                        </div>

                        <div class="brands-items-line-item fw-width-1-1 wow fadeInUp" data-wow-offset="50"
                             data-wow-duration="0.7s" data-wow-delay=".4s">

                            <div class="brands-items-line-item-overlay fw-padding-50 fw-flex fw-flex-middle fw-flex-center">
                                <img src="images/main/section1-brands/1.jpg" class="fw-block fw-width-1-1" alt="">
                            </div>

                            <img src="images/main/section1-brands/1.jpg" class="fw-block fw-width-1-1" alt="">
                        </div>
                    </div>

                    <div class="brands-items-line fw-width-1-4 fw-pt-15">
                        <div class="brands-items-line-item fw-width-1-1 wow fadeInUp" data-wow-offset="50"
                             data-wow-duration="0.9s" data-wow-delay=".5s">
                            <div class="brands-items-line-item-overlay fw-padding-50 fw-flex fw-flex-middle fw-flex-center">
                                <img src="images/main/section1-brands/1.jpg" class="fw-block fw-width-1-1" alt="">
                            </div>
                            <img src="images/main/section1-brands/2.jpg" class="fw-block fw-width-1-1" alt="">
                        </div>

                        <div class="brands-items-line-item fw-width-1-1 wow fadeInUp" data-wow-offset="50"
                             data-wow-duration="1.1s" data-wow-delay=".6s">
                            <div class="brands-items-line-item-overlay fw-padding-50 fw-flex fw-flex-middle fw-flex-center">
                                <img src="images/main/section1-brands/1.jpg" class="fw-block fw-width-1-1" alt="">
                            </div>

                            <img src="images/main/section1-brands/3.jpg" class="fw-block fw-width-1-1" alt="">
                        </div>

                        <div class="brands-items-line-item fw-width-1-1 wow fadeInUp" data-wow-offset="50"
                             data-wow-duration="1.3s" data-wow-delay=".7s">
                            <div class="brands-items-line-item-overlay fw-padding-50 fw-flex fw-flex-middle fw-flex-center">
                                <img src="images/main/section1-brands/1.jpg" class="fw-block fw-width-1-1" alt="">
                            </div>
                            <img src="images/main/section1-brands/4.jpg" class="fw-block fw-width-1-1" alt="">
                        </div>

                    </div>

                    <div class="brands-items-line fw-width-1-4 fw-flex fw-flex-middle fw-flex-center fw-flex-column">
                        <div class="brands-items-line-item fw-width-1-1 wow fadeInUp" data-wow-offset="50"
                             data-wow-duration="1.5s" data-wow-delay=".8s">
                            <div class="brands-items-line-item-overlay fw-padding-50 fw-flex fw-flex-middle fw-flex-center">
                                <img src="images/main/section1-brands/1.jpg" class="fw-block fw-width-1-1" alt="">
                            </div>
                            <img src="images/main/section1-brands/5.jpg" class="fw-block fw-width-1-1" alt="">
                        </div>

                        <a href="#"
                           class="fw-reset fw-width-1-1 fw-bg-color-dark-red fw-pl-50 fw-pr-50 fw-pt-35 fw-pb-30 wow fadeInUp"
                           data-wow-offset="50" data-wow-duration="1.8s" data-wow-delay=".9s">
                            <img src="images/main/section1-brands/6.png" class="fw-block fw-margin-auto" alt="">
                            <p class="fw-fz-18 fw-margin-0 fw-mb-15 fw-mt-30 fw-font-mr fw-color-white">
                                Традиционные торты по
                                классическим рецептам,
                                история производства
                                которых началась в 1999
                                году с торта «Медовик».
                            </p>
                            <div class="fw-block fw-reset fw-width-1-1 fw-flex fw-flex-right">
                                <i class="icon-long_arrow fw-fz-40 fw-color-white"></i>
                            </div>
                        </a>
                    </div>

                    <div class="brands-items-line fw-width-1-4 fw-flex fw-flex-center fw-flex-middle">
                        <div class="brands-items-line-item fw-width-1-1 fw-mt-150 wow fadeInUp" data-wow-offset="50"
                             data-wow-duration="2.1s" data-wow-delay="1s">
                            <div class="brands-items-line-item-overlay fw-padding-50 fw-flex fw-flex-middle fw-flex-center">
                                <img src="images/main/section1-brands/1.jpg" class="fw-block fw-width-1-1" alt="">
                            </div>
                            <img src="images/main/section1-brands/7.jpg" class="fw-block fw-width-1-1" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# section recommedation #}
        <div class="section-recommedation fw-width-1-1 fw-pb-100">
            <div class="container-small">
                <div class="recommedation-grid fw-grid fw-grid-195">
                    <div class="left fw-width-1-2">
                        <div class="recommedation-item fw-width-1-1 fw-pb-70 wow fadeInUp" data-wow-offset="-300" data-wow-duration="2s"
                             data-wow-delay=".25s">
                            <span class="fw-block fw-fz-60 fw-font-ml fw-color-dark-text">Рекомендуем попробовать</span>
                            <p class="fw-fz-16 fw-font-mr fw-color-text fw-line-height-30 fw-margin-0 fw-pt-35 fw-pr-80">
                                Продукция компании представлена
                                Мы также производим воздушные фруктовые пироги,
                                хрустящее печенье с натуральным шоколадом, тающие
                                во рту имбирные пряники и нежные сливочные вафли,
                                приготовленные по секретному рецепту XIX века.
                                Закажите любимые продукты в нашем интернет-магазине
                                и наслаждайтесь праздником даже в будничный день.
                            </p>
                        </div>

                        <div class="recommedation-item fw-width-1-1 fw-mb-130 wow fadeInUp" data-wow-offset="100" data-wow-duration="2s"
                             data-wow-delay=".25s">
                            <div class="fw-width-1-1">
                                <img src="images/main/section2-recommendation/1.jpg" class="fw-block fw-width-1-1"
                                     alt="">
                            </div>

                            <div class="fw-width-1-1 fw-pt-35 fw-pb-35 fw-relative">
                                <span class="fw-text-uppercase fw-fz-14 fw-font-msb fw-color-gray-text fw-block fw-mb-20">Пирожные</span>
                                <p class="fw-max-width-170 fw-margin-0 fw-color-dark-text fw-fz-30 fw-font-ml">Творожные
                                    колечки</p>

                                <a href="#"
                                   class="fw-hover-bg-color-dark-text fw-transition-400 fw-reset fw-block fw-width-255 fw-pt-75 fw-pb-75 fw-pl-20 fw-pr-30 fw-bg-color-dark-red fw-absolute fw-right-0 fw-bottom-0">
                                    <p class="fw-margin-0 fw-text-uppercase fw-color-white fw-fz-14 fw-font-msb fw-line-height-22">
                                        купить на shop.hlebprom.ru
                                        <i class="icon-arrow fw-fz-14 fw-ml-15"></i>
                                    </p>
                                </a>
                            </div>
                        </div>

                        <div class="recommedation-item fw-width-1-1 wow fadeInUp" data-wow-offset="100" data-wow-duration="2s"
                             data-wow-delay=".25s">
                            <div class="fw-width-1-1">
                                <img src="images/main/section2-recommendation/2.jpg" class="fw-block fw-width-1-1"
                                     alt="">
                            </div>

                            <div class="fw-width-1-1 fw-pt-35 fw-pb-35 fw-relative">
                                <span class="fw-text-uppercase fw-fz-14 fw-font-msb fw-color-gray-text fw-block fw-mb-20">торты</span>
                                <p class="fw-max-width-170 fw-margin-0 fw-color-dark-text fw-fz-30 fw-font-ml">Торт
                                    «Пломбирный»</p>

                                <a href="#"
                                   class="fw-hover-bg-color-dark-text fw-transition-400 fw-reset fw-block fw-width-255 fw-pt-75 fw-pb-75 fw-pl-20 fw-pr-30 fw-bg-color-dark-red fw-absolute fw-right-0 fw-bottom-0">
                                    <p class="fw-margin-0 fw-text-uppercase fw-color-white fw-fz-14 fw-font-msb fw-line-height-22">
                                        купить на shop.hlebprom.ru
                                        <i class="icon-arrow fw-fz-14 fw-ml-15"></i>
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="right fw-width-1-2 fw-flex fw-flex-column fw-flex-space-between">
                        <div class="recommedation-item fw-width-1-1 fw-mb-130 wow fadeInUp" data-wow-offset="100" data-wow-duration="2s"
                             data-wow-delay=".25s">
                            <div class="fw-width-1-1">
                                <img src="images/main/section2-recommendation/3.jpg" class="fw-block fw-width-1-1"
                                     alt="">
                            </div>

                            <div class="fw-width-1-1 fw-pt-35 fw-relative">
                                <span class="fw-text-uppercase fw-fz-14 fw-font-msb fw-color-gray-text fw-block fw-mb-20">Пирожные</span>
                                <p class="fw-max-width-170 fw-margin-0 fw-color-dark-text fw-fz-30 fw-font-ml">Эклеры со
                                    сметанным кремом</p>

                                <a href="#"
                                   class="fw-hover-bg-color-dark-text fw-transition-400 fw-reset fw-block fw-width-255 fw-pt-75 fw-pb-75 fw-pl-20 fw-pr-30 fw-bg-color-dark-red fw-absolute fw-right-0 fw-bottom-0">
                                    <p class="fw-margin-0 fw-text-uppercase fw-color-white fw-fz-14 fw-font-msb fw-line-height-22">
                                        купить на shop.hlebprom.ru
                                        <i class="icon-arrow fw-fz-14 fw-ml-15"></i>
                                    </p>
                                </a>
                            </div>
                        </div>

                        <div class="recommedation-item fw-width-1-1 fw-mb-130 wow fadeInUp" data-wow-offset="100" data-wow-duration="2s"
                             data-wow-delay=".25s">
                            <div class="fw-width-1-1">
                                <img src="images/main/section2-recommendation/4.jpg" class="fw-block fw-width-1-1"
                                     alt="">
                            </div>

                            <div class="fw-width-1-1 fw-pt-35 fw-pb-35 fw-relative">
                                <span class="fw-text-uppercase fw-fz-14 fw-font-msb fw-color-gray-text fw-block fw-mb-20">торты</span>
                                <p class="fw-max-width-170 fw-margin-0 fw-color-dark-text fw-fz-30 fw-font-ml">Торт
                                    «Эстерхази»</p>

                                <a href="#"
                                   class="fw-hover-bg-color-dark-text fw-transition-400 fw-reset fw-block fw-width-255 fw-pt-75 fw-pb-75 fw-pl-20 fw-pr-30 fw-bg-color-dark-red fw-absolute fw-right-0 fw-bottom-0">
                                    <p class="fw-margin-0 fw-text-uppercase fw-color-white fw-fz-14 fw-font-msb fw-line-height-22">
                                        купить на shop.hlebprom.ru
                                        <i class="icon-arrow fw-fz-14 fw-ml-15"></i>
                                    </p>
                                </a>
                            </div>
                        </div>

                        <div class="recommedation-item fw-width-1-1 fw-mt-73 wow fadeInUp" data-wow-offset="100" data-wow-duration="2s"
                             data-wow-delay=".25s">
                            <p class="fw-fz-16 fw-font-mr fw-color-text fw-line-height-30 fw-margin-0 fw-pr-30 fw-mt-35 fw-mb-25">
                                Мы также производим воздушные фруктовые пироги,
                                хрустящее печенье с натуральным шоколадом, тающие
                                во рту имбирные пряники и нежные сливочные вафли,
                                приготовленные по секретному рецепту XIX века.
                                Закажите любимые продукты в нашем интернет-магазине
                                и наслаждайтесь праздником даже в будничный день.
                            </p>

                            <a href="#"
                               class="fw-reset fw-flex fw-flex-left fw-flex-middle fw-width-fit-content fw-button">
                                <span class="fw-text-uppercase fw-font-msb fw-fz-14 fw-mr-15 fw-z-index-1 fw-relative fw-block">побаловать себя</span>
                                <i class="icon-arrow fw-fz-18 fw-relative fw-z-index-1"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# section modern  #}
        <div class="modern-production fw-width-1-1">
            <div class="container fw-pt-100 fw-bg-color-light-pale-yellow">
                <div class="container-small">
                    <span class="fw-block fw-color-dark-text fw-fz-60 fw-font-ml fw-pl-50 fw-mb-60 wow fadeInUp"
                          data-wow-offset="-300" data-wow-duration="2s"
                          data-wow-delay=".25s">Современное производство</span>

                    <div class="modern-production-line fw-width-1-1 fw-flex fw-flex-space-between fw-relative fw-pb-170 fw-mb-100 wow fadeInUp"
                         data-wow-offset="-300" data-wow-duration="2s" data-wow-delay=".25s">
                        <div class="modern-production-item-left modern-production-item-text fw-width-1-2 fw-bg-color-white fw-relative fw-height-fit-content fw-left-0 fw-top-0 fw-pl-85 fw-pr-90 fw-pt-70 fw-pb-70">
                            <p class="fw-margin-0 fw-mb-50 fw-color-dark-text fw-fz-40 fw-font-ml">Творожные колечки</p>
                            <p class="fw-fz-14 fw-font-mr fw-color-text fw-line-height-30 fw-margin-0 fw-mb-30">
                                Компания Хлебпром имеет 4 собственные производственные площадки, расположенные в разных
                                уголках России. Производство тортов «Mirel» находится в Челябинске, тортов «Русская
                                нива» – в Красногорске, тортов «Усладов» и «Мой» - в Ногинске, а в городе Ярцево
                                Смоленской области находится производство продукции здорового питания «Dr.Korner».
                            </p>

                            <a href="#"
                               class="fw-reset fw-flex fw-flex-left fw-flex-middle fw-width-fit-content fw-button">
                                <span class="fw-text-uppercase fw-font-msb fw-fz-14 fw-mr-15 fw-z-index-1 fw-relative fw-block">наше производство</span>
                                <i class="icon-arrow fw-fz-18 fw-relative fw-z-index-1"></i>
                            </a>
                        </div>

                        <div class="modern-production-item-right fw-absolute fw-right-0 fw-top-0 modern-production-item-img fw-width-3-5 fw-height-1-1 fw-ml-auto fw-flex fw-flex-right fw-flex-bottom">
                            <div class="modern-production-item-img-box">
                                <div class="modern-production-item-img-box-image">
                                    <img class="fw-block fw-object-fit-cover" src="images/main/section3-modern-production/1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modern-production-line fw-flex fw-flex-right fw-width-1-1 fw-relative fw-pb-170 fw-mb-100 wow fadeInUp"
                         data-wow-offset="-300" data-wow-duration="2s" data-wow-delay=".25s">
                        <div class="modern-production-item-left modern-production-item-text fw-width-1-2 fw-height-fit-content fw-bg-color-white fw-relative fw-right-0 fw-top-0 fw-pl-85 fw-pr-90 fw-pt-70 fw-pb-70">
                            <p class="fw-margin-0 fw-mb-50 fw-color-dark-text fw-fz-40 fw-font-ml">Высокое качество</p>
                            <p class="fw-fz-14 fw-font-mr fw-color-text fw-line-height-30 fw-margin-0 fw-mb-30">
                                ОАО «Хлебпром» заботится о качестве и безопасности своей продукции. Мы сертифицированы
                                по четырем международным стандартам: ISO 9001:2008, ISO 22000:2005; ISO 14001:2004;
                                OHSAS 18001 :2007. Сертификационные и надзорные аудиты
                                на соответствие данным стандартам проводит компания SGS – мировой лидер на рынке
                                контроля, экспертизы, испытаний
                                и сертификации
                            </p>

                            <a href="#"
                               class="fw-reset fw-flex fw-flex-left fw-flex-middle fw-width-fit-content fw-button">
                                <span class="fw-text-uppercase fw-font-msb fw-fz-14 fw-mr-15 fw-z-index-1 fw-relative fw-block">политика компании</span>
                                <i class="icon-arrow fw-fz-18 fw-relative fw-z-index-1"></i>
                            </a>
                        </div>

                        <div class="modern-production-item-right fw-absolute fw-left-0 fw-top-0 fw-height-1-1 modern-production-item-img fw-width-3-5 fw-flex fw-flex-left fw-flex-bottom">
                            <div class="modern-production-item-img-box">
                                <div class="modern-production-item-img-box-image">
                                    <img class="fw-block fw-object-fit-cover" src="images/main/section3-modern-production/2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modern-production-line fw-width-1-1 fw-relative fw-pb-170 fw-flex wow fadeInUp" data-wow-offset="-300"
                         data-wow-duration="2s" data-wow-delay=".25s">

                        <div class="modern-production-subline fw-width-1-1 fw-relative fw-height-fit-content fw-z-index-3 fw-left-0 fw-top-0">
                            <div class="modern-production-item-left modern-production-item-text fw-relative fw-z-index-3 fw-width-2-4 fw-bg-color-white fw-pl-85 fw-pr-90 fw-pt-70 fw-pb-70 fw-z-index-3">
                                <p class="fw-margin-0 fw-mb-50 fw-color-dark-text fw-fz-40 fw-font-ml">Лучшие
                                    эксперты</p>
                                <p class="fw-fz-14 fw-font-mr fw-color-text fw-line-height-30 fw-margin-0 fw-mb-30">
                                    Каждый день в компании проходит ярко и не похож на предыдущий. Мы нашли оптимальный
                                    баланс рабочего дня, совместив решение бизнес-задач с разнообразными корпоративными
                                    программами
                                    и мероприятиями. Нам удалось создать не просто комфортную, дружескую атмосферу – нам
                                    удалось создать ощущение настоящей команды. Команды профессионалов.
                                </p>

                                <a href="#"
                                   class="fw-reset fw-flex fw-flex-left fw-flex-middle fw-width-fit-content fw-button">
                                    <span class="fw-text-uppercase fw-font-msb fw-fz-14 fw-mr-15 fw-z-index-1 fw-relative fw-block">работа в хлебпром</span>
                                    <i class="icon-arrow fw-fz-18 fw-relative fw-z-index-1"></i>
                                </a>
                            </div>
                        </div>

                        <div class="modern-production-item-right fw-absolute fw-right-0 fw-top-0 fw-height-1-1 fw-z-index-2 modern-production-item-img fw-width-3-5 fw-ml-auto fw-flex fw-flex-right fw-flex-bottom">
                            <div class="modern-production-item-img-box">
                                <div class="modern-production-item-img-box-image">
                                    <img class="fw-block fw-object-fit-cover" src="images/main/section3-modern-production/3.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# section partnership #}
        <div class="partnership fw-mt-inverse-207 fw-width-1-1 fw-relative">
            <div class="container-small fw-relative fw-bg-color-dark-red fw-pb-200 fw-pt-300">
                <img src="images/main/section4-partnership/1.png"
                     class="partnership-section-img fw-absolute fw-right-0 fw-bottom-0 wow fadeInRight" data-wow-duration="2s"
                     data-wow-delay="1s" alt="">

                <div class="fw-width-1-1 fw-relative fw-z-index-1 fw-color-white wow fadeInUp" data-wow-offset="-300"
                     data-wow-duration="2s" data-wow-delay=".25s">
                    <p class="fw-margin-0 fw-mb-50 fw-fz-60 fw-font-ml">Надежное партнерство</p>
                    <p class="fw-max-width-520 fw-fz-16 fw-font-mr fw-line-height-30 fw-margin-0 fw-mb-30">
                        На протяжении истории развития компании мы всегда
                        смотрели на шаг вперед и стали лучшими в своей индустрии.
                        Страсть к инновациям позволяет нам создавать вкусные
                        и качественные продукты и приносить радость в каждую
                        семью. Мы предлагаем привлекательные условия для всех
                        наших партнеров, удобный документооборот, развитую
                        логистику, и простой способ коммуникации.
                    </p>

                    <a href="#"
                       class="fw-reset fw-flex fw-flex-left fw-flex-middle fw-width-fit-content fw-button fw-button-opacity">
                        <span class="fw-text-uppercase fw-font-msb fw-fz-14 fw-mr-15 fw-z-index-1 fw-relative fw-block">как стать партнером</span>
                        <i class="icon-arrow fw-fz-18 fw-relative fw-z-index-1"></i>
                    </a>
                </div>
            </div>
        </div>

        {% include 'partials/locations.twig' %}

        {% include 'partials/scroll-top.twig' %}
    </div>

    <!-- footer block -->
    {% include "layouts/footer.twig" %}
    <!-- footer block end -->
{% endblock %}