{% extends "layouts/app.twig" %}

{% block pageTitle %}Scan&amp;Go. Делаю покупки еще быстрее – Система самостоятельного сканирования товаров{% endblock %}

{% block content %}
    <!-- Header block -->
    {% include "layouts/header.twig" %}
    <!-- Header block end -->

    <div class="fw-pt-35 fw-pb-35">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-9">
                    <div class="fw-fz-36 fw-mb-30">
                        Новости компании
                    </div>

                    <div class="row">
                        {% for i in 1..9 %}
                            <div class="col-12 col-sm-6 col-md-4 fw-mb-40">
                                <a href="#" class="fw-reset">
                                    <div class="fw-fz-0 fw-relative">
                                        <img alt="" src="http://placehold.it/600x600" class="fw-width-1-1"/>
                                        <div class="fw-bg-color-pink fw-color-white fw-fz-24 fw-text-300 fw-padding-5 fw-pt-10 fw-pb-10 fw-absolute fw-left-0 fw-bottom-0">
                                            22/<span class="fw-fz-18">02</span>
                                        </div>
                                    </div>
                                    <div class="fw-mt-15">
                                        <span class="fw-color-blue-dark fw-text-underline">{{ i }} || Плюс 5 миллионов резюме в январе!</span>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="fw-mt-30">
                        {% include 'components/pagination.twig' %}
                    </div>
                </div>
                <div class="col-3 d-none d-md-block col-md-3">
                    <img src="images/promo/kfc.jpg" class="fw-width-1-1" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- footer block -->
    {% include "layouts/footer.twig" %}
    <!-- footer block end -->
{% endblock %}