{% extends "layouts/app.twig" %}

{% block pageTitle %}Scan&amp;Go. Делаю покупки еще быстрее – Система самостоятельного сканирования товаров{% endblock %}

{% block content %}
    <!-- Header block -->
    {% include "layouts/header.twig" %}
    <!-- Header block end -->

    <div class="fw-pt-35 fw-pb-35">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <div class="fw-fz-36 fw-mb-30">
                        Работа по профессиям
                    </div>

                    <div class="fw-fz-0">
                        <img src="images/professions-work.jpg" class="fw-width-1-1" alt="">
                    </div>
                    <div class="fw-bg-color-blue fw-pt-30 fw-pb-30 d-flex">
                        <div class="col-4">
                            <ul class="standard-list standard-list--white">
                                <li class="fw-pt-5 fw-pb-5"><a href="#" class="fw-color-white fw-text-underline">Автомобильный
                                        бизнес</a></li>
                                <li class="fw-pt-5 fw-pb-5"><a href="#" class="fw-color-white fw-text-underline">Административный
                                        персонал</a></li>
                                <li class="fw-pt-5 fw-pb-5"><a href="#" class="fw-color-white fw-text-underline">Банки,
                                        инвестиции, лизинг</a></li>
                                <li class="fw-pt-5 fw-pb-5"><a href="#" class="fw-color-white fw-text-underline">Безопасность</a>
                                </li>
                                <li class="fw-pt-5 fw-pb-5"><a href="#" class="fw-color-white fw-text-underline">Бухгалтерия,
                                        управленческий учет, финансы предприятия</a></li>
                                <li class="fw-pt-5 fw-pb-5"><a href="#" class="fw-color-white fw-text-underline">Высший
                                        менеджмент</a></li>
                                <li class="fw-pt-5 fw-pb-5"><a href="#" class="fw-color-white fw-text-underline">Государственная
                                        служба, некоммерческие организации</a></li>
                                <li class="fw-pt-5 fw-pb-5"><a href="#" class="fw-color-white fw-text-underline">Добыча
                                        сырья</a></li>
                                <li class="fw-pt-5 fw-pb-5"><a href="#" class="fw-color-white fw-text-underline">Домашний
                                        персонал</a></li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <ul class="standard-list standard-list--white">
                                <li class="fw-pt-5 fw-pb-5"><a href="#"
                                                               class="fw-color-white fw-text-underline">Закупки</a></li>
                                <li class="fw-pt-5 fw-pb-5"><a href="#" class="fw-color-white fw-text-underline">Инсталляция
                                        и сервис</a></li>
                                <li class="fw-pt-5 fw-pb-5"><a href="#" class="fw-color-white fw-text-underline">Информационные
                                        технологии, интернет, телеком</a></li>
                                <li class="fw-pt-5 fw-pb-5"><a href="#" class="fw-color-white fw-text-underline">Искусство,
                                        развлечения, масс-медиа</a></li>
                                <li class="fw-pt-5 fw-pb-5"><a href="#" class="fw-color-white fw-text-underline">Консультирование</a>
                                </li>
                                <li class="fw-pt-5 fw-pb-5"><a href="#" class="fw-color-white fw-text-underline">Маркетинг,
                                        реклама, PR</a></li>
                                <li class="fw-pt-5 fw-pb-5"><a href="#" class="fw-color-white fw-text-underline">Медицина,
                                        фармацевтика</a></li>
                                <li class="fw-pt-5 fw-pb-5"><a href="#" class="fw-color-white fw-text-underline">Наука,
                                        образование</a></li>
                                <li class="fw-pt-5 fw-pb-5"><a href="#" class="fw-color-white fw-text-underline">Начало
                                        карьеры, студенты</a></li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <ul class="standard-list standard-list--white">
                                <li class="fw-pt-5 fw-pb-5"><a href="#"
                                                               class="fw-color-white fw-text-underline">Продажи</a></li>
                                <li class="fw-pt-5 fw-pb-5"><a href="#" class="fw-color-white fw-text-underline">Производство</a>
                                </li>
                                <li class="fw-pt-5 fw-pb-5"><a href="#" class="fw-color-white fw-text-underline">Рабочий
                                        персонал</a></li>
                                <li class="fw-pt-5 fw-pb-5"><a href="#" class="fw-color-white fw-text-underline">Спортивные
                                        клубы, фитнес</a></li>
                                <li class="fw-pt-5 fw-pb-5"><a href="#" class="fw-color-white fw-text-underline">Страхование</a>
                                </li>
                                <li class="fw-pt-5 fw-pb-5"><a href="#" class="fw-color-white fw-text-underline">Строительство,
                                        недвижимость</a></li>
                                <li class="fw-pt-5 fw-pb-5"><a href="#" class="fw-color-white fw-text-underline">Транспорт,
                                        логистика</a></li>
                                <li class="fw-pt-5 fw-pb-5"><a href="#" class="fw-color-white fw-text-underline">Туризм,
                                        гостиницы, рестораны</a></li>
                                <li class="fw-pt-5 fw-pb-5"><a href="#" class="fw-color-white fw-text-underline">Управление
                                        персоналом, тренинги</a></li>
                                <li class="fw-pt-5 fw-pb-5"><a href="#"
                                                               class="fw-color-white fw-text-underline">Юристы</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <img src="images/promo/kfc.jpg" class="fw-width-1-1" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- footer block -->
    {% include "layouts/footer.twig" %}
    <!-- footer block end -->
{% endblock %}