{% extends "layouts/app.twig" %}

{% block pageTitle %}ХлебПром{% endblock %}

{% block content %}
    <!-- Header block -->
    {% include "layouts/header.twig" %}
    <!-- Header block end -->
    <div class="supervisor fw-pb-100">
        <div class="container-small">
            <div class="fw-pt-20 fw-pb-20">
                {% include "partials/breadcrumbs.twig" %}
            </div>

            <form class="fw-max-width-900 wow fadeInUp" data-wow-offset="100" data-wow-duration="2s" data-wow-delay=".25s">
                <h1 class="fw-fz-60 fw-font-ml fw-font-normal fw-margin-0 fw-mb-20">Супервайзер</h1>
                <div class="fw-color-gray-text fw-fz-20">
                    <span class="fw-text-uppercase">Архангельск</span>
                    <span class="fw-ml-5 fw-mr-5">&bull;</span>
                    <span>от 65 000Р в месяц на руки</span>
                </div>

                <div class="vacancy__list fw-mt-60">
                    <div class="vacancy__item wow fadeInUp" data-wow-offset="100" data-wow-duration="2s" data-wow-delay=".25s">
                        <div class="fw-fz-30 fw-font-ml">Обязанности:</div>
                        <div class="fw-pl-50 fw-mt-10">
                            <ul class="bullet-list fw-fz-18 fw-line-height-1-5">
                                <li>
                                    Продвижение продукции
                                    ОАО «Хлебпром» при помощи
                                    действующего дистрибьютора
                                    в Архангельске и области
                                </li>

                                <li>
                                    Развитие продаж на территори
                                    Архангельска и области
                                </li>

                                <li>Расширение активной клиентской базы</li>

                                <li>Организация работы команд  торговых представителей  и мерчандайзеров</li>
                            </ul>
                        </div>
                    </div>
                    <div class="vacancy__item wow fadeInUp" data-wow-offset="100" data-wow-duration="2s" data-wow-delay=".25s">
                        <div class="fw-fz-30 fw-font-ml fw-pb-25">Требования:</div>
                        <div class="fw-pl-50 fw-mt-10">
                            <div class="fw-fz-14 fw-text-uppercase fw-font-mb">Опыт:</div>
                            <ul class="bullet-list fw-fz-18 fw-line-height-1-5">
                                Работы региональным  представителем,
                                супервайзером, территориальным
                                менеджером

                                Взаимодействия с дистрибьютором
                                <li>
                                    Работы региональным  представителем,
                                    супервайзером, территориальным
                                    менеджером
                                </li>
                                <li>Взаимодействия с дистрибьютором</li>
                            </ul>
                            <div class="fw-fz-14 fw-text-uppercase fw-font-mb">Знания:</div>

                            <ul class="bullet-list fw-fz-18 fw-line-height-1-5">
                                <li>Основ работы торгового представителя</li>
                                <li>Клиентской базы продуктового рынка на территории</li>
                                <li>Знание ПК: Word, Excel, Power Point, 1C, эл. почта, Интернет</li>
                            </ul>

                            <div class="fw-fz-14 fw-text-uppercase fw-font-mb">Образование:</div>
                            <ul class="bullet-list fw-fz-18 fw-line-height-1-5">
                                <li>Высшее образование</li>
                            </ul>
                            <div class="fw-fz-14 fw-text-uppercase fw-font-mb">Навыки:</div>
                            <ul class="bullet-list fw-fz-18 fw-line-height-1-5">
                                <li>Умение вести переговоры</li>
                                <li>Умение организовывать сотрудников дистрибьютора и команду ТП на выполнение планов продаж</li>
                                <li>Водительские права, автомобиль</li>
                                <li>
                                    Личные качества: целеустремленность, ответственность, инициативность, умение работать
                                    в команде, умение вести за собой, стрессоустойчивость
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="vacancy__item wow fadeInUp" data-wow-offset="100" data-wow-duration="2s" data-wow-delay=".25s">
                        <div class="fw-fz-30 fw-font-ml">Условия работы:</div>
                        <div class="fw-pl-50 fw-mt-10">
                            <ul class="bullet-list fw-fz-18 fw-line-height-1-5">
                                <li>Белая заработная плата, 65 500₽ на руки</li>
                                <li>Оплата сотовой связи</li>
                                <li>Полный рабочий день с 9:00 до 18:00</li>
                                <li>Полный соц. пакет: оплата отпусков, больничных листов, оформление по ТК, ОМС</li>
                                <li>Корпоративное обучение</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="supervisor__button-wrap fw-pt-40 wow fadeInUp" data-wow-offset="100" data-wow-duration="2s" data-wow-delay=".25s">
                    <button
                       class="fw-reset fw-flex fw-flex-left fw-flex-middle fw-width-fit-content fw-button">
                        <span class="fw-text-uppercase fw-font-msb fw-fz-14 fw-mr-15 fw-z-index-1 fw-relative fw-block">Отправить отклик</span>
                        <i class="icon-arrow fw-fz-18 fw-relative fw-z-index-1"></i>
                    </button>
                </div>
            </form>
            <div class="supervisor__recommendation-form-wrap fw-mt-50 fw-pt-50 wow fadeInUp" data-wow-offset="100" data-wow-duration="2s" data-wow-delay=".25s">
                <div class="fw-fz-30 fw-font-ml">Рекомендовать другу:</div>
                <div class="fw-mt-15">
                    {% include 'partials/recommend-friend-form.twig' %}
                </div>
            </div>
        </div>
    </div>
    {# / #}

    <!-- footer block -->
    {% include "layouts/footer.twig" %}
    <!-- footer block end -->
{% endblock %}