{% extends "layouts/app.twig" %}

{% block pageTitle %}Scan&amp;Go. Делаю покупки еще быстрее – Система самостоятельного сканирования товаров{% endblock %}

{% block content %}
    <!-- Header block -->
    {% include "layouts/header.twig" %}
    <!-- Header block end -->

    <div class="fw-pt-35 fw-pb-35">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <div class="d-flex align-items-center fw-mb-30 row">
                        <div class="fw-mr-30 col">
                            <div class="fw-fz-24 fw-text-500 fw-mb-20">Мастер/ученик по оклейке защитных пленок на
                                автомобиль
                            </div>
                            <div class="fw-fz-24 fw-mb-20">
                                от 150 000 до 300 000 KZT до вычета НДФЛ
                            </div>
                            <div>
                                <a href="#" target="_blank" class="fw-color-blue-dark fw-text-underline">ТОО JTS
                                    (ДжейТиЭс)</a>
                            </div>
                            <div class="fw-mt-40 d-flex align-items-center">
                                <a href="#" class="btn btn--small fw-mr-20">
                                    <i class="icon icon-white-apply"></i>
                                    <span>Откликнуться</span>
                                </a>
                                <a href="#" class="btn btn--small btn--long btn-empty ">Контакты</a>
                            </div>
                        </div>
                        <div class="fw-pr-35">
                            <img alt="" src="http://placehold.it/170x140"/>
                        </div>
                    </div>
                    <div class="fw-padding-30 fw-bg-color-gray-light">
                        <div class="fw-mb-inverse-15">
                            <p>Мастера и ученики по оклейке защитных пленок на автомобиль.</p>

                            <p>В связи с открытием новой студии "JTS Protection" приглашаем энергичных и трудолюбивых на
                                интересную и творческую работу!</p>

                            <p>Будь первым, не упусти свой шанс! Количество кандидатов по данной вакансии ограниченно!
                                <br>Опыт в данной сфере приветствуется.</p>
                        </div>
                    </div>
                    <div class="fw-padding-30">
                        <div class="fw-text-600 fw-mb-20">Требования:</div>

                        <ul class="fw-reset fw-mb-20">
                            <li>- Гражданство РК</li>
                            <li>- Знание устройства автомобиля</li>
                            <li>- Увлечение тюнингом и автомобилями</li>
                            <li>- Легко обучаемый с огромным желанием освоить новую профессию</li>
                            <li>- Пунктуальный, надежный ответственный, аккуратный.</li>
                        </ul>

                        <div class="fw-text-600 fw-mb-20">Условия:</div>

                        <ul class="fw-reset fw-mb-20">
                            <li>- Трудоустройство - официальное</li>
                            <li>- Оклад - фиксированный</li>
                            <li>- Место работы - Проспект Суюнбая</li>
                            <li>- Дополнительная информация при собеседовании.</li>
                        </ul>

                        <div class="fw-text-600 fw-mb-20">Контактная информация</div>

                        <div class="fw-mb-20">
                            <div>Пилявский Евгений</div>
                            <div>+7 (727) 3277887</div>
                            <div>+7 (777) 1217887</div>
                            <div><a href="mailto:hr@jts.kz" class="fw-color-blue-dark fw-text-underline">hr@jts.kz</a></div>
                        </div>

                        <div class="fw-text-600 fw-mb-20">Адрес</div>

                        <div>Алматы, улица Панфилова, 85</div>
                    </div>
                    <div>
                        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A53c3ac9915314747b825444efb997bf73b00daad6ee66e8ff8f6818ee24e615f&amp;source=constructor" width="100%" height="270" frameborder="0"></iframe>
                    </div>
                    <div class="fw-mt-40">
                        <div class="fw-fz-24 fw-text-500 fw-mb-30">Отклик на вакансию</div>
                        <div class="fw-bg-color-blue fw-padding-30">
                            <div class="row">
                                <div class="col-8">
                                    <form action="#">
                                        <div class="fw-mb-15">
                                            <input type="text" class="standard-input" placeholder="Имя">
                                        </div>
                                        <div class="fw-mb-15">
                                            <input type="text" class="standard-input" placeholder="Фамилия">
                                        </div>
                                        <div class="fw-mb-40">
                                            <input type="email" class="standard-input" placeholder="E-mail">
                                        </div>
                                        <div>
                                            <button class="btn">Продолжить</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-4 fw-color-white">
                                    <div class="d-flex align-items-center fw-mb-30 fw-text-500">
                                        <div>
                                            <a href="#" class="fw-color-white">Вход</a>
                                        </div>
                                        <div class="fw-ml-15 fw-mr-15">
                                            |
                                        </div>
                                        <div>
                                            <a href="#" class="fw-color-blue-light fw-text-underline">Регистрация</a>
                                        </div>
                                    </div>
                                    <div class="fw-fz-12 fw-color-white">
                                        <div class="fw-mb-5">
                                            Нажимая «Продолжить», вы подтверждаете,
                                            что ознакомлены, полностью согласны и
                                            принимаете условия
                                        </div>
                                        <div>
                                            <a href="#" class="fw-color-white fw-text-underline">«Соглашения об оказании услуг по
                                                содействию в трудоустройстве (оферта)»</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="fw-pb-30">
                        <img src="images/promo/kfc.jpg" class="fw-width-1-1" alt="">
                    </div>
                    <div class="fw-mt-30">
                        <div class="fw-fz-24 fw-text-500">
                            Похожие резюме
                        </div>
                        <div>
                            {% for i in 1..8 %}
                                <div class="fw-mt-25">
                                    {% include 'components/resume-preview.twig' %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer block -->
    {% include "layouts/footer.twig" %}
    <!-- footer block end -->
{% endblock %}