<div class="b-breadcrumbs fw-fz-11 wow fadeInUp" data-wow-offset="100" data-wow-duration="2s" data-wow-delay=".25s">
    <ul class="b-breadcrumbs__list fw-flex fw-flex-middle fw-margin-0 fw-padding-0">
        <li class="b-breadcrumbs__item fw-block fw-margin-0">
            <a href="#" class="b-breadcrumbs__link fw-text-underline-hover fw-color-dark-text">Главная</a>
        </li>
        <li class="b-breadcrumbs__item fw-block fw-margin-0 fw-ml-20">
            <span class="b-breadcrumbs__current fw-color-gray-text">Контакты</span>
        </li>
    </ul>
</div>