<div>
    <div class="form__main-title fw-fz-60 fw-font-ml fw-mb-50">Обратная связь</div>
    <form action="#">
        <div class="form__line fw-flex fw-mb-40">
            <div class="form__label fw-width-310 fw-flex-shrink-no fw-text-uppercase fw-pt-15">
                фамилия, имя, отчество
            </div>

            <div class="form__input-wrap fw-flex-grow-1 fw-flex fw-flex-middle">
                <div class="fw-width-2-3">
                    <input type="text" class="fw-reset form__text-input fw-width-1-1" placeholder="Как к вам обращаться">
                </div>
                <div class="fw-width-1-3 fw-pl-50">

                </div>
            </div>
        </div>
        <div class="form__line fw-flex fw-mb-40">
            <div class="form__label fw-width-310 fw-flex-shrink-no fw-text-uppercase fw-pt-15">
                Телефон
            </div>
            <div class="form__input-wrap fw-flex-grow-1 fw-flex fw-flex-middle">
                <div class="fw-width-2-3">
                    <input type="text" class="fw-reset form__text-input fw-width-1-1 form__text-input--error"
                           placeholder="Как к вам обращаться">
                </div>
                <div class="error-wrap fw-width-1-3 fw-pl-50">
                    <div class="fw-color-dark-red fw-text-uppercase">
                        введите корректный адрес
                        электронной почты
                    </div>
                </div>
            </div>
        </div>

        <div class="form__line fw-flex fw-mb-40">
            <div class="form__label fw-width-310 fw-flex-shrink-no fw-text-uppercase fw-pt-15">
                E-mail
            </div>
            <div class="fw-flex-grow-1 fw-flex fw-flex-middle">
                <div class="fw-width-2-3">
                    <input type="text" class="fw-reset form__text-input fw-width-1-1"
                           placeholder="Как к вам обращаться">
                </div>
                <div class="fw-width-1-3 fw-pl-50">

                </div>
            </div>
        </div>

        <div class="form__line fw-flex fw-mb-40">
            <div class="form__label fw-width-310 fw-flex-shrink-no fw-text-uppercase fw-pt-15">
                Тема обращения
            </div>
            <div class="fw-flex-grow-1 fw-flex fw-flex-middle">
                <div class="fw-width-2-3">
                    <select class="form__select fw-fz-14 fw-text-uppercase fw-font-ml fw-mb-60" name="message-thems" id="message-thems">
                        <option value="1">Выберите тему обращения</option>
                        <option value="1">Выберите тему обращения1</option>
                        <option value="1">Выберите тему обращения2</option>
                        <option value="1">Выберите тему обращения3</option>
                    </select>
                </div>
                <div class="fw-width-1-3 fw-pl-50">

                </div>
            </div>
        </div>

        <div class="form__line fw-flex fw-mb-40 fw-pt-15">
            <div class="fw-width-310 fw-flex-shrink-no fw-text-uppercase">
                &nbsp;
            </div>
            <div class="fw-flex-grow-1 fw-flex fw-flex-middle">
                <label class="fw-checkbox fw-text-uppercase">
                    <input type="checkbox" class="fw-checkbox__input fw-hidden">
                    <i class="fw-checkbox__placeholder"></i>
                    <span class="fw-checkbox__content">Получить прайслист на продукцию</span>
                </label>
            </div>
        </div>

        <div class="form__line fw-flex fw-mb-40 fw-pt-15">
            <div class="form__label textarea-field fw-width-310 fw-flex-shrink-no fw-text-uppercase">
                сопроводительное письмо
            </div>
            <div class="fw-flex-grow-1 fw-flex fw-flex-middle">
                <div class="fw-width-2-3">
                    <textarea class="form__textarea fw-width-1-1 fw-height-138"
                              placeholder="Расскажите о вашем бизнесе"></textarea>
                </div>
                <div class="fw-width-1-3"></div>
            </div>
        </div>

        <div class="form__line fw-flex fw-mb-40 fw-pt-15">
            <div class="fw-width-310 fw-flex-shrink-no fw-text-uppercase">
                &nbsp;
            </div>
            <div class="fw-flex-grow-1 fw-flex fw-flex-middle">
                <div class="fw-width-2-3">
                    <label class="form__input-file fw-flex fw-flex-center fw-flex-middle fw-height-100">
                        <input type="file" class="fw-hidden">
                        <span class="fw-flex fw-flex-middle">
                        <i class="icon-attach"></i>
                        <span class="fw-text-uppercase fw-ml-10">Прикрепить документы</span>
                    </span>
                    </label>
                </div>
                <div class="fw-width-1-3"></div>
            </div>
        </div>

        <div class="fw-mb-40 fw-pt-15">
            <label class="fw-checkbox fw-text-uppercase">
                <input type="checkbox" class="fw-checkbox__input fw-hidden">
                <i class="fw-checkbox__placeholder"></i>
                <span class="fw-checkbox__content">Я соглашаюсь на обработку и хранение персональных данных</span>
            </label>
        </div>

        <div class="form__line">
            <button class="fw-reset fw-mt-30 fw-flex fw-flex-left fw-flex-middle fw-width-fit-content fw-button">
                <span class="fw-text-uppercase fw-font-msb fw-fz-14 fw-mr-15 fw-z-index-1 fw-relative fw-block">Отправить</span>
                <i class="icon-arrow fw-fz-18 fw-relative fw-z-index-1"></i>
            </button>
        </div>
    </form>
</div>