<div>
    <div class="fw-fz-60 fw-font-ml">Форма подачи идеи</div>

    <form action="#">
        <div class="ideas__form fw-grid fw-grid-195 fw-mb-40">
            <div class="fw-width-1-2">
                <input type="text" class="fw-reset form__text-input fw-width-1-1"
                       placeholder="ИМЯ">
            </div>
            <div class="fw-width-1-2">
                <input type="text" class="fw-reset form__text-input fw-width-1-1"
                       placeholder="E-MAIL">
            </div>
            <div class="fw-width-1-2">
                <input type="text" class="fw-reset form__text-input fw-width-1-1"
                       placeholder="НАЗВАНИЕ ИДЕИ">
            </div>
            <div class="fw-width-1-2">
                <select class="form__select fw-fz-14 fw-text-uppercase fw-font-ml fw-mb-60" name="" id="">
                    <option value="1">ВЫБЕРИТЕ ТЕМУ ОБРАЩЕНИЯ</option>
                    <option value="1">Выберите тему обращения1</option>
                    <option value="1">Выберите тему обращения2</option>
                    <option value="1">Выберите тему обращения3</option>
                </select>
            </div>
            <div class="fw-width-1-1">
                <textarea class="form__textarea fw-width-1-1 fw-height-138"
                          placeholder="КРАТКОЕ ОПИСАНИЕ ИДЕИ"></textarea>
            </div>
            <div class="fw-width-1-1 fw-text-uppercase">
                <div class="fw-flex fw-flex-middle">
                    <div>являетесь ли вы сотрудником оао «хлебпром»?</div>
                    <div class="fw-flex fw-flex-middle">
                        <label class="fw-radio fw-text-uppercase fw-ml-20">
                            <input type="radio" name="3" class="fw-radio__input fw-hidden">
                            <i class="fw-radio__placeholder"></i>
                            <span class="fw-radio__content">да</span>
                        </label>
                        <label class="fw-radio fw-text-uppercase fw-ml-20">
                            <input type="radio" name="3" class="fw-radio__input fw-hidden">
                            <i class="fw-radio__placeholder"></i>
                            <span class="fw-radio__content">нет</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="fw-width-1-1">
                <label class="fw-checkbox">
                    <input type="checkbox" class="fw-checkbox__input fw-hidden">
                    <i class="fw-checkbox__placeholder"></i>
                    <span class="fw-checkbox__content">Я соглашаюсь на обработку и хранение <a href="#" class="fw-reset fw-color-pale-yellow fw-text-underline-hover">персональных данных</a></span>
                </label>
            </div>
            <div class="fw-width-1-1">
                <button class="fw-reset fw-flex fw-flex-left fw-flex-middle fw-width-fit-content fw-button">
                    <span class="fw-text-uppercase fw-font-msb fw-fz-14 fw-mr-15 fw-z-index-1 fw-relative fw-block">Отправить</span>
                    <i class="icon-arrow fw-fz-18 fw-relative fw-z-index-1"></i>
                </button>
            </div>
        </div>
    </form>
</div>