<div class="header-slider fw-bg-color-light-pale-yellow owl-carousel  fw-width-1-1 fw-flex fw-flex-top fw-flex-left fw-flex-column fw-text-left fw-color-white">
    {% for i in 1..2 %}
        <div class="header-slider-slide fw-width-1-1">
            <img class="fw-absolute fw-object-fit-cover fw-top-0 fw-left-0 fw-width-1-1 fw-height-1-1" src="images/main/header/header-bg.jpg" >

            <div class="fw-min-height-760 fw-height-1-1 fw-width-1-1 fw-height-1-1 fw-padding-100 fw-flex fw-flex-center fw-flex-top fw-flex-column">
                <span class="fw-fz-14 fw-font-msb">Торгово-производственная компания «Хлебпром»</span>
                <h1 class="fw-font-mr fw-mt-35 fw-mb-35 fw-fz-60">{{ i }} Торты №1 в России</h1>
                <p class="fw-fz-18 fw-margin-0 fw-max-width-615 fw-width-1-1 fw-line-height-30">
                    Торгово-производственная компания ОАО «Хлебпром» основана в 1982 году. Входит в
                    число ведущих российских производителей кондитерского рынка. Компания насчитывает
                    более 4000
                    сотрудников, включает четыре производственные площадки.
                </p>
            </div>
        </div>
    {% endfor %}
</div>

{# slider navigation #}
<div class="fw-width-1-1 fw-pb-45 fw-relative">
    <ul id="carousel-custom-dots"
        class="fw-relative fw-z-index-1 owl-dots header-slider-navigation fw-pl-0 fw-margin-0 fw-fz-16 fw-flex fw-flex-left fw-flex-to fw-list-style-type fw-color-gray-text">
        <li class="owl-dot fw-pointer header-slider-navigation--link slider-navigation-active fw-reset fw-pr-110 fw-pt-20 fw-pb-20 fw-mr-15 fw-block">
            О компании
        </li>
        <li class="owl-dot fw-pointer header-slider-navigation--link slider-navigation-active fw-reset fw-pr-110 fw-pt-20 fw-pb-20 fw-mr-15 fw-block">
            Наша история
        </li>
        <li class="owl-dot fw-pointer header-slider-navigation--link slider-navigation-active fw-reset fw-pr-110 fw-pt-20 fw-pb-20 fw-mr-15 fw-block">
            Карьера
        </li>
    </ul>

    <a href="#"
       class="fw-hover-bg-color-dark-text fw-transition-400 fw-reset fw-z-index-1 fw-block fw-width-255 fw-pt-90 fw-pb-90 fw-bg-color-dark-red fw-pl-55 fw-absolute fw-right-0 fw-bottom-0">
        <p class="fw-flex fw-flex-middle fw-flex-left fw-margin-0 fw-text-uppercase fw-font-msb fw-fz-14 fw-color-white">
            вся история
            <i class="icon-arrow fw-fz-18 fw-ml-15"></i>
        </p>
    </a>
</div>