{# section locations #}
<div class="locations fw-pt-100 wow fadeInUpBig" data-wow-offset="-300" data-wow-duration="2s" data-wow-delay=".25s">
    <div class="container">
        <p class="fw-margin-0 fw-mb-40 fw-color-dark-text fw-fz-60 fw-font-ml">Представительства</p>

        <div id="map" class="fw-width-1-1 fw-min-height-500 fw-relative">

            <div class="locations-info fw-z-index-1 fw-max-width-520 fw-width-1-1 fw-pt-50 fw-pl-50 fw-pb-70 fw-pr-70 fw-bg-color-white fw-absolute fw-right-80">
                <p class="js-toggle-contacts active toggle-contacts-title fw-margin-0 fw-mb-30 fw-color-dark-text fw-fz-30 fw-font-ml fw-flex fw-flex-middle fw-flex-left fw-pointer">Санкт-Петербург <i class="fw-ml-10 icon-keyboard_arrow_down"></i></p>
                <div class="fw-fz-16 fw-font-mr fw-width-1-1 fw-color-text">
                    <p class="fw-mb-15">Адрес: 192102, Санкт-Петербург,</p>
                    <p class="fw-mb-15">Набережная реки Волковки, 7, лит. А, офис 208</p>
                    <p class="fw-mb-15">Телефон: <a class="fw-reset" href="tel:+78123311611">+7 812 331-16-11</a>, <a class="fw-reset" href="tell:+78123311626 ">+7 812 331-16-26</a></p>
                    <p class="fw-mt-30 fw-mb-30">Факс: +7 812 712-95-59</p>
                    <p class="fw-mb-15">E-mail: <a class="fw-color-pale-yellow fw-reset" href="mailto:info@hlebprom.ru">info@hlebprom.ru</a></p>
                </div>
            </div>

            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A55e843dbd5d869306c1c172b8d9b89c7969bc9b011b11b93aa11c57942b08606&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=false"></script>
        </div>

    </div>
</div>