<div class="history-in-numbers fw-grid fw-grid-90">
    <div class="history-in-numbers-item fw-width-1-5 wow fadeInUp" data-wow-offset="100"
         data-wow-duration="1.5s" data-wow-delay=".25s">
        <span class="history-in-numbers-item--number fw-block fw-font-ml fw-fz-100 fw-color-pale-yellow">1982</span>
        <p class="fw-margin-0 fw-font-mr fw-pt-30 fw-fz-14 fw-text-uppercase fw-color-gray-text">год
            начала работы</p>
    </div>

    <div class="history-in-numbers-item fw-width-1-5 wow fadeInUp" data-wow-offset="100"
         data-wow-duration="1.8s" data-wow-delay=".4s">
        <span class="history-in-numbers-item--number fw-block fw-font-ml fw-fz-100 fw-color-pale-yellow">14</span>
        <p class="fw-margin-0 fw-font-mr fw-pt-30 fw-fz-14 fw-text-uppercase fw-color-gray-text">
            регионов присутствия</p>
    </div>

    <div class="history-in-numbers-item fw-width-1-5 wow fadeInUp" data-wow-offset="100"
         data-wow-duration="2s" data-wow-delay=".5s">
        <span class="history-in-numbers-item--number third-number fw-block fw-font-ml fw-fz-100 fw-color-pale-yellow">416</span>
        <p class="fw-margin-0 fw-font-mr fw-pt-30 fw-fz-14 fw-text-uppercase fw-color-gray-text">
            сотрудников в КОМПАНИИ</p>
    </div>

    <div class="history-in-numbers-item fw-width-1-5 wow fadeInUp" data-wow-offset="100"
         data-wow-duration="2.2s" data-wow-delay=".6s">
        <span class="history-in-numbers-item--number fw-block fw-font-ml fw-fz-100 fw-color-pale-yellow">4</span>
        <p class="fw-margin-0 fw-font-mr fw-pt-30 fw-fz-14 fw-text-uppercase fw-color-gray-text">
            производственных <br>
            площадки
        </p>
    </div>

    <div class="history-in-numbers-item fw-width-1-5 wow fadeInUp" data-wow-offset="100"
         data-wow-duration="2.4s" data-wow-delay=".7s">
        <span class="history-in-numbers-item--number fw-block fw-font-ml fw-fz-100 fw-color-pale-yellow">32</span>
        <p class="fw-margin-0 fw-font-mr fw-pt-30 fw-fz-14 fw-text-uppercase fw-color-gray-text">
            подразделения
        </p>
    </div>
</div>