<div class="pagination">
    <ul class="pagination__list fw-flex fw-flex-middle fw-padding-0 fw-margin-0 fw-font-msb">
        <li class="pagination__item fw-margin-5 fw-ml-10 fw-mr-10 fw-block fw-font-arial"><a href="#" class="pagination__link fw-hover-color-pale-yellow fw-block fw-padding-5 fw-reset">&larr;</a></li>
        <li class="pagination__item fw-margin-5 fw-ml-10 fw-mr-10 fw-block"><a href="#" class="pagination__link fw-hover-color-pale-yellow fw-block fw-padding-5 fw-reset fw-color-pale-yellow">1</a></li>
        <li class="pagination__item fw-margin-5 fw-ml-10 fw-mr-10 fw-block"><a href="#" class="pagination__link fw-hover-color-pale-yellow fw-block fw-padding-5 fw-reset">2</a></li>
        <li class="pagination__item fw-margin-5 fw-ml-10 fw-mr-10 fw-block"><a href="#" class="pagination__link fw-hover-color-pale-yellow fw-block fw-padding-5 fw-reset">3</a></li>
        <li class="pagination__item fw-margin-5 fw-ml-10 fw-mr-10 fw-block"><a href="#" class="pagination__link fw-hover-color-pale-yellow fw-block fw-padding-5 fw-reset">4</a></li>
        <li class="pagination__item fw-margin-5 fw-ml-10 fw-mr-10 fw-block"><a href="#" class="pagination__link fw-hover-color-pale-yellow fw-block fw-padding-5 fw-reset">5</a></li>
        <li class="pagination__item fw-margin-5 fw-ml-10 fw-mr-10 fw-block fw-font-arial"><a href="#" class="pagination__link fw-hover-color-pale-yellow fw-block fw-padding-5 fw-reset">&rarr;</a></li>
    </ul>
</div>