<form action="" class="recommended-friend-form">
    <input type="text" placeholder="Введите E-mail" class="recommended-friend-form__input fw-text-uppercase">
    <button class="recommended-friend-form__button"><i class="icon-arrow fw-relative fw-z-index-1"></i></button>
</form>