<footer>
    <div class="container fw-bg-color-light-pale-yellow fw-pl-100 fw-pr-80">
        <div class="fw-width-1-1 fw-pt-70 fw-flex fw-flex-space-between fw-flex-top">
            <div class="left fw-flex fw-flex-left fw-flex-top">
                <ul class="fw-list-style-type fw-pl-0 fw-fz-16 fw-font-mr">
                    <li class="fw-text-uppercase fw-mb-15 fw-color-dark-text">О компании</li>
                    <li><a href="#" class="fw-reset fw-block fw-mb-15 fw-color-text">Хлебпром</a></li>
                    <li><a href="#" class="fw-reset fw-block fw-mb-15 fw-color-text">Производство</a></li>
                    <li><a href="#" class="fw-reset fw-block fw-mb-15 fw-color-text">Политика компании</a></li>
                    <li><a href="#" class="fw-reset fw-block fw-mb-15 fw-color-text">Наша история</a></li>
                    <li><a href="#" class="fw-reset fw-block fw-mb-15 fw-color-text">Новости</a></li>
                </ul>

                <ul class="fw-list-style-type fw-pl-0 fw-pl-80 fw-fz-16 fw-font-mr">
                    <li class="fw-text-uppercase fw-mb-15 fw-color-dark-text">карьера</li>
                    <li><a href="#" class="fw-reset fw-block fw-mb-15 fw-color-text">Как мы работаем</a></li>
                    <li><a href="#" class="fw-reset fw-block fw-mb-15 fw-color-text">Как мы отдыхаем</a></li>
                    <li><a href="#" class="fw-reset fw-block fw-mb-15 fw-color-text">Как мы учимся</a></li>
                    <li><a href="#" class="fw-reset fw-block fw-mb-15 fw-color-text">Отличный старт студентам</a></li>
                    <li><a href="#" class="fw-reset fw-block fw-mb-15 fw-color-text">Вакансии</a></li>
                    <li><a href="#" class="fw-reset fw-block fw-mb-15 fw-color-text">Выпускникам компании</a></li>
                </ul>

                <ul class="fw-list-style-type fw-pl-0 fw-pl-80 fw-color-dark-text fw-fz-16 fw-text-uppercase fw-font-mr">
                    <li><a href="#" class="fw-reset fw-block fw-mb-20">Бренды</a></li>
                    <li><a href="#" class="fw-reset fw-block fw-mb-20">интернет-магазин</a></li>
                    <li><a href="#" class="fw-reset fw-block fw-mb-20">где купить</a></li>
                    <li><a href="#" class="fw-reset fw-block fw-mb-20">банк идей</a></li>
                    <li><a href="#" class="fw-reset fw-block fw-mb-20">партнерам</a></li>
                    <li><a href="#" class="fw-reset fw-block fw-mb-20">контакты</a></li>
                </ul>
            </div>

            <div class="right">
                <p class="fw-margin-0 fw-font-mr fw-color-dark-text fw-fz-16 fw-text-uppercase fw-mb-25">свяжитесь с нами</p>

                <select class="footer-select fw-fz-14 fw-text-uppercase fw-font-ml fw-mb-60" name="" id="">
                    <option value="1">выберите тему обращения</option>
                    <option value="1">выберите тему обращения1</option>
                    <option value="1">выберите тему обращения2</option>
                    <option value="1">выберите тему обращения3</option>
                </select>

                <p class="fw-margin-0 fw-fz-16 fw-text-uppercase fw-mb-15 fw-color-dark-text fw-mt-60">позвоните нам</p>

                <a class="fw-reset fw-fz-30 fw-mb-55 fw-color-text" href="tell:8 (800) 333-65-66">8 (800) 333-65-66</a>

                <div class="fw-flex fw-flex-left fw-pt-55 fw-fz-20 fw-flex-middle">
                    <a class="fw-reset fw-transition-300 fw-ml-0 fw-mr-10 fw-hover-color-pale-yellow" href="#"><i class="icon-vk"></i></a>
                    <a class="fw-reset fw-transition-300 fw-ml-10 fw-mr-10 fw-hover-color-pale-yellow" href="#"><i class="icon-facebook"></i></a>
                    <a class="fw-reset fw-transition-300 fw-ml-10 fw-mr-10 fw-hover-color-pale-yellow" href="#"><i class="icon-twitter"></i></a>
                    <a class="fw-reset fw-transition-300 fw-ml-10 fw-mr-10 fw-hover-color-pale-yellow" href="#"><i class="icon-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="fw-width-1-1 fw-pb-100 fw-flex fw-flex-space-between fw-pt-80 fw-flex-middle">
            <span class="fw-fz-12 fw-font-ml fw-color-gray-text fw-block fw-pl-40">© 2018 ОАО «Хлебпром»</span>

            <span class="fw-block fw-fz-40 fw-color-pale-yellow fw-font-ml">Ценим то, что делаем</span>
        </div>
    </div>
</footer>