<footer>
    <div class="container fw-bg-color-light-pale-yellow fw-pr-80 fw-flex fw-flex-space-between fw-flex-top fw-pl-100">
        <div class="left fw-flex fw-flex-left fw-flex-top">
            <ul>
                <li><a href="#">text</a></li>
                <li><a href="#">text</a></li>
                <li><a href="#">text</a></li>
                <li><a href="#">text</a></li>
                <li><a href="#">text</a></li>
                <li><a href="#">text</a></li>
            </ul>

            <ul>
                <li><a href="#">text</a></li>
                <li><a href="#">text</a></li>
                <li><a href="#">text</a></li>
                <li><a href="#">text</a></li>
                <li><a href="#">text</a></li>
                <li><a href="#">text</a></li>
            </ul>

            <ul>
                <li><a href="#">text</a></li>
                <li><a href="#">text</a></li>
                <li><a href="#">text</a></li>
                <li><a href="#">text</a></li>
                <li><a href="#">text</a></li>
                <li><a href="#">text</a></li>
            </ul>
        </div>

        <div class="right">
            <p>свяжитесь с нами</p>

            <select name="" id="">
                <option value="1">выберите тему обращения</option>
            </select>

            <p>позвоните нам</p>
            <a href="tell:8 (800) 333-65-66">8 (800) 333-65-66</a>

            <div class="fw-flex fw-flex-left fw-flex-middle">
                <a href="#">soc</a>
                <a href="#">soc</a>
                <a href="#">soc</a>
                <a href="#">soc</a>
            </div>
        </div>
    </div>
</footer>