<footer>
    <div class="container">
        <div class="footer-content-wrapper fw-relative fw-overflow-hidden fw-bg-color-light-pale-yellow fw-pl-100 fw-pr-80">
            <div class="footer-content-line footer-content-line-1  fw-width-1-1 fw-pt-70 fw-flex fw-flex-space-between fw-flex-top">
                {# hidden on desktop #}
                <div class="fw-hidden show-on-mobile">
                    <p class="js-mobile-toggle-menu mobile-toggle-menu-button fw-flex fw-flex-middle fw-fz-12 fw-text-uppercase fw-color-dark-text">меню <i class="icon-keyboard_arrow_down fw-font-mr fw-fz-14"></i></p>
                </div>
                {# / #}
                <div class="js-toggle-footer-menu left">
                    <div class="footer-menu-wrap fw-flex fw-flex-left fw-flex-top">
                        <ul class="fw-list-style-type fw-pl-0 fw-fz-16 fw-font-mr">
                            <li class="fw-text-uppercase fw-mb-15 fw-color-dark-text">О компании</li>
                            <li><a href="#"
                                   class="fw-reset fw-transition-300 fw-hover-color-pale-yellow fw-block fw-mb-15 fw-color-text">Хлебпром</a>
                            </li>
                            <li><a href="#"
                                   class="fw-reset fw-transition-300 fw-hover-color-pale-yellow fw-block fw-mb-15 fw-color-text">Производство</a>
                            </li>
                            <li><a href="#"
                                   class="fw-reset fw-transition-300 fw-hover-color-pale-yellow fw-block fw-mb-15 fw-color-text">Политика
                                    компании</a></li>
                            <li><a href="#"
                                   class="fw-reset fw-transition-300 fw-hover-color-pale-yellow fw-block fw-mb-15 fw-color-text">Наша
                                    история</a></li>
                            <li><a href="#"
                                   class="fw-reset fw-transition-300 fw-hover-color-pale-yellow fw-block fw-mb-15 fw-color-text">Новости</a>
                            </li>
                        </ul>

                        <ul class="fw-list-style-type fw-pl-0 fw-pl-80 fw-fz-16 fw-font-mr">
                            <li class="fw-text-uppercase fw-mb-15 fw-color-dark-text">карьера</li>
                            <li><a href="#"
                                   class="fw-reset fw-transition-300 fw-hover-color-pale-yellow fw-block fw-mb-15 fw-color-text">Как
                                    мы работаем</a></li>
                            <li><a href="#"
                                   class="fw-reset fw-transition-300 fw-hover-color-pale-yellow fw-block fw-mb-15 fw-color-text">Как
                                    мы отдыхаем</a></li>
                            <li><a href="#"
                                   class="fw-reset fw-transition-300 fw-hover-color-pale-yellow fw-block fw-mb-15 fw-color-text">Как
                                    мы учимся</a></li>
                            <li><a href="#"
                                   class="fw-reset fw-transition-300 fw-hover-color-pale-yellow fw-block fw-mb-15 fw-color-text">Отличный
                                    старт студентам</a></li>
                            <li><a href="#"
                                   class="fw-reset fw-transition-300 fw-hover-color-pale-yellow fw-block fw-mb-15 fw-color-text">Вакансии</a>
                            </li>
                            <li><a href="#"
                                   class="fw-reset fw-transition-300 fw-hover-color-pale-yellow fw-block fw-mb-15 fw-color-text">Выпускникам
                                    компании</a></li>
                        </ul>

                        <ul class="fw-list-style-type fw-pl-0 fw-pl-80 fw-color-dark-text fw-fz-16 fw-text-uppercase fw-font-mr">
                            <li><a href="#" class="fw-reset fw-transition-300 fw-hover-color-pale-yellow fw-block fw-mb-20">Бренды</a>
                            </li>
                            <li><a href="#" class="fw-reset fw-transition-300 fw-hover-color-pale-yellow fw-block fw-mb-20">интернет-магазин</a>
                            </li>
                            <li><a href="#" class="fw-reset fw-transition-300 fw-hover-color-pale-yellow fw-block fw-mb-20">где
                                    купить</a></li>
                            <li><a href="#" class="fw-reset fw-transition-300 fw-hover-color-pale-yellow fw-block fw-mb-20">банк
                                    идей</a></li>
                            <li><a href="#" class="fw-reset fw-transition-300 fw-hover-color-pale-yellow fw-block fw-mb-20">партнерам</a>
                            </li>
                            <li><a href="#" class="fw-reset fw-transition-300 fw-hover-color-pale-yellow fw-block fw-mb-20">контакты</a>
                            </li>
                        </ul>
                    </div>
                </div>

                {# hidden-on-mobile #}
                <div class="fw-hidden show-on-mobile fw-width-fit-content fw-max-width-170">
                    <a href="#" class="fw-block"><img src="images/logo.svg" class="fw-width-1-1" alt=""></a>
                    <span class="fw-relative fw-bottom-15 fw-fz-9 fw-font-ml fw-color-gray-text fw-block fw-pl-25 fw-pt-10">© 2018 ОАО «Хлебпром»</span>
                </div>
                {# / #}
                <div class="right">
                    <p class="fw-margin-0 fw-fz-16 fw-text-uppercase fw-mb-15 fw-color-dark-text">позвоните нам</p>

                    <a class="footer-phone-number fw-reset fw-transition-300 fw-hover-color-pale-yellow fw-fz-30 fw-mb-55 fw-color-text"
                       href="tell:8 (800) 333-65-66">8 (800) 333-65-66</a>

                    <button data-target-popup="feedback-popup" class="js-open-popup fw-reset fw-button-no-translate-arrow fw-pointer fw-mt-45 fw-button-submit fw-color-dark-text fw-flex fw-flex-left fw-flex-middle fw-width-fit-content fw-button">
                        <span class="fw-text-uppercase fw-font-msb fw-fz-14 fw-mr-15 fw-z-index-1 fw-relative fw-block">свяжитесь с нами</span>
                        <i class="icon-arrow fw-fz-18 fw-relative fw-z-index-1"></i>
                    </button>

                    <div class="footer-soc-menu fw-flex fw-flex-left fw-pt-60 fw-fz-20 fw-flex-middle">
                        <a class="fw-reset fw-transition-300 fw-ml-0 fw-mr-10 fw-hover-color-pale-yellow" href="#"><i
                                    class="icon-vk"></i></a>
                        <a class="fw-reset fw-transition-300 fw-ml-10 fw-mr-10 fw-hover-color-pale-yellow" href="#"><i
                                    class="icon-facebook"></i></a>
                        <a class="fw-reset fw-transition-300 fw-ml-10 fw-mr-10 fw-hover-color-pale-yellow" href="#"><i
                                    class="icon-twitter"></i></a>
                        <a class="fw-reset fw-transition-300 fw-ml-10 fw-mr-10 fw-hover-color-pale-yellow" href="#"><i
                                    class="icon-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="footer-content-line footer-content-line-2 fw-width-1-1 fw-pb-100 fw-flex fw-flex-space-between fw-pt-80 fw-flex-middle">
                <div class="hide-on-mobile fw-width-fit-content">
                    <a href="#" class="fw-block"><img src="images/logo.svg" class="fw-width-1-1" alt=""></a>
                    <span class="fw-relative fw-bottom-15 fw-fz-12 fw-font-ml fw-color-gray-text fw-block fw-pl-65">© 2018 ОАО «Хлебпром»</span>
                </div>

                <span class="footer-appreciate-title fw-block fw-fz-40 fw-color-pale-yellow fw-font-ml">Ценим то, что делаем</span>
            </div>
        </div>

        <div class="after-footer-block container fw-pt-15 fw-pb-15">
            <div class="after-footer-block-wrap fw-flex fw-flex-middle fw-flex-space-between fw-width-1-1">
                <div class="after-footer-block-left fw-flex fw-flex-left fw-flex-middle">
                    <div class="fw-width-fit-content  fw-flex fw-flex-middle">
                        <div class="lang-slider">
                            <input type="checkbox" name="slider" class="lang-slider-checkbox" id="sliderSwitch">
                            <label class="lang-slider-label" for="sliderSwitch">
                                <span class="lang-slider-circle fw-width-24 fw-height-24 fw-border-radius-percent-50"></span>
                            </label>
                        </div>

                        <span class="fw-fz-14 fw-text-uppercase fw-font-ml fw-color-gray-text fw-ml-15">English</span>
                    </div>

                    <ul class="fw-pl-85 fw-margin-0 fw-opacity-05 fw-list-style-type fw-flex fw-flex-left fw-flex-middle fw-fz-12 fw-color-gray-text fw-font-ml">
                        <li>
                            <a class="fw-reset fw-transition-300 fw-hover-color-pale-yellow fw-pr-30 fw-border-style-solid-right fw-border-width-1 fw-border-color-gray-text"
                               href="#">Политика конфиденциальности</a>
                        </li>
                        <li>
                            <a class="fw-reset fw-transition-300 fw-hover-color-pale-yellow fw-pl-30" href="#">Пользовательское
                                соглашение</a>
                        </li>
                    </ul>

                    <ul class="fw-pl-85 fw-margin-0 fw-list-style-type fw-flex fw-flex-left fw-flex-middle fw-fz-12 fw-color-gray-text fw-font-ml">
                        <li>
                            <a class="fw-reset fw-transition-300 fw-hover-color-pale-yellow fw-pr-30 fw-border-style-solid-right fw-border-width-1 fw-border-color-gray-text"
                               href="#"> Условия отбора контрагентов</a>
                        </li>
                        <li>
                            <a class="fw-reset fw-transition-300 fw-hover-color-pale-yellow fw-pl-30" href="#">Существенные
                                условия договоров поставки</a>
                        </li>
                    </ul>
                </div>

                <div class="after-footer-block-right fw-flex fw-flex-right fw-flex-middle">
                    <span class="fw-fz-12 fw-color-gray-text fw-font-ml fw-mr-10">Разработка сайта</span>
                    <a class="fw-reset fw-block" href="#">
                        <img src="images/areal_logo_black.svg"
                             class="fw-block fw-max-width-140 fw-width-1-1"
                             alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>