<div class="d-none d-md-block">
    <div class="container">
        <img src="images/promo/burger-king.jpg" class="fw-width-1-1" alt="">
    </div>
</div>

<footer class="footer fw-pt-40 fw-pb-40">
    <div class="container">
        <div class="d-flex align-items-between row flex-wrap flex-md-nowrap">
            <div class="col-12 col-md-3 mb-4 mb-md-0 text-center text-md-left fw-flex-shrink-no">
                <img src="images/logo.jpg" alt="">
            </div>
            <div class="col text-center fw-fz-13">
                <div class="d-flex justify-content-center">
                    <div>
                        <a href="#" class="fw-color-dark">Наши вакансии</a>
                    </div>
                    <div class="fw-ml-15 fw-mr-15">|</div>
                    <div>
                        <a href="#" class="fw-color-dark">Партнерам</a>
                    </div>
                    <div class="fw-ml-15 fw-mr-15">|</div>
                    <div>
                        <a href="#" class="fw-color-dark">Реклама на сайте</a>
                    </div>
                </div>
                <div class="justify-content-center fw-mt-20 d-none d-sm-flex">
                    <div class="fw-mr-15">
                        Работодателям:
                    </div>
                    <div>
                        <a href="#" class="fw-color-gray">Прайс лист</a>
                    </div>
                    <div class="fw-ml-15 fw-mr-15">|</div>
                    <div>
                        <a href="#" class="fw-color-gray">Производственный календарь</a>
                    </div>
                </div>
                <div class="justify-content-center fw-mt-10 d-none d-sm-flex">
                    <div class="fw-mr-15">
                        Соискателям:
                    </div>
                    <div>
                        <a href="#" class="fw-color-gray">Продвижение резюме</a>
                    </div>
                    <div class="fw-ml-15 fw-mr-15">|</div>
                    <div>
                        <a href="#" class="fw-color-gray">Работа в других городах</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 text-center text-md-right mt-4 mt-md-0 fw-flex-shrink-no">
                <script type="text/javascript">(function() {
                        if (window.pluso)if (typeof window.pluso.start == "function") return;
                        if (window.ifpluso==undefined) { window.ifpluso = 1;
                            var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                            s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                            s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                            var h=d[g]('body')[0];
                            h.appendChild(s);
                        }})();</script>
                <div class="pluso" data-background="#ebebeb" data-options="medium,square,line,horizontal,nocounter,theme=07" data-services="vkontakte,odnoklassniki,facebook,twitter,google"></div>
            </div>
        </div>
    </div>
</footer>