<header>
    <div class="container">
        <div class="fw-flex fw-flex-middle fw-flex-space-between fw-pt-30 fw-pb-30">
            <div class="logo fw-width-210">
                <a href="#" class="fw-block"><img src="/images/logo.svg" class="fw-width-1-1" alt=""></a>
            </div>

            <div class="fw-flex fw-flex-middle fw-flex-right">
                <ul class="fw-flex fw-flex-middle fw-flex-left fw-text-left fw-fz-16 fw-color-text fw-list-style-type fw-mr-110">
                    <li class="fw-ml-20 fw-mr-20"><a href="#" class="fw-reset">О компании</a></li>
                    <li class="fw-ml-20 fw-mr-20"><a href="#" class="fw-reset">Бренды</a></li>
                    <li class="fw-ml-20 fw-mr-20"><a href="#" class="fw-reset">Интернет-магазин</a></li>
                    <li class="fw-ml-20 fw-mr-20"><a href="#" class="fw-reset">Партнерам</a></li>
                    <li class="fw-ml-20 fw-mr-20"><a href="#" class="fw-reset">Карьера</a></li>
                    <li class="fw-ml-20 fw-mr-20"><a href="#" class="fw-reset">Контакты</a></li>
                </ul>

                <div class="fw-flex fw-flex-middle fw-flex-left fw-text-left fw-fz-16 fw-color-text fw-mr-140">
                    <i class="icon-place fw-fz-18 fw-mr-10"></i>
                    <p>Ярославль</p>
                </div>

                <a href="#" class="fw-flex fw-flex-middle fw-reset fw-flex-left fw-color-dark-red">
                    <span class="icon-menu fw-fz-40 fw-mr-20"></span>
                    <span class="fw-fz-16">Меню</span>
                </a>
            </div>
        </div>

        {# header content #}
        <div class="fw-width-1-1">
            <div class="header-content fw-width-1-1 fw-flex fw-flex-top fw-flex-left fw-flex-column fw-pl-95 fw-pb-290 fw-pt-220 fw-text-left fw-color-white">
                <span class="fw-fz-14 fw-font-msb">Торгово-производственная компания «Хлебпром»</span>
                <h1 class="fw-mt-40 fw-fz-60">Торты №1 в России</h1>
                <p class="fw-fz-18 fw-mt-40 fw-max-width-615 fw-width-1-1 fw-line-height-30">Торгово-производственная компания ОАО «Хлебпром» основана в 1982 году. Входит в число ведущих российских производителей кондитерского рынка. Компания насчитывает более 4000
                    сотрудников, включает четыре производственные площадки.
                </p>
            </div>
        </div>
    </div>
</header>