<div class="top-line fw-bg-color-blue fw-relative navbar navbar-light navbar-expand-md">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between fw-width-1-1">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top-line-navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="top-line-navbar">
                <ul class="top-line__menu navbar-nav fw-reset d-flex">
                    <li class="fw-reset active dropdown">
                        <a  class="fw-color-white" data-toggle="dropdown" href="#" role="button">Ищу работу</a>
                        <div class="dropdown-menu fw-pl-15 fw-pr-15">
                            <ul class="standard-list">
                                <li><a class="dropdown-item" href="#">Создать резюме</a></li>
                                <li><a class="dropdown-item" href="#">Как улучшить резюме</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="fw-reset"><a class="fw-reset fw-color-white" href="#">Ищу сотрудников</a></li>
                    <li class="fw-reset"><a class="fw-reset fw-color-white" href="#">Каталог компаний</a></li>
                    <li class="fw-reset"><a class="fw-reset fw-color-white" href="#">Проекты</a></li>
                </ul>
            </div>
            <div class="d-flex align-items-center">
                <div class="dropdown fw-relative fw-mr-30">
                    <div class="d-flex align-items-center top-line__profile fw-pl-15 fw-pr-15"
                         data-toggle="dropdown" role="button">
                        <div class="fw-mr-10">
                            <i class="icon icon-white-profile"></i>
                        </div>
                        <div class="fw-color-white fw-text-underline d-none d-md-block">
                            Роман Сыромятников
                        </div>
                    </div>
                    <div class="dropdown-menu fw-pl-15 fw-pr-15">
                        <ul class="standard-list">
                            <li><a class="dropdown-item" href="#">Настройки</a></li>
                            <li><a class="dropdown-item" href="#">Рассылки</a></li>
                            <li><a class="dropdown-item" href="#">Выход</a></li>
                        </ul>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="fw-color-gray d-flex align-items-center" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>Алматы</span>
                        <i class="icon icon-white-double-arrow fw-ml-20"></i>
                    </a>

                    <div class="dropdown-menu fw-pl-15 fw-pr-15">
                        <ul class="standard-list">
                            <li><a class="dropdown-item" href="#">Астана</a></li>
                            <li><a class="dropdown-item" href="#">Шымкент</a></li>
                            <li><a class="dropdown-item" href="#">Караганда</a></li>
                            <li><a class="dropdown-item" href="#">Актобе</a></li>
                            <li><a class="dropdown-item" href="#">Тараз</a></li>
                            <li><a class="dropdown-item" href="#">Павлодар</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<header class="header">
    <div class="container">
        <div class="d-flex fw-pt-30 fw-pb-30 fw-pt-15@xs fw-pb-15@xs align-items-center flex-wrap">
            <div class="logo-wrapper">
                <a href="/" class="fw-reset"><img src="images/logo.jpg" alt=""></a>
            </div>
            <div class="col fw-pr-0@xs fw-pl-0@xs">
                <form action="#" class="header__form d-flex align-items-center flex-wrap fw-relative">
                    <div class="header__form-input col">
                        <input type="text" class="standard-input col-12 fw-reset fw-pt-8 fw-pb-8" placeholder="Ищу...">
                    </div>
                    <div class="fw-color-gray">|</div>
                    <div class="header__form-select">
                        <select class="custom-select custom-select--small">
                            <option value="">123</option>
                            <option value="">123</option>
                            <option value="">123</option>
                            <option value="">123</option>
                            <option value="">123</option>
                        </select>
                    </div>
                    <div class="header__form-button">
                        <button class="btn">Найти</button>
                    </div>
                </form>
            </div>
            <div class="d-none d-md-block">
                <a href="#" class="fw-color-blue fw-text-underline">Расширенный поиск</a>
            </div>
        </div>
    </div>
</header>