<!-- Modal -->
<div class="modal fade modal-cities" id="cities-modal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content fw-padding-20 fw-pl-30 fw-pr-30">
            <div class="modal-body">
                <div class="fw-mb-20">
                    <input type="text" class="form-control fw-bg-color-gray-light" placeholder="Быстрый поиск">
                </div>
                <div id="accordion">
                    <div class="fw-pt-10 fw-pb-10">
                        <div>
                            <div class="fw-fz-18 fw-text-600" data-toggle="collapse"
                                  aria-expanded="true" data-target="#collapse-1">
                                <div class="icon icon-chevron-right fw-mr-10"></div>
                                <div class="d-inline-block align-middle">Россия</div>
                            </div>
                        </div>

                        <div class="collapse" data-parent="#accordion" id="collapse-1">
                            <div>
                                <ul class="fw-reset">
                                    {% for i in 1..5 %}
                                        <li class="fw-mt-15 fw-mb-15 fw-ml-20">
                                            <label>
                                            <span class="radio-box d-inline-block align-middle">
                                                <input type="radio" name="1" checked="">
                                                <span class="radio-box__detector"></span>
                                            </span>
                                                <span class="d-inline-block align-middle">Алматы</span>
                                            </label>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="fw-pt-10 fw-pb-10">
                        <div>
                            <div class="fw-fz-18 fw-text-600" data-toggle="collapse"
                                 aria-expanded="true" data-target="#collapse-2">
                                <div class="icon icon-chevron-right fw-mr-10"></div>
                                <div class="d-inline-block align-middle">Россия</div>
                            </div>
                        </div>

                        <div class="collapse" data-parent="#accordion" id="collapse-2">
                            <div>
                                <ul class="fw-reset">
                                    {% for i in 1..5 %}
                                        <li class="fw-mt-15 fw-mb-15 fw-ml-20">
                                            <label>
                                            <span class="radio-box d-inline-block align-middle">
                                                <input type="radio" name="1" checked="">
                                                <span class="radio-box__detector"></span>
                                            </span>
                                                <span class="d-inline-block align-middle">Алматы</span>
                                            </label>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fw-padding-15">
                <button type="button" class="btn btn-empty fw-mr-15" data-dismiss="modal">Отменить</button>
                <button type="button" class="btn btn-blue">Выбрать</button>
            </div>
        </div>
    </div>
</div>